[2013-07-10 20:38] matchu opened #1 "You need a README."
I don't know which file to read.

[2013-10-16 02:49] evelynmitchell opened #3 "LaTeX to HTML6"
this is awesome
https://github.com/Mathapedia/LaTeX2HTML5

[2013-10-16 03:15] #3 closed, assigned to nobody

[2014-08-29 07:23] spicyj opened #4 "Convert Bin + Rel/Close/Punct to Ord + Rel/Close/Punct"
6. If the current item is a Rel or Close or Punct atom, and if the most recent previous atom was Bin, change that previous Bin to Ord.

[2014-08-29 07:25] spicyj opened #5 "Embedding $...$ in \text"
This should work:

[code]

[2014-08-29 07:31] sophiebits opened #6 "superscripts and subscripts are missing some amount of right padding"
Compare:

[code]

[2014-08-29 07:35] sophiebits opened #7 "accent support"
\hat, \vec, etc

[2014-08-29 07:36] sophiebits opened #8 "\sum, \int, \lim, etc"

[2014-08-29 07:49] sophiebits opened #9 "\binom"

[2014-08-29 19:29] #6 closed, assigned to nobody

[2014-08-29 21:14] sophiebits opened #10 "Fix general parsing strategy"
`\frac\frac123` should give an error rather than being interpreted as `\frac{\frac{1}{2}}{3}` as it is now.

[2014-08-29 23:55] xymostech opened #12 "Multiple primes are not supported"
Things like `a'''` don't work and throw a "multiple superscript" error, when they should work.

[2014-08-30 00:13] xymostech opened #13 "Superscript placement doesn't work"
Right now, we add a 0.05em margin-left to superscripts and subscripts in order to make things like `y'` look reasonable. The correct approach to solving this should be found.

[2014-08-30 07:00] xymostech opened #14 "Add \sqrt"

[2014-08-30 07:30] xymostech opened #15 "Support unicode in text"
e.g., "\text{µmol}"

[2014-08-30 07:31] xymostech opened #16 "Handle unicode symbols"
E.g. ≥

[2014-08-30 07:33] xymostech opened #17 "Fix font license metadata"
The fonts say, "Copyright Design Science"; they should say copyright us, I think. See:

http://en.wikipedia.org/wiki/SIL_Open_Font_License

[2014-08-30 07:35] xymostech opened #18 "Make other kinds of overlines work"
Now, `\overline` works, but things like `\overleftrightarrow` don't.

[2014-08-30 07:35] xymostech opened #19 "Add font styles like \mathrm, \mathcal, etc."

[2014-08-30 07:56] xymostech opened #20 "Add support for % comments"

[2014-09-02 04:21] dbieber opened #22 "reference the TeXbook in js comments"
In order to read this code one has to go back and forth between the TeXbook and the code. I think it would go a long way if wherever possible the code were commented saying which rule or page from the TeXbook it is implementing.

If there's a better medium for expressing thoughts like this than "Issues", I'm all ears.

[2014-09-02 09:40] sophiebits opened #23 "\cdots, \ldots"

[2014-09-02 22:46] xymostech opened #24 "Add manual style changes (e.g. \displaystyle)"
This should be very easy to parse and implement with implicit groups.

[2014-09-03 07:19] xymostech opened #25 "Italic correction should apply only to superscripts (not subscripts)"
e.g., in `f^2_2` the 2s should not line up.

[2014-09-03 21:14] alopatin opened #26 "Ability to typeset all math on a page"
Ideally, there would be a drop-in (or close to it) way for people currently using MathJax on their sites to switch to mostly using KaTeX, with MathJax as a fallback (like Khan Academy already does). Two APIs that might be provided:

1) Render a string into LaTeX at a given place in the DOM
2) Render all marked up strings (e.g. `$e^x$`) in a given page into LaTeX.

[2014-09-04 03:15] xymostech opened #27 "Fix metrics"
Our metrics are messed up. Italic correction doesn't work, and some delimiters don't have the right heights.

[2014-09-04 03:15] #27 closed, assigned to xymostech

[2014-09-05 22:21] #17 closed, assigned to xymostech

[2014-09-06 22:20] #14 closed, assigned to xymostech

[2014-09-07 07:35] xymostech opened #28 "Get rid of custom colors"
Currently, we have functions like "\blue", which produce things in line with KA exercise colors, but these colors shouldn't be enforced/available for everyone. Instead, we should make a way to dynamically add extensions (like macros maybe).

[2014-09-07 07:35] xymostech opened #29 "Add \not"

[2014-09-08 07:20] xymostech opened #30 "Fix spacing of implicit groups"
In `a \Huge +`, there should be a ord-bin-sized space before the +, not an ord-ord-sized space.

[2014-09-10 03:28] xymostech opened #32 "Make sure fonts work on windows"

[2014-09-10 06:18] #10 closed, assigned to xymostech

[2014-09-10 06:18] #12 closed, assigned to xymostech

[2014-09-10 22:09] xymostech opened #33 "Make things look better at small font sizes"
![image](https://cloud.githubusercontent.com/assets/217900/4226395/14eaf35c-3937-11e4-9e9f-7cca1909a102.png)

[2014-09-10 23:31] #33 closed, assigned to xymostech

[2014-09-11 00:10] #24 closed, assigned to xymostech

[2014-09-11 05:58] xymostech opened #34 "Make KaTeX non-doctype-dependent"
Some preliminary testing shows that if there is no doctype, things don't display correctly. Figure out what's up with that.

[2014-09-11 06:00] #34 closed, assigned to nobody

[2014-09-12 00:21] xymostech opened #35 "Add \limits and \nolimits"

[2014-09-12 08:24] #13 closed, assigned to xymostech

[2014-09-12 21:59] #8 closed, assigned to xymostech

[2014-09-12 22:02] #23 closed, assigned to nobody

[2014-09-12 23:44] #32 closed, assigned to xymostech

[2014-09-14 04:30] #7 closed, assigned to xymostech

[2014-09-15 02:23] #22 closed, assigned to xymostech

[2014-09-15 09:42] #1 closed, assigned to xymostech

[2014-09-15 18:53] spott opened #36 "partial derivatives don't render in the website:"
The `\partial` command (outputs: ∂) doesn't work in the webpage.  Commonly used for partial derivatives, it doesn't seem to be supported.

[2014-09-15 18:56] felipellrocha opened #37 "\newenvironment"
Are there any plans to add support for \newcommand, and \newenvironment?

[2014-09-15 19:10] dylanb opened #38 "Make KaTeX accessible"
Make KaTeX accessible to people with disabilities in particular screen reader users as they are most affected by the current limitations

[2014-09-15 20:08] jwmerrill opened #40 "Square root overbar is position below top of radical symbol "leg""
![image](https://cloud.githubusercontent.com/assets/48409/4277932/63382afe-3d13-11e4-855e-60b30e297e10.png)

Output on right is from latex for comparison. In KaTeX, a small "nub" appears at one of the joints in the square root symbol. I'm on OS 10.9.4 and I see this issue in both Chrome and Firefox.

[2014-09-15 20:10] jwmerrill opened #41 "Exponents sometimes collide with fraction bars"
![image](https://cloud.githubusercontent.com/assets/48409/4277932/63382afe-3d13-11e4-855e-60b30e297e10.png)

Output on right is from latex for comparison. In KaTeX, the `-6 \pi` and `-8 \pi` exponents collide with the fraction bars above them. I'm on OS 10.9.4 and I see this issue in both Chrome and Firefox.

[2014-09-15 20:56] daturkel opened #42 "Add support for alternative math fonts"
LaTeX has support for quite a few math fonts/alphabets. #19 references the need for \mathrm (roman fonts), but there are quite a few, as we can see [here](http://tex.stackexchange.com/questions/58098/what-are-all-the-font-styles-i-can-use-in-math-mode). The high priority ones, which don't require any nonstandard packages, would probably be:
\mathrm
\mathcal
\mathbb (requires amsfonts/amssymb)
\mat

[2014-09-15 21:01] vks opened #43 "add support for matrices"
It would be great to support things like `\begin{pmatrix} 1 & 0 \\ 0 & 1 \end{pmatrix}` like MathJax does.

[2014-09-16 04:04] uranusjr opened #45 "Some characters have higher baseline than others"
![screen shot 2014-09-16 at 11 39 30](https://cloud.githubusercontent.com/assets/605277/4282229/9b44b0c6-3d53-11e4-997d-41183de6e48e.png)

Top: http://khan.github.io/KaTeX/ in iframe. Bottom: custom rendering.

The smaller characters have a higher baseline than others. The `k`s even look like superscript.

[HTML file](https://gist.github.com/uranusjr/2882e927d055d02891f7). I used the CSS/JS/font f

[2014-09-16 06:37] akerbos opened #46 "Indicate errors instead of showing an empty box"
When I use a command that is not supported or have unbalanced braces, KaTeX (at least its [demo](http://khan.github.io/KaTeX/)) won't output anything at all. That is bad for obvious reasons.

Instead, output an informative error message, ideally highlighting unknown commands and parsing the rest for syntactically well-formed expressions, or printing something like "too many {".

[2014-09-16 07:41] lidel opened #47 "Array (or Tabular) support is missing"
One of less known use cases for TeX on a webpage is [ability to display data in tabular form][2].

The Other Library does not implement tabular but they [suggest][1] array environment as a replacement:

[code]

which renders:

![](https://meta-discourse.global.ssl.fastly.net/uploads/default/34517/98bd1768b9e42654.png)

Sadly, I was unable to render the `array` above at http://khan.github.io/KaTeX/

[2014-09-16 07:50] dryabov opened #48 "Cubic (and others) roots are not supported"
Example: \sqrt[3]{x} should be rendered as ![](http://latex2png.com/output//latex_f5ae4867e22efaa63e4b1a2df960f3ef.png)

[2014-09-16 08:15] akerbos opened #49 "Incorporate existing symbol mappings"
Some conversion tools from LaTeX to unicode exist, e.g. [this](https://github.com/ypsu/latex-to-unicode); it should be easy to import their symbol tables.

[2014-09-16 08:17] bartolsthoorn opened #50 "mhchem extension support"
I'm switching from _MathJax_ to _KaTeX_, but support for TeX extensions is currently missing. More specifically, I'd really like to use the `mhchem` extension: http://www.ctan.org/pkg/mhchem

For the record, this is how _MathJax_ supports it: http://docs.mathjax.org/en/latest/tex.html#mhchem

[2014-09-16 09:19] kasperpeulen opened #51 "\mathbb unicode to LaTeX mapping"
I thought this list may be helpful for you guys, not sure how to exactly contribute to KaTeX.

[code]

[2014-09-16 10:11] houkanshan opened #52 "\cap & \cup"
Thanks!

[2014-09-16 11:50] yassersouri opened #53 "add support for \ell"
Hi, very nice project. Good job.

Please add support for symbols like `\ell` or in general the _other symbols_ mentioned in http://en.wikibooks.org/wiki/LaTeX/Mathematics#List_of_Mathematical_Symbols.

Thanks

[2014-09-16 15:34] mildsunrise opened #55 "KaTeX should totally have a CLI"
I just saw KaTeX and love it! I usually have Node at the server, but that other project is written in another language (Python) and I'd like to render math from there.

It'd be awesome if this project had a simple CLI, that reads input and renders the HTML to stdout, to easily access KaTeX magic from other environments.

It would be added to `package.json`:

[code]

So that `sudo npm install -g ka

[2014-09-16 16:34] jonnybarnes opened #56 "double and triple integrals don't work"
The top gets cut off and the limits of the integration aren't positioned properly either.

[2014-09-16 22:41] phoenixeliot opened #60 "Square root line position is inconsistent (depending on its contents)"
This is on a Retina MBP.

The line above the contents of a square root is inconsistently placed. Interestingly, I just tested this on writelatex.com and they have a similar, but not identical, issue.

Some symbols (seemingly dependent on their height and categorization) cause this issue while others do not. All numerical digits cause this issue, along with parentheses. Short letters (like 'a') res

[2014-09-16 23:20] #56 closed, assigned to nobody

[2014-09-16 23:46] Pomax opened #61 "feature request: align / align* support"
for the simple reason that it's one of the most used environments (along with `matrix` and `array`) =)

[2014-09-16 23:52] warrengm opened #62 "Add support for \forall, \exists, \subset, and logical symbols."
Fantastic project. It has been working very well, however it doesn't render quantifiers, logical symbols such as \Leftrightarrow and \wedge, and set notation such as \subseteq, \varnothing, and \cap. These symbols are frequently used so their addition would be greatly appreciated. Thanks.

[2014-09-17 03:11] Pomax opened #64 "using render(...).success(...).error(...) format rather than throwing?"
Given the rising popularity of promisses and the Node approach of success/error routing rather than throwing errors, it might be nice to make the `.render` and `.renderToString` functions return objects that can bind `success` and `error` handlers. That way it's much easier to write things like
[code]

[2014-09-17 03:40] Pomax opened #65 "problems with unicode"
Tried to convert the following:

[code]

But got an unexpected error about the text used:

[code]

Given native-unicode XeLaTeX, the (somewhat misguided but mostly fully functional) `utf8` package in regular LaTeX, and the unicode support in HTML, CSS and JS, that should probably not be erroneous but parsed like any other "letter"

(I remember reading you based part of this on the original TeX  Bo

[2014-09-17 03:58] #25 closed, assigned to nobody

[2014-09-17 04:04] Pomax opened #66 "Integral symbol too small, interval values seem too big/placed incorrectly"
Comparison shot between MathJax and KaTeX for definite integrals:

![image](https://cloud.githubusercontent.com/assets/177243/4298346/c0f5dd0a-3e1f-11e4-8690-ac36a2f2499a.png)

[2014-09-17 04:57] phoenixeliot opened #68 "Integral symbol is chopped off when output is larger than draw area"
Split from this: https://github.com/Khan/KaTeX/issues/56

Integral symbols are chopped off strangely when the formula you enter is too long for the area it's in.

![screen shot 2014-09-16 at 5 02 41 pm](https://cloud.githubusercontent.com/assets/491376/4298621/0cb69e9e-3e27-11e4-9ee5-c226daa05058.png)

![screen shot 2014-09-16 at 5 02 49 pm](https://cloud.githubusercontent.com/assets/491376/429861

[2014-09-17 09:09] SamyPesse opened #69 "Error with same formula (probably encoding)"
I'm currently working on building a KaTex plugin for [GitBook](https://github.com/GitbookIO/gitbook) (as an alternative to MathJax).

But I have a problem with my tests, a formula is crashing when extracted from page (server-side using [cheerio](https://www.npmjs.org/package/cheerio), here is [the complete code](https://github.com/GitbookIO/plugin-katex/blob/master/index.js#L23)), but when running

[2014-09-17 09:17] #69 closed, assigned to nobody

[2014-09-17 22:33] certik opened #74 "Add support for \over"
That's also one of the problems in #69.

[2014-09-18 00:27] fplam opened #76 "add a position property to Error"
When the render function fails because of a bad input, it throws an _Error_ (as it should). The Error object has a _message_ property that describes the error. Within this message, I can find the position of the error. It would be great if the Error object also had a separate _position_ integer property. This would make it easier for me to craft custom error messages that highlight the problem to

[2014-09-19 00:47] matthaywardwebdesign opened #78 "Add support for automatic rendering of tags"
Not sure whether this would be something that is needed, but I know I personally would use.

We should add the ability to automatically render all math inside a `<math>` tag.

For example

`<math>y=x^{22}+4</math>`

Would be rendered and automatically replaced with the rendered string.

I have this working and would be happy to submit a pull request provided that it is ok.

[2014-09-19 05:06] #52 closed, assigned to nobody

[2014-09-19 09:15] murkle opened #84 "Add support for \binom"
eg \binom{3}{4}

Thanks, KaTeX is looking amazing already!

[2014-09-19 09:22] murkle opened #85 "Add support for \cfrac"
As a quick fix would be nice to have it as a synonym for \frac

For later here's an example of the difference between \frac and \cfrac
http://malinc.wikidot.com/insert-formulas

[2014-09-19 09:29] himamis opened #86 "Support for the \partial symbol"
It would be nice to have it.

[2014-09-19 15:25] #51 closed, assigned to nobody

[2014-09-19 15:37] bigant3323 opened #88 "mr.b"

[2014-09-19 15:38] #88 closed, assigned to nobody

[2014-09-19 18:51] #55 closed, assigned to nobody

[2014-09-19 20:47] hastebrot opened #90 "Support for non-standard macros \class and \cssId"
Hi!

Support for the [TeX HTML extension from MathJax](http://docs.mathjax.org/en/latest/tex.html#html) in the output of KaTeX would be nice.

---

Excerpt from the docs:

The HTML extension gives you access to some HTML features like styles, classes, element ID’s and clickable links. It defines the following non-standard macros:
- `\class{name}{math}`: Attaches the CSS class name to the output as

[2014-09-19 21:04] #86 closed, assigned to nobody

[2014-09-21 18:32] ghost opened #95 "Expressions like a^b^c not parsed correctly"
I end up having to write a^{b^c} instead

[2014-09-21 18:34] #95 closed, assigned to nobody

[2014-09-21 19:52] sophiebits opened #98 "\sqrt[3]{x} should throw"
(Really, it should work (#48), but it's much better for it to throw rather than fail silently and parse as equivalent to `\sqrt{[}3]x` which is what's currently happening.)

[2014-09-21 20:37] #53 closed, assigned to nobody

[2014-09-22 00:36] GlassGhost opened #100 "Automatic Rendering"
Really wish [how to automatically display math for all equations on a page](https://gist.github.com/GlassGhost/3ae548931c766f21de4d#file-test-html-L15-L20), was somwhere in the readme, it really took me a while to find.

Anyways the bug I'm getting in the latest Chromium browser is Line 11 "just works", however more complicated equations crash AND make all future lines crash; for instance line 13

[2014-09-22 06:31] utensil opened #103 "Auto generate supported function list"
Awesome project!

Currently KaTeX doesn't support all the symbols that LaTeX supports and people use. The supported function list is important for people who are evaluating KaTeX.

This list is:
- currently manually maintained and it seems to be not up-to-date, e.g. symbols added by #72 are not listed
- not mentioned in [Contributing to KaTeX](https://github.com/Khan/KaTeX/blob/master/CONTRIBUTING

[2014-09-23 16:08] hbq1 opened #108 "Add support for \cup and \cap"

[2014-09-23 17:35] ctrlcctrlv opened #109 "safe mode (user input mode)"
I don't know what the policy is about LaTeX content posted to UGC sites, whether or not you're patching bugs that deal with this.

However the following TeX was found by my users and they used it to (temporarily) break my site until I filtered \rule:

[code]

I think it should have an upper maximum.

[2014-09-23 21:08] #108 closed, assigned to nobody

[2014-09-23 21:08] #76 closed, assigned to nobody

[2014-09-23 21:39] xymostech opened #111 "\limsup, etc should have a small space in the middle"

[2014-09-23 22:23] jmeas opened #114 "Include built files in the repository"
This will allow folks to take advantage of all of the perks that package managers provide.

If you're strictly using KaTeX on the server, then you won't run into this issue as you won't really need the built files. But when working on the client it's convenient to not have to worry about building the project, as you can just reference the built files directly.

For small projects [the manual insta

[2014-09-24 01:55] jamesplease opened #116 "Add linting to the build step"
While browsing the library I noticed a few things in the code could have been caught with a tool like [JSHint](http://www.jshint.com/). For instance, currPos is defined twice in this scope ([one](https://github.com/Khan/KaTeX/blob/master/src/buildCommon.js#L183), [two](https://github.com/Khan/KaTeX/blob/master/src/buildCommon.js#L229)).

These aren't things that would make tests fail nor would the

[2014-09-24 03:24] jamesplease opened #118 "Spec runner for running the tests in the browser"
Is there a way to run the unit tests in the browser? If there isn't, and there's interest in this, I can work on adding a spec runner file. It's convenient to be able to use dev tools when making changes to the code.

A v2 version of this feature could involve watch/livereload to make things even more convenient.

[2014-09-24 06:08] #118 closed, assigned to nobody

[2014-09-24 15:29] spillej opened #120 "Support for \partial"
\frac{\partial u}{\partial t}
does not work

[2014-09-24 17:13] #84 closed, assigned to nobody

[2014-09-24 20:24] sophiebits opened #121 "Support $...$ inside \text"
We should support embedding math inside a \text command using `$...$` delimiters and perhaps also `\( ... \)`. This shouldn't be too hard but there are a couple things to watch out for:
- It's not enough to do a simple match on `/\$.*?\$/` because something like `\text{I have $\$20$.}` should work and show "I have $20."
- In a script, the font should be smaller but it seems that the spacing is as

[2014-09-24 22:08] #121 closed, assigned to nobody

[2014-09-24 22:31] #100 closed, assigned to nobody

[2014-09-25 01:20] jmeas opened #122 "Symbol aliases"
Some symbols have aliases, like `\wedge` and `\land`. From what I can see KaTeX doesn't support these aliases. There are at least two options to support this functionality:
1. Add a new property on each symbol for alias(es)
2. Add duplicate symbols

Thoughts?

[2014-09-25 09:29] Hywan opened #123 "Alternative font support (AMS Euler, STIX, etc)"
Hello :-),

I use this font for some projects: https://github.com/khaledhosny/euler-otf. This is an open-source port of AMS Euler, called NeoEuler. I wonder how much difficult would it be to use NeoEuler with KaTeX?

Thanks!

[2014-09-25 11:54] hbq1 opened #124 "Will n-th roots (such as \sqrt[3]{2}) be supported?"
Really necessary feature

[2014-09-25 13:00] mbourne opened #125 "Hanging indent causes problems"
Hi

If the paragraph has this CSS:

.myIndent{text-indent:-1em;padding-left:1em}

Then KaTeX looks like this:

![image](https://cloud.githubusercontent.com/assets/7541940/4404636/74e97274-44b3-11e4-809e-de3363fde857.png)

This is how it looks without the indent applied:

![image](https://cloud.githubusercontent.com/assets/7541940/4404656/be08be88-44b3-11e4-9f12-c6948caa55df.png)

Seems to be the s

[2014-09-26 00:30] jmeas opened #128 "Symbols – delimiter 'duplicates' in Mathjax"
In three cases, Mathjax creates a different output for a given input when the symbol is used as a delimiter.

These three cases are, `\lt`, `\gt` and `\backslash`.

Like KaTeX, Mathjax uses the input as the property keys in its objects. It handles these duplicate entry by having multiple objects for different categories, and also with what might be an inconsistent naming schene. Delimiters, for in

[2014-09-27 02:19] mbourne opened #129 "Google group for KaTeX?"
I actually have a question, rather than an issue, but couldn't find anywhere to ask my question. Hence the   Google group suggestion. :-)

I'll ask my question here anyway and hope it's not annoying.

I'm looking for 2 signals:
1. When a particular math expression has finished processing.
2. When all the math on a page has finished processing.

Thank you!
Regards,
Murray

[2014-09-27 02:59] jmeas opened #130 "Made up LaTeX2e/AMS Mathjax aliases/symbols"
Mathjax makes up some aliases for symbols, and at times invents its own symbols. Including them makes KaTeX more consistent with Mathjax, but less consistent with LaTeX.
###### LaTeX2e Symbols/Aliases

`\omicron` - ο (distinct from the o on your keyboard)
`\iint` - made up; a useful addition ∬
`\iiint` - made up; a useful addition ∭
`lt` - Alias of <
`gt` - Alias of >
`notChar` - Alias of /
`dotsc

[2014-09-27 08:33] #74 closed, assigned to nobody

[2014-09-27 21:40] #120 closed, assigned to nobody

[2014-09-27 21:40] #36 closed, assigned to nobody

[2014-09-30 04:33] kaushik1979 opened #138 "Error on converting from text to HTML on server"
When I try converting the following tex to HTML on server, it throws the attached exception. Any ideas what am I doing wrong here?

`
var tex_val = 'x = {-b \pm \sqrt{b^2-4ac} \over 2a';
var html = katex.renderToString(tex_val);
`

Exception -
`
I20140930-00:35:36.942(-4)? Exception in queued task: ParseError: KaTeX parse error: Expected '}', got '\over' at position 32: {b^2-4ac} \over̲ 2a}
I20140

[2014-10-01 00:10] Mathnerd314 opened #139 "Turing completeness"
TeX is [Turing-complete](http://www.haskell.org/wikiupload/8/85/TMR-Issue13.pdf), so KaTeX should be as well. Issue #37 will add support for TeX macros (`\def`), so all that will remain after that are the few computational elements that make programming in TeX possible:

[code]

There are other [primitive commands](http://www.tug.org/utilities/plain/cseq.html), but the ones I have listed should be

[2014-10-01 00:37] #139 closed, assigned to nobody

[2014-10-01 15:34] kevinb7 opened #143 "How do I know if the Huxley tests passed?"
After a bit of work I was able to get the huxley tests working on Mac OS X.  If anyone is trying to run docker on Mac OS X please read http://viget.com/extend/how-to-use-docker-on-os-x-the-missing-guide.  After running ```sudo docker run -P -v /Users/kevin/KaTeX:/KaTeX huxley``` I saw the following output in the console:
[code]
This ended up overwriting the screenshots that were in the repo.  I'm

[2014-10-01 21:15] sophiebits opened #145 "Support \operatorname"
We should support this so you can do, e.g., `\operatorname{span}` (see #144). Its implementation is subtler than it may appear:

http://tex.stackexchange.com/a/84308/9

[2014-10-01 21:21] #98 closed, assigned to xymostech

[2014-10-02 02:00] #116 closed, assigned to nobody

[2014-10-02 19:18] #62 closed, assigned to nobody

[2014-10-02 19:18] #124 closed, assigned to nobody

[2014-10-04 17:10] iamdanfox opened #148 "CSS files not published to npm"
I just tried to `require('katex')` but found that important files were missing as a result of these lines in `package.json`:

[code]

Currently, the recommended way to consume this library is by downloading a release.  Could we give the `require` approach feature parity by adding in the CSS files?

[2014-10-05 00:54] gtarsia opened #150 "If no meta charset is set in html, katex doesn't render under some locals"
My language settings are Spanish for Argentina. With no meta with charset attr, KaTeX is not rendered. If I include charset utf-8 or utf-16, it does work.
Thought that it would be good to include that in the README.md. Thanks for reading.

[2014-10-05 00:55] #150 closed, assigned to nobody

[2014-10-07 19:42] spicyj opened #152 "Support for ties (~)"
Since we don't support breaking at all yet I think this can just be equivalent to `\ `.

[2014-10-09 22:33] mardukbp opened #153 "Support more arrows"
`\Leftrightarrow`: It is commonly used for denoting *if and only if*. U+21D4 = '⇔'

`\Rightarrow`: It denotes an implication. U+21D2 = '⇒'

`\nRightarrow` : Does not imply. U+21CF = '⇏'

[2014-10-10 18:39] cedced19 opened #155 "How to do that x² ?"
How to do that **x²** ?
Thank you for this libery!

[2014-10-11 07:00] #155 closed, assigned to nobody

[2014-10-16 09:35] kit-sg opened #157 "Some common math symbols not working"
Hello,

I am using the plugin of KaTeX in Tiddlywiki. I noticed that a number of common math symbols such as e.g. \propto or \equiv do not work. They don't work on the KaTeX webpage either. Another case is e.g. \partial, which works on the webpage, but doesn't in my Tiddlywiki plugin.

Is there any plan to support all standard math symbols?

Regards,
Steffen

[2014-10-16 21:59] ctrlcctrlv opened #158 "Chaining \sqrt can be used to break sites"
Consider the following:

[code]

Someone on my /b/ board just discovered this, it makes JS take up 100% CPU. I've had to emergency disable KaTeX.

[2014-10-17 20:55] #157 closed, assigned to nobody

[2014-10-23 05:58] lokeshverma2 opened #159 "CDN JS has fonts missing in v0.1.1"
Pointing to CDNJS returns 403 status for font files. Please have a look.
I think either all font files are not uploaded properly or they don't have proper CORS headers.

Appreciate the great work :)

[2014-10-23 06:20] #159 closed, assigned to nobody

[2014-10-28 15:18] jeromew opened #160 "wrong display of equal sign with 0.1.1"
Hello,

I have a very simple command that I want to display :

    \displaystyle{f(x) = g(x)}

the '=' symbol is shown, but the upper dash is nearly invisible. This does not happen on http://khan.github.io/KaTeX/

1/ I checked that all the requested fonts are loaded and everything looks ok.

2/ if I directly use http://khan.github.io/KaTeX/lib/katex/katex.min.css in my code, the '=' sign is shown

[2014-10-30 10:29] iamdanfox opened #162 "Missing eot, ttf or woff files referenced by fonts.less"
In the [fonts directory](https://github.com/Khan/KaTeX/tree/master/static/fonts), only the `woff2` versions of KaTex_Greek are present.

However, the declaration `.font-face('Greek', bold, normal);` pulls in all versions of this font because [`fonts.less`](https://github.com/Khan/KaTeX/blob/master/static/fonts.less#L2) includes

    @use-eot: true;
    @use-ttf: true;
    @use-woff: true;
    @use

[2014-11-03 23:14] xymostech opened #163 "`\#` should produce a hash"

[2014-11-03 23:15] xymostech opened #164 "Horizontal spacing commands: \>, \hfill"
We have some spacing commands, but it appears we missed one. There might be more that we missed.

[2014-11-03 23:20] #9 closed, assigned to sophiebits

[2014-11-04 10:08] spicyj opened #165 "\bigtriangledown and friends should be bin, not ord"
[code]

http://athena10.mit.edu/trac/browser/trunk/third/tex/lib/tex/macros/latex/fontmath.ltx

[2014-11-05 14:02] devon opened #166 "How to use inline equation with KaTex"
Does something like $a=b-1$ works?

Thank you.

[2014-11-07 10:02] sophiebits opened #167 "Misplaced lower bound in {\int}_0^\infty"
![image](https://cloud.githubusercontent.com/assets/6820/4951232/2c4f7cba-6665-11e4-8645-009bd101762f.png)

[2014-11-14 00:09] #167 closed, assigned to nobody

[2014-11-16 05:03] marshallshen opened #169 "Math inside list doesn't work properly"
For example: $$Gen(1^{n})$$: upon input $$1^{n}$$ gives the following output:
![screen shot 2014-11-15 at 11 03 24 pm](https://cloud.githubusercontent.com/assets/806135/5060454/ab5a5248-6d1b-11e4-9f90-9474e7f45e18.png)

[2014-11-18 00:02] #169 closed, assigned to nobody

[2014-11-30 12:19] spelufo opened #171 "Add support for line breaks"
Add support for line breaks. `\\`, `\newline`...

Thanks.

[2014-12-08 07:17] ghost opened #172 "Possible to avoid using position: fixed and position:absolute?"
This may well be an impractical request, but I thought I'd run it out there.

While most modern browsers (and even not-so-modern ones) support position:fixed and position:absolute, there's one widely-deployed one that doesn't: the Kindle ebook reader. The Kindle's pagination is synthesized at viewing time, based on the device (could be anything from a small phone to a giant desktop display), the f

[2014-12-10 01:19] #166 closed, assigned to nobody

[2014-12-10 05:26] #172 closed, assigned to nobody

[2014-12-17 20:47] scaljeri opened #173 "issue rendering tables"
I cannot render the following formula using KaTeX:

[code]

in asciimath notation: [[a,b],[c,d]](%28n%29,%28k%29)

Anyway, whatever I try, I always get the following error:

[code]

[2014-12-17 20:52] #173 closed, assigned to nobody

[2014-12-23 03:44] Loginisalreadytaken opened #175 "Better insulate KaTeX from external CSS rules"
Using word-wrap: break-word; in html misplaces some fraction and sqrt lines, mainly in IE9. Certain settings in my general css are still affecting the math (they don't look exacly the same as in the demo), but I'll track them down and report back.

I guess this one could be fixed by adding word-wrap: normal; to .katex.

Also, thanks a lot for your work on this.. 1MB on drive compared to 166MB for

[2014-12-23 14:31] Loginisalreadytaken opened #177 "border-spacing breaks sqrt-line placement"
<div class="tex" data-expr="\sqrt{8}"></div>

If the above expression is placed in a table cell where border-spacing is not 0, sqrt-lines (and possibly other objects) are placed too high by the border-spacing value. This property is inherited but should have no effect here.

I tried different settings for vertical-align – they made no difference.

This goes for both FF30 and IE9 with identical res

[2015-01-15 23:36] cben commented on #78
Indeed, this is much simpler than finding all math between certain delimeters,
but already useful for output of various converters that can somehow mark math in the HTML.  However a bit more flexibility is needed than just a class name:

  - kramdown translates markdown with $$-delimited inline and display math into MathJax-compatible<script type="tex/math">...</script> or <script type="tex/math;

[2015-01-16 22:03] jtrinklein commented on #48
looking forward to this feature, is it on the roadmap?

[2015-01-17 20:30] 0a- opened #179 "Uncaught TypeError: Cannot read property 'slice' of undefined"
This TypeError was thrown when I use `katex.render` in a `for in` loop like this:

[code]

However, all the maths are rendered nicely. Nothing really goes wrong. It is just that a TypeError is thrown.

[2015-01-17 20:31] spicyj commented on #179
Can you provide a complete stack trace?

[2015-01-17 20:33] 0a- commented on #179
Sure, gimme a minute. I was using the minified version from CDN

[2015-01-17 20:34] kevinb7 commented on #179
be careful with using for-in loops.  getElementsByClassName does returns

[2015-01-17 20:51] kevinb7 commented on #179
In this case the ```for-in``` loop will include keys: ```length```, ```item```, and ```namedItem``` whose values aren't ```HTMLElements```.  These additional properties show up at the end because numbered keys come first "alphabetically" which is why all of the math renders properly.

[2015-01-17 20:54] 0a- commented on #179
Nice catch. I just saw that too. That is why _innerLex was throwing the error.

[2015-01-17 20:54] #179 closed

[2015-01-18 00:21] stared commented on #163
As of now

    katex.renderToString("\\#")

produces an error:

    Error: KaTeX parse error: Expected 'EOF', got '\#' at position 2: \#̲

[2015-01-20 23:04] tgirod commented on #171
That one would be very nice indeed. Or eqnarray.

[2015-01-22 11:17] nesteruk opened #180 "Speed test does not run"
It says `ReferenceError: katex is not defined.`

[2015-01-22 19:21] xymostech commented on #180
You are correct! Thanks for reporting this, I moved servers and forgot to copy some files over. It should be fixed now.

[2015-01-22 19:21] #180 closed

[2015-01-22 22:49] hobson commented on #43
+1 for {matrix} and {bmatrix}. Really need it for linear algebra on slides.com and reveal.js presentations

[2015-01-27 02:56] paxidently commented on #43
+1

[2015-01-29 17:00] nschloe opened #181 "bower errors"
Installing KaTeX 0.1.1 yields
[code]

[2015-02-01 15:58] W4RH4WK commented on #162
just had a similar issue with pandoc using `--self-contained` removing the greek font entries solved the problem.

@iamdanfox commit looks good to me

[2015-02-04 03:28] keithphw opened #182 "\begin{aligned} not supported"
KaTex doesn't appear to support \begin{aligned}.
Here is a test case:
http://jsfiddle.net/keithphw/2449ehuv/3/

By the way, thank you for making a great library. I currently use MathJax but am quite dissatisfied with its speed, how it only works on the client, and how it re-flows the page. I would like to use katex however I make extensive use of \begin{aligned} which khatex doesn't support. I wis

[2015-02-04 23:07] xymostech commented on #182
This is correct, this is currently documented in #61. This is definitely on the radar, Khan Academy also uses a lot of `\begin{align}` (similar to `\begin{aligned}`); when I have time to work on KaTeX I'll definitely be working on this.

[2015-02-04 23:07] #182 closed

[2015-02-05 12:07] nesteruk opened #183 "Superscript rendered as subscript"
I just used KaTeX from CDN, aksing it to render `ax^2+bx+c`. Here is the result:

![image](https://cloud.githubusercontent.com/assets/469046/6059946/fdadda40-ad50-11e4-9f05-e2c7c6b0443a.png)

Here is the rendered HTML:

[code]

[2015-02-05 21:25] xymostech commented on #183
What browser are you using? Pasting that generated HTML into my browser (chrome 40) produces the correct result:

![image](https://cloud.githubusercontent.com/assets/217900/6069574/6917dcf2-ad3a-11e4-9e5c-88177e73a491.png)

[2015-02-10 09:58] scaljeri commented on #171
+1

[2015-02-11 16:25] drdozer opened #185 "lots more symbols"
I've been using KaTeX through gitter, but have found that many symbols I use are not yet defined. I regularly use many of the relational symbols described here:

http://www.artofproblemsolving.com/Wiki/index.php/LaTeX:Symbols

For example, the curved and square subset/superset relations aren't defined.

If this is easy to add, I'd be happy to work on it.

[2015-02-16 07:57] episodeyang opened #186 "adding a `supported` function"
Hi,

I am trying to use KaTeX as the primary rendering library while using MathJax as a fallback, just like Kahn academy's main website.

Is there a function that I can use to test if a string is supported by KaTeX? It would be very nice to have this function included in the library!

Cheers,
Ge

[2015-02-16 14:16] aldajo92 opened #187 "I can use the matrix notation"
Well I'm trying to use the matriz notation, but I found that it have errors for identify the following latex code:

The \emph{characteristic polynomial} $\chi(\lambda)$ of the
$3 \times 3$~matrix
\[ \left( \begin{array}{ccc}
a & b & c \\
d & e & f \\
g & h & i \end{array} \right)\]
is given by the formula
\[ \chi(\lambda) = \left| \begin{array}{ccc}
\lambda - a & -b & -c \\
-d & \lambda - e & -f \

[2015-02-16 16:25] episodeyang commented on #187
Environments are not yet supported. You can refer to these issues: #68 #47 #43

[2015-02-16 16:56] xymostech commented on #186
In general, no. I'm not sure this would be possible either, as things like `\sqrt{3}` are currently supported, but `\sqrt[3]{3}` are not, so it's not clear whether `\sqrt` would count as supported or not.

However, KaTeX will throw an exception if it encounters something that it doesn't understand, so you could try something like:

[code]

Does that work for you? Note that you need a full expressi

[2015-02-16 16:57] #187 closed

[2015-02-16 23:50] episodeyang commented on #186
Since the renderToString is basically doing the rendering, wouldn't it be faster if I just use KaTeX's `render` function as the default, and catch the exception to backup with mathjax?

How quickly does KaTeX throw the exception?

Cheers

[2015-02-16 23:56] spicyj commented on #186
Yes, this is exactly what we do at Khan Academy. KaTeX should be plenty fast enough for you to run it and test first.

[2015-02-16 23:56] #186 closed

[2015-02-17 00:04] episodeyang commented on #186
is there any speed difference between the `render` function and the
`renderToString` function?

On Mon, Feb 16, 2015 at 5:56 PM, Ben Alpert <notifications@github.com>
wrote:

[2015-02-17 00:21] spicyj commented on #186
If you count the cost of setting `.innerHTML` after calling renderToString, they're pretty similar. Probably `render` is faster in modern browsers and `renderToString` is faster in IE8. If you're not actually rendering to the DOM, renderToString will be faster since it won't touch the DOM at all.

[2015-02-17 00:23] episodeyang commented on #186
Thanks. I will run some benchmarks.

On Mon, Feb 16, 2015 at 6:21 PM, Ben Alpert <notifications@github.com>
wrote:

[2015-02-22 09:28] kosek opened #188 "katex.render fails in Firefox"
In Firefox (I tried versions 33 and 35) katex.render() will lead to the following error on console:

TypeError: this._input is undefined

...prototype._innerLex=function(e,t,i){var a=this._input.slice(e);var s;if(i){s=a.m...

I was using latest stable release 0.1.1.

[2015-02-22 16:38] spicyj commented on #188
That's the error you get if you pass `undefined` as the input string. See also #179.

[2015-02-22 16:38] #188 closed

[2015-02-22 18:14] kosek commented on #188
Yes, sorry for false alarm. Now I realized I have used innerText instead of textContent for pulling TeX math for rendering from the element content. My bad.

Might be adding sample code for iterating over all equations stored in <span class="math"> and rendering them into README.md would be of help for seasonal JS developers.

[2015-02-25 00:46] xymostech commented on #38
Hello everyone, thanks for all the feedback here. I've been distracted by other projects, but I'm going to be making a pull request soon about making KaTeX accessible, taking a hybrid MathML + aria-hidden HTML approach. I'd love to get some feedback and a hand in testing it out in different environments if anyone would like to help out.

[2015-02-25 04:11] NSoiffer commented on #38
I'm glad to hear you are getting back to this. You probably should take a look at what wikipedia has done to deal with accessible math:  if the user has selected the option  "MathML with SVG or PNG fallback (recommended for modern browsers and accessibility tools)", they render the TeX on their server and then send down MathML and the fallbacks.  To set the options, login, choose appearances, and

[2015-02-25 08:02] Hywan commented on #38
\o/

[2015-02-25 19:58] fred-wang commented on #38
@NSoiffer You can try it on http://katex.xymostech.com/

[2015-02-25 20:47] NSoiffer commented on #38
That works with the new MathPlayer+NVDA. I haven't tried anything else, but
that's a positive sign.

On Wed, Feb 25, 2015 at 11:58 AM, Frédéric Wang <notifications@github.com>
wrote:

[2015-02-25 20:55] brucemiller commented on #38
I'm not sure what "works" should mean here: on Firefox it is not using MathML, but span-soup.  Ultimately, you'd want to send MathML to browsers that support it, right?   It looks OK, though, although it's all quite huge, but I'm guessing from the CSS that that is intentional.

[2015-02-25 22:01] NSoiffer commented on #38
If you use the develop tools in Firefox to look at the DOM, you'll see
MathML is in there. NVDA finds the MathML and gives it to MathPlayer to
speak.

As for who/what is doing the rendering, that I'm not sure about. For screen
reader accessibility, that doesn't matter. When you need to do sync
highlighting, potentially that might matter. E.g., if some code modifies
the MathML to change the backgro

[2015-02-25 22:48] fred-wang commented on #38
Yes, the fact that the MathML rendering is hidden is a problem for assistive technologies that rely on the visual rendering such as sync highlighting or, as mentioned by Apple devs, touch screen support. However, the main issue is that KaTeX currently does not generate MathML at all, so Emily's work is already a big progress. This generates MathML + HTML with only CSS selectors to select which one

[2015-02-25 23:55] xymostech commented on #38
@NSoiffer The display would not update. Is that a serious problem? Are there lots of times when that would happen? I'm not sure if there's a good general way to watch for changes to the DOM to propogate them over to the HTML version.

[2015-02-26 07:20] NSoiffer commented on #38
If you want the DOM to propagate to the rendering, Shadow DOM seems like
the way to go. But unless you use a polyfill, your probably got a couple of
years to wait for all the browsers to implement it.

On Wed, Feb 25, 2015 at 3:55 PM, Emily Eisenberg <notifications@github.com>
wrote:

[2015-03-02 00:05] abejfehr commented on #185
I saw that this issue hadn't yet been replied to, and thought I'd mention that those symbols seem to be present in PR #151

[2015-03-02 01:34] spicyj commented on #185
These should have all been added in #126 and d61a04c80d14577212e3e98e83ff2da0c7a70907. We're planning to cut a new release soon with these updates.

[2015-03-02 01:34] #185 closed

[2015-03-02 02:18] spicyj opened #190 "Add support for \implies and \iff"
These are tricky because they should have space around them (`\;` on either side). We should probably implement these as some sort of internal macro, which can maybe be a precursor to #37.

[2015-03-02 02:21] spicyj opened #191 "Add support for \imath and \jmath"
These need to be in the KaTeX_Main font in italic style, which we don't have easy support for yet so this is a little trickier than just adding them to src/symbols.js.

[2015-03-02 14:49] HeinrichHartmann opened #192 "MathJax not defined"
![image](https://cloud.githubusercontent.com/assets/2446981/6442915/b4a419fc-c0f3-11e4-9c3d-1737f42f7bf3.png)

[2015-03-02 14:50] HeinrichHartmann commented on #192
Found on https://jsperf.com/katex-vs-mathjax

[2015-03-02 18:15] xymostech commented on #192
I think this is because that test uses raw `http://` links to the MathJax script, but the page you're loading uses `https://`. I recently made a newer test that uses `//` links (so they automatically use whatever protocol you're using) at https://jsperf.com/katex-vs-mathjax/34 that should work. I'll be releasing a newer test soon that should use the current version of KaTeX.

[2015-03-02 18:15] #192 closed

[2015-03-02 20:05] xymostech commented on #38
The accessibility patches were landed in the new release of KaTeX ([v0.2.0](https://github.com/Khan/KaTeX/releases/tag/v0.2.0)). Hopefully the new, accessible version should start appearing around soon. (there isn't a way for developers to disable accessibility, so anywhere that it's used should have the new features)

I ran some performance tests on the new version versus the old release. It look

[2015-03-02 20:05] #38 closed

[2015-03-02 21:20] NSoiffer commented on #38
FYI: I spoke the JAWS developer for math support and he said they expect
JAWS will start reading MathML in the near future -- I forwarded the test
page on to him.

On Mon, Mar 2, 2015 at 12:06 PM, Emily Eisenberg <notifications@github.com>
wrote:

[2015-03-03 02:42] HeinrichHartmann commented on #192
Confirmed. Same link with http:// works.

[2015-03-03 02:44] HeinrichHartmann commented on #192
New link over https:// has other issues:
![image](https://cloud.githubusercontent.com/assets/2446981/6455681/893a4f0c-c157-11e4-859f-239647f63910.png)
http:// works again, fine.

[2015-03-03 18:13] belstgut opened #193 "Support for \limits"
support for inline limits like `\sum\limits_0^\infty` or `\int\limits_a^b`

[2015-03-03 19:59] xymostech commented on #193
This is a duplicate of #35

[2015-03-03 19:59] #193 closed

[2015-03-04 10:06] tylerlong commented on #114
I have create a repository for the built files: https://github.com/tylerlong/katex-build

You can simply `bower install katex-build` and start using it!

Cheers!

[2015-03-05 10:11] iAviatorJose opened #194 "Demo to use this library on Android."
Is there any project demonstrating the use of these library for Android.

[2015-03-05 16:45] PeterBocan opened #195 "What's the support for matrices?"
Hello guys, I wonder what's the current support for matrices in KaTeX? Haven't seen a word about it (maybe I was looking at wrong place).

[2015-03-05 19:10] PeterBocan commented on #194
It's a library for websites, not Android as a platform. If you can write website-based application then go for it, if not, I'm sorry.

[2015-03-05 22:19] xymostech commented on #195
There is currently no support for it, but it's on the list of things to work on. Duplicate of #43

[2015-03-05 22:19] #195 closed

[2015-03-07 02:10] spicyj commented on #194
Khan Academy uses KaTeX, which you can try on an Android phone. Example:

https://www.khanacademy.org/math/integral-calculus/indefinite-definite-integrals/fundamental-theorem-of-calculus/e/the-fundamental-theorem-of-calculus

There's no special support for Android in particular.

[2015-03-07 02:10] #194 closed

[2015-03-07 09:11] iAviatorJose commented on #194
ok thanks

[2015-03-07 21:46] fegemo commented on #148
hi! I've just run into the same need: to include css from a browserified context, using the npm repository. (Just FYI, I'm planning on including the css file using github.com/substack/insert-css)

Then I read #114 and saw the https://github.com/tylerlong/katex-build repo, which I'm going to use. But I'd just like to know if that is the way to go, since neither issues (#114 and #148) are closed.

T

[2015-03-08 02:10] slametapr commented on #43
+1 for matrix

[2015-03-08 09:39] fred-wang opened #197 "rules in .katex-mathml should not be !important"
For some reason, the rules in .katex-mathml are !important:

https://github.com/Khan/KaTeX/commit/aaeab1200c73f633af607d94ba95dca9b22a4d66#diff-03326d64354534b6fb69a723fb333018R30

this means that someone  who wants to override them to use the native MathML rendering instead, will need to do that with Javascript instead of a pure CSS solution :-(

[2015-03-08 09:46] fred-wang opened #198 "KaTeX MathML should use munderover for scripted large operators"
For example

http://katex.xymostech.com/?text=\displaystyle%20\sum_a^b

[code]

Here msubsup should be replaced with munderover, so that the scripts are correctly placed in displaystyle mode.

[2015-03-08 09:47] fred-wang commented on #38
Follow-up issues for people who care about the visual rendering too:
https://github.com/Khan/KaTeX/issues/197
https://github.com/Khan/KaTeX/issues/198

[2015-03-08 10:52] tarjei opened #199 "contenteditable integration"
Hi, have you guys integrated KaTeX with a contenteditable element? I'm looking both for implementation details but also for good ideas on interaction design.

Regards,
Tarjei

[2015-03-08 10:58] tarjei commented on #148
Hi, just a "me too!" here. I want to import the CSS from the package to be able to include it in my CSS build. Using the CSS from NPM could help me avoid version mismatches between the CSS and the JS.

[2015-03-08 17:09] kevinb7 commented on #199
I'm not quite sure how this would work as the presentation looks quite different from the LaTeX source.  Maybe when the user clicks on the KaTeX rendering you could hide the rendering and display a contenteditable element containing the source and then when the user clicks outside you could do the reverse and update the rendering.  It might be nice to do this if the user hits enter, but you'd have

[2015-03-08 22:41] karoltarasiuk commented on #43
oh yeah +1

[2015-03-09 00:01] spicyj commented on #199
We don't have any plans for this in KaTeX right now. You can look into other libraries like MathQuill: http://mathquill.com/.

[2015-03-09 00:01] #199 closed

[2015-03-09 19:21] xymostech commented on #197
You're right! I don't know why they're marked like that, I copied them from another website. I'll change that.

[2015-03-09 20:19] tarjei commented on #199
Hmm, mathquill has a very nice UI solution - thanks!

I'm going to try to emulate that using katex and react. Any tips on how to get the blinking cursor inserted in the right place will be well recived :)

[2015-03-10 15:35] #197 closed

[2015-03-10 15:37] #165 closed

[2015-03-12 10:58] shime commented on #181
:+1:

[2015-03-12 11:00] shime commented on #114
:+1:

[2015-03-12 16:44] brunetto opened #200 "KaTeX doen't render (Chrome)"
Hi!
I added

[code]

to a js presentation, but it does not render even the simplest equation.
Am I missing something?

Note: the same presentation looks perfect with MathJax.

Thanks

[2015-03-12 18:15] xymostech commented on #200
Are you running `katex.render` on your mathy elements? KaTeX doesn't (yet) automatically render all of the math on the page, so you have to manually call it.

[2015-03-12 21:48] brunetto commented on #200
Ooops, I didn't. Is there a guide to follow?
So it's not possible to include it in a markdown parser.. Do I have to write the page from scratch to use it?

[2015-03-13 04:11] NSoiffer opened #202 "MathML for trig functions and other functions should be <mi> not <mo>"
It appears that the TeX translator is putting trig functions and possibly other functions into `<mo>` tags as opposed to `<mi>` tags. Using `<mi>` is explicitly mentioned in the [MathML spec](http://www.w3.org/TR/MathML3/chapter3.html#id.3.2.3.3).

For an example of where this shows up, see [this page with cos and sin](https://www.khanacademy.org/math/trigonometry/less-basic-trigonometry/trig-symm

[2015-03-13 04:24] NSoiffer opened #203 "MathML for multi-digit numbers is wrong"
From [this page on trig functions](https://www.khanacademy.org/math/trigonometry/less-basic-trigonometry/trig-symmetry-periodicity/e/symmetry-and-periodicity-of-trig-functions), this is the MathML for the first expr:  sin(α)=0.34

[code]

Notice that what should be `<mn>0.34</mn>` has turned into three `<mn>`s and one `<mi>`.

The "sin" should also be in a `<mi>` -- that's [#202](https://github.co

[2015-03-13 04:43] NSoiffer opened #204 "MathML for primes (') is wrong"
On the [definite integral page](https://www.khanacademy.org/math/integral-calculus/indefinite-definite-integrals/definite_integrals/e/evaluating-definite-integrals), the encoding of `F'` is not quite right -- while the MathML properly uses `<msub>` for the prime, the prime character is in a `<mi>` but should instead be in `<mo>` as it is an operator. The MathML for the entire expr is:

[code]

Alt

[2015-03-13 10:01] fred-wang commented on #38
For the record, I've updated my mathjax-native-mathml extensions to force KaTeX to display its MathML output too:
- Mozilla add-on: https://addons.mozilla.org/en-US/firefox/addon/mathjax-native-mathml/
- Safari add-on: http://fred-wang.github.io/mathjax-native-mathml-safari/mathjax-native-mathml.safariextz
- Greasemonkey script (unfortunately that one does not work well due to issue #197): https:/

[2015-03-13 15:11] #202 closed

[2015-03-13 15:28] xymostech commented on #203
I noticed this problem when trying out the screenreader, thanks for reporting it.

Unfortunately, there isn't a trivial fix for this. The TeX parser splits strings into individual characters (since TeX has no real conception of semantics), so by the time we're building the MathML tree, there's no information that the two numbers should go together.

I could try doing something like "Combine all ad

[2015-03-13 16:46] NSoiffer commented on #203
In C++, there are functions to parse strings to numbers and they return the point at which they left off. In JS, it looks like the closest you get is parseInt() and parseFloat(). They don't return where the parse left off, so they are less useful.

I think that the easy thing to do that will be right most of the time is write a simple functions that checks for digits and and decimal points (two se

[2015-03-13 21:32] xymostech commented on #200
It is definitely possible to use KaTeX with a markdown library, (we do so at KA), but there isn't really a guide, yet. If you look at the README, there's a short description of the `katex.render` API, which you would probably use. What markdown library are you using?

[2015-03-13 22:09] rgonzga opened #205 "No support for the \nabla character"
The nabla operator for gradients, curls and divergents, cannot be displayed with KaTeX plugin for TiddlySaver.

[2015-03-13 22:10] spicyj commented on #205
We added \nabla in v0.2.0 so it should work once your version of KaTeX is updated.

[2015-03-13 22:10] #205 closed

[2015-03-15 10:17] SirVer commented on #61
+1. I am missing this feature too, otherwise KaTex works amazingly well.

[2015-03-15 16:01] PeterBocan commented on #43
waiting for that day and then I'll move my ass from MathJax to KaTeX. +1!

[2015-03-16 21:27] rymohr opened #206 "Add support for \begin \end environments"
Found a couple related issues and just wanted to add a central one to tie everything together:

- align support https://github.com/Khan/KaTeX/issues/61
- array support https://github.com/Khan/KaTeX/issues/47
- matrix support https://github.com/Khan/KaTeX/issues/43

[2015-03-16 21:33] PeterBocan commented on #206
Is there somebody working on it?

[2015-03-16 21:50] rymohr commented on #206
Not that I know of, though @kevinb7 and @xymostech have given it some thought:
https://github.com/Khan/KaTeX/issues/43#issuecomment-55658982
https://github.com/Khan/KaTeX/issues/61#issuecomment-57091390

[2015-03-19 05:39] brainkim opened #207 "katex.min.css in the KaTeX distribution refers to fonts that aren't also found in the zip."
Wanted to quickly pull in KaTeX for some prototyping. We use django's static file management system, which can optionally post-process static files and prepend a hash to the filename. This processing will follow url requires in css files, and the css file contained references to fonts that didn't exist in the fonts directory. I found the fonts in the original repository. Let me know if you need mo

[2015-03-20 02:35] #207 closed

[2015-03-24 08:26] drbunsen opened #208 "Rendering multi-line equations in KaTex?"
Can KaTex render multi-line equations? It seems that AMS Math mode is currently not supported. How can I render this multi-line equation in KaTex?

[code]

This is a great project, thanks for the help!

[2015-03-24 13:03] PeterBocan commented on #208
This relates with all other issues, for example: https://github.com/Khan/KaTeX/issues/206

[2015-03-24 17:59] spicyj commented on #208
Right – not yet, but we'd like to add it.

[2015-03-24 17:59] #208 closed

[2015-03-24 22:22] PeterBocan commented on #208
@spicyj  what does it mean "we'd like to add it"? What does it require to contribute a brand new functionality? I mean this require a lot of new stuff to introduce.

[2015-03-24 22:48] xymostech commented on #208
We haven't figured out a good cross-browser-compatible way to lay out equations in a way that would let us line them up to do multi-line equations. We've looked into couple approaches, but none of them have worked.

Right now, almost all formatting in KaTeX is done through CSS, and we only calculate heights of elements to do vertical alignment. Thus, to get multi-line equations to work, we have to

[2015-03-24 22:50] xymostech commented on #208
(Also, once we figure out how to actually do the layout, we need to change the parser to understand the funky syntax, figure out how the different kinds of alignment work, etc.)

[2015-03-24 23:13] PeterBocan commented on #208
@xymostech I see, but we are here too! Don't do it yourself, it's a community project, isn't it? :) My thoughts on this issue: Can you clarify what didn't work?

[2015-03-25 20:42] abejfehr opened #209 "\overline is present but not \underline"
I may be missing something here, but isn't `\underline` part of LaTeX by default? Or was this omitted strategically?

[2015-03-25 20:49] xymostech commented on #209
You are correct, we have `\overline` but not `\underline`. Not a strategic move or anything, we just haven't added it yet.

[2015-03-25 22:26] PeterBocan opened #210 "Trimming off the first and the last 2 characters"
Guys, I've tried the 0.2.0 version and something has broken up, at least for me:
[code]

![A trimmed equation](http://s22.postimg.org/86tra81m9/Screenshot_2015_03_25_23_24_01.png)

I'm not sure if this is a "feature" or bug, but it's strange.

[2015-03-25 22:30] spicyj commented on #210
That's weird. How are you calling katex.process?

[2015-03-25 22:30] spicyj commented on #210
(Does http://khan.github.io/KaTeX/ work okay for you?)

[2015-03-25 22:34] PeterBocan commented on #210
Yup, it's okay, my fault. There was a little issue with javascript. You can close this.

[2015-03-25 22:36] #210 closed

[2015-03-25 23:28] PeterBocan commented on #42
+1
what can I do to implement this feature? (cc @xymostech @spicyj )

[2015-03-26 20:17] jonathankroll opened #211 "Support MathML input"
Hello!

I'm not sure if this is a duplicate request (despite my best efforts).

 I am currently inputting **MathML** and rendering **HTML** output with MathJax. I would love to do this with KaTeX.

[2015-03-26 20:30] xymostech commented on #211
Hello!

Unfortunately, adding another kind of input (like MathML, or even things like AsciiMath) is mostly infeasible at this point. The parser is fairly specialized for understanding TeX, and we currently don't even support all of the things in TeX that we want to support yet, so we might work on this, but probably not soon in the future.

[2015-03-26 20:30] #211 closed

[2015-03-26 20:34] spicyj commented on #211
@jonathankroll Curious: why do you prefer MathML for input?

[2015-03-27 00:05] omidh28 opened #212 "Support for Persian/Arabic Numerals"
KaTeX doesn't support Persian/Arabic numeral.  (۰ ۱ ۲ ۳ ۴ ۵ ۶ ۷ ۸ ۹ )

[2015-03-27 17:53] spicyj commented on #212
It doesn't look like TeX or LaTeX support these out of the box. Does that agree with your understanding?

[2015-03-27 18:12] omidh28 commented on #212
Yes they don't but it's nice to have it.

[2015-03-31 04:31] spicyj commented on #211
Makes sense. You could probably find some automated way to convert that to TeX but I don't think we'll add one to KaTeX itself.

[2015-03-31 15:50] raichu opened #216 "Support for ESSTIX font"
Please consider adding [esstix](https://www.ctan.org/pkg/esstix) [font](https://en.wikipedia.org/wiki/STIX_Fonts_project#ESSTIX) ([ttf](http://www.w3.org/Amaya/Distribution/esstix.tar.gz)).

[2015-03-31 16:35] spicyj commented on #162
Fixed by #184.

[2015-03-31 16:35] #162 closed

[2015-03-31 16:35] spicyj commented on #216
Curious: why esstix instead of stix? Merging into #42.

[2015-03-31 16:35] #216 closed

[2015-04-01 04:48] raichu commented on #216
Essix is *the* font used in many old science books.
Trying to capture that.

[2015-04-01 04:49] raichu commented on #42
Please consider adding [esstix](https://www.ctan.org/pkg/esstix) [font](https://en.wikipedia.org/wiki/STIX_Fonts_project#ESSTIX) ([ttf](http://www.w3.org/Amaya/Distribution/esstix.tar.gz)).

[2015-04-01 04:51] raichu commented on #216
BTW, could you re-open this issue?
#42 is quite a different issue: it's about alternative scripts (mathrm, mathcal etc.) of a certain font.
Like any other complete math font, ESSTIX font comes with its own mathrm, mathcal, etc.

[2015-04-01 04:53] spicyj commented on #216
Oops, I guess I was too hasty. #123 is similar enough though that I'll just track both there.

[2015-04-01 04:54] raichu commented on #123
Please also consider adding [esstix](https://www.ctan.org/pkg/esstix) [font](https://en.wikipedia.org/wiki/STIX_Fonts_project#ESSTIX) ([ttf](http://www.w3.org/Amaya/Distribution/esstix.tar.gz)).

[2015-04-01 05:00] spicyj commented on #42
Merging into #19.

[2015-04-01 05:00] #42 closed

[2015-04-01 05:54] kevinb7 commented on #123
I had a look at the .ttf files and I couldn't seem to find any that contained plain old italics for latin characters or normal numbers.  Am I missing something?

[2015-04-01 18:51] spicyj commented on #123
@kevinb7 One of them should definitely have numbers, but there's no text font. In Concrete Mathematics (the book for which the font was made) they used a text font called Concrete:

http://tex.stackexchange.com/questions/103983/how-do-i-use-ams-euler#comment227008_103983

[2015-04-01 19:51] raichu commented on #123
It seems Elsevier didn't include the text font.
But it does contain Greek letters and mathematical symbols.

Anyone know what the text font in [this document](https://lists.w3.org/Archives/Public/www-amaya-dev/2000Apr/att-0041/Readme.pdf)? It looks pretty close.

[2015-04-01 22:57] #26 closed

[2015-04-04 03:38] kaushik1979 commented on #138
Is there an update on my request? I will be really thankful if someone can help me get the latest KaTeX code to atmospere.meteor.com.

[2015-04-04 03:42] spicyj commented on #138
We've done several KaTeX releases. You'll have to ask the maintainer of the Meteor plugin about the release schedule for that – looks like @stubailo?

[2015-04-04 03:42] #138 closed

[2015-04-04 03:44] spicyj commented on #129
Sounds like everything was resolved here – let me know if not and I'll reopen.

[2015-04-04 03:44] #129 closed

[2015-04-04 03:46] spicyj commented on #163
Fixed by #214.

[2015-04-04 03:46] #163 closed

[2015-04-07 16:48] joshuapinter commented on #171
:+1: Would be great.

Any update on this, guys?

[2015-04-07 17:45] justinfagnani commented on #114
Any word here on including built files and a bower manifest? The first thing I went looking for when I found KaTeX was the bower dependency to use :)

[2015-04-07 21:12] spicyj commented on #114
Let's do what jQuery does and tag releases with the dist files checked in but have those commits not be on master:

https://github.com/jquery/jquery/commit/4dec426aa2a6cbabb1b064319ba7c272d594a688

[2015-04-07 21:49] samccone commented on #114
:+1: seems like a good plan to me @spicyj thanks for the resolution

[2015-04-07 21:49] xymostech commented on #114
Woah, weird! That sounds fine to me. We can do this next release (which will hopefully be soon).

[2015-04-07 21:50] samccone commented on #114
might be nice to backdate the releases with tags, if you need some help doing that more than willing

[2015-04-07 21:51] spicyj commented on #114
We've already tagged the existing released; I'd rather not change those tags. We can do it going forward though.

[2015-04-07 22:15] samccone commented on #114
yeah, i understand that, perhaps something like...

`v0.1.1-build`

would be a nice middle ground, take for instance this usecase.

I have multiple apps that are on an older version of katex, I would love to drop the build step and just use the prebuilt version. If we add new tags for old releases I get that for free :smile: .

Otherwise I need to upgrade to the latest (across breaking releases)

[2015-04-07 22:19] spicyj commented on #114
Yeah, the unfortunate thing is that bower versions have to match the tag names, so the bower version would be unclean in that case. Our breaking changes (just one, I think?) have been fairly minor and so hopefully it's not too much work to upgrade. (And it sounds like you've already got a working build setup so I'm not as concerned…)

[2015-04-08 02:37] ruricolist opened #217 "Protect from text-indent"
If an element has the `text-indent` property set, then any math that appears within it is spaced out ridiculously. If you go to the KaTeX page, for example, and edit the CSS to add a rule like `body { text-indent: 1em}`, you can see it for yourselves.

The problem, of course, is that `text-indent` is being inherited and applied to elements displayed as blocks. The fix should be as simple as settin

[2015-04-08 02:53] spicyj commented on #171
Can you all give some examples of how you would use it? Would you want it in the context of some matrix-like environment like `\begin{array}` or `\begin{align}` or somewhere else?

[2015-04-08 03:30] joshuapinter commented on #171
In my case I'd like to generate two equations with one string:

    Eq1 = 1.23 * 5^5 * 5.3 \newline
    Eq2 = 3.21 * 2^2 * 3.5

Also of note, supporting empty spaces would be useful. In Latex, I'd use something like:

    \hspace{2}

[2015-04-08 19:15] xymostech commented on #217
Indeed, text-indent does make the math look annoying. Could you submit a pull request to fix that?

[2015-04-08 23:27] ruricolist commented on #217
I made a pull request. Do I need to sign the CLA for something this small?

[2015-04-09 00:04] xymostech commented on #217
Yes, the CLA needs to be signed for all pull requests.

[2015-04-09 00:11] ruricolist commented on #217
OK, I've signed the CLA.

[2015-04-09 00:14] #217 closed

[2015-04-09 07:15] tgirod commented on #171
Yes @spicyj, the idea was to align several equations, like one would do with {eqnarray}, for example.

[2015-04-09 16:13] xymostech commented on #171
We're close to adding support for `\begin{align*}`, which should satisfy these needs.

[2015-04-11 19:41] lusi8559 opened #219 "Add support for tikz and tikzcd"
Hi,

Could you add support for tikz and tikzcd so diagrams such as

![image](https://cloud.githubusercontent.com/assets/9576624/7102953/1e0dc886-e050-11e4-8d25-7fcb832975e5.png)

![image](https://cloud.githubusercontent.com/assets/9576624/7102956/2d62316e-e050-11e4-8b7e-8a1b5040a819.png)

![image](https://cloud.githubusercontent.com/assets/9576624/7102958/45043b3c-e050-11e4-97d5-96fd09704675.png)

[2015-04-11 19:42] spicyj commented on #219
This would be cool, but honestly, tikz support would be a gargantuan undertaking, probably larger than all of KaTeX itself at present, so we're unlikely to do this. You could use SVG to draw similar diagrams on the web.

[2015-04-14 14:08] scaljeri opened #220 "Render issue when formule is inside { and }"
I have the following formula:

    {25*0.008^x, 25*(1/125)^x}

With KaTeX (v0.3.0) this formula render with the enclosing `{` and `}` But when I view this formula with MathJax or some other online latex render tool it shows this formula without the brackets. Is this a (known) bug or is there something I did wrong

[MathJax online renderer](http://bit.ly/1wTAG0F)
[My very own KaTex renderer](http:/

[2015-04-14 14:53] PeterBocan commented on #220
I think you have to escape these special characters as follows:

      \{ 25*0.008^x, 25*(1/125)^x \}

[2015-04-14 15:19] xymostech commented on #220
It looks like you're passing your input through AsciiMath before turning it into KaTeX, which is why it isn't working for you. AsciiMath is outputting the formula:

    {\left\lbrace{25}\cdot{0.008}^{{x}},{25}\cdot{\left(\frac{{1}}{{125}}\right)}^{{x}}\right\rbrace}

which is being correctly rendered (you can try it at http://khan.github.io/KaTeX/). I'm not sure how AsciiMath works, but that is wh

[2015-04-14 15:19] #220 closed

[2015-04-14 18:07] scaljeri commented on #220
What do you mean with `through AsciiMath` ? Like: I convert `AsciiMath` to `Latex` ? or that I try to convert `Latex` to `Latex` using an `AsciiMath` library as if the input is actually AsciiMath (but isn't) ? Because something like this is possible, because I get the formulas in any format.

So how can you tell I do something with AsciiMath ? Are the curly brackets invalid LaTeX ?

[2015-04-14 19:08] xymostech commented on #220
Correct, you are using AsciiMath on your website. If you type in `{25*0.008^x, 25*(1/125)^x}` into that website, it says that the input format is AsciiMath, which means that it runs your math through the AsciiMath converter before it gets processed by KaTeX. (I checked this by setting a breakpoint in the `katex.render` function, and ensuring that that the LaTeX that is sent to KaTeX isn't `{25*0.0

[2015-04-14 19:59] kirbyfan64 opened #221 "Equivalent of DeclareMathOperator?"
I'm toying with using KaTeX instead of MathJax for the [Felix language category theory primer](http://felix-lang.org/share/src/web/articles/category_theory_01.fdoc). The file uses MathJax's `DeclareMathOperator`, and KaTeX is throwing a parse error. What should I use instead?

[2015-04-15 01:39] octatoan commented on #171
@xymostech any updates on this?

[2015-04-15 12:25] scaljeri commented on #220
I see it now. It is indeed treated as AsciiMath, but isn't!! Thanks a lot!

[2015-04-16 17:10] buob commented on #5
I need this to switch from mathjax :weary:.  Any thoughts on this?

[2015-04-20 05:47] franciscop opened #222 "ReferenceError: require is not defined"
When using katex with contrib/auto-render, the file "./splitAtDelimiters" is attempted to be included using the back-end library `require()`, but it doesn't work in the browser.

Code from grunt to do it:

    concat: {
      dist: {
        src: [
          'static/katex.min.js',     // Katex math rendering
          'static/katex-render.js',  // Automatic katex render
          ...
          'st

[2015-04-20 15:53] xymostech commented on #222
How are you trying to load the auto-render file? You should be including the built auto-render.min.js file, not the un-built auto-render.js file, unless you are including it via browserify/webpack/etc. to serve on your page.

I should be more explicit about including that file. If you use the built file (for example, [from cdnjs](https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/contrib/auto-rend

[2015-04-20 19:11] xymostech opened #223 "The auto-render script should not stop rendering because one expression fails"
Currently, if there are expressions on a page on a page that KaTeX can't render, the auto-render script stops rendering when it gets to that point. It should attempt to render every expression on the page, leaving ones that couldn't be rendered unrendered on the page.

[2015-04-20 19:15] xymostech commented on #221
We don't currently have anything like `DeclareMathOperator` in KaTeX. Since `\DeclareMathOperator` is basically the same as `\operatorname`, this should be merged into #145.

[2015-04-20 19:15] #221 closed

[2015-04-20 19:19] spicyj commented on #221
(In conjunction with support for defining macros #37.)

[2015-04-22 22:25] #48 closed

[2015-04-27 00:04] #223 closed

[2015-04-29 20:50] rgbkrk opened #224 "\LaTeX not rendered"
[code]

renders just fine but

[code]

doesn't. I'm all for letting `\KaTeX` be rendered, but there are plenty of times people want to render `\LaTeX`.

[2015-04-30 18:17] xymostech commented on #224
There was a pull request to add this: #131. I'd like for `\LaTeX` to be rendered using the true offsets/dimensions as in actual LaTeX, which is why it wasn't merged in. This is something that would probably be nicer if this was just implemented as a macro whenever we figure that out, but if you (or anyone else) wants to try to incorporate the true metrics.

[2015-05-04 05:37] delip commented on #19
@xymostech can you look into the PR submitted by @kevinb7? Please let us know if you need help.

[2015-05-04 12:08] dt1973 opened #226 "Minor kerning issue?"
Might have stumbled upon a minor kerning issue. `EUR` appears as `EU R`:

http://jsbin.com/xegoxomasa/1/edit?html,js,output

[2015-05-04 15:27] xymostech commented on #226
This is not a kerning issue. That is the same as how it appears when viewed in LaTeX:

![image](https://cloud.githubusercontent.com/assets/217900/7456159/2370145c-f237-11e4-95ee-b8aa6b1fa373.png)

and in MathJax:

![image](https://cloud.githubusercontent.com/assets/217900/7456194/69d5b19a-f237-11e4-807b-af3a44d21ac6.png)

[2015-05-04 15:27] #226 closed

[2015-05-07 15:11] AugierLe42e commented on #65
Hi, it seems like I also have this problem with the minus sign :

    ParseError: KaTeX parse error: Unexpected character: '–' at position 39: _{i=1}^{n}(x_i ̲– m)^2

Though it works perfectly with plus sign.

[2015-05-07 16:44] Pomax commented on #65
@AugierLe42e you probably want to file that as a separate issue, rather than as part of a greater unicode problem. Your problem reduction suggests it's a sequence parsing error (no error without spaces, error with spaces) rather than a unicode problem (it's not saying that the minus symbol is unsupported or unrecognized)

[2015-05-07 17:44] xymostech commented on #65
@AugierLe42e The character you copied from the KaTeX error (`–`, which is unicode's U+2013) isn't parseable by KaTeX. Changing it to a normal minus sign (`-`) should work.

However, that character doesn't appear in the expression you pasted? Are you sure you copied it from the correct source?

[2015-05-07 18:01] AugierLe42e commented on #65
This is that character my keybord produces on Mageia Linux 4. I copied/pasted the expression from an article I just wrote. I didn't change the sign. However, the parsign fails when the minus sign is surrounded by whitespaces and pass when not.

[2015-05-07 22:11] xymostech commented on #65
@AugierLe42e What are you using to edit that expression? Your editor might be turning `-` into `–` (an en dash) when you put it between spaces.

[2015-05-08 01:25] Pomax commented on #65
if your article is online and published through a CMS: it replaced your plain minus sign with the almost-always-incorrectly en-dash (U+2013), a character that is exclusively for numerical ranges.

[2015-05-08 08:07] AugierLe42e commented on #65
I thought it was that at firt, yes (I'm on WordPress CMS) but, actually, same result by typing it directly in the text (HTML mode of WP).

[2015-05-08 16:27] Pomax commented on #65
Yeah, the WP editor can  do this for you as you type. Try typing `-` into something like a text editor, and you'll see it stay a normal hyphen.

[2015-05-11 10:42] dt1973 commented on #226
Thanks. Lowercase `eur` looks good though.

[2015-05-11 11:02] dt1973 opened #229 "Add support for \cancel"
Is there a way to do diagonal strikethroughs in KaTeX?
- http://docs.mathjax.org/en/latest/tex.html#cancel
- https://groups.google.com/forum/#!msg/mathjax-users/tuFHn3EkSic/6NMAkL_CvqAJ

Thanks!

[2015-05-11 12:08] franciscop commented on #222
That solved my problem, thank you @xymostech

[2015-05-11 12:09] #222 closed

[2015-05-12 05:38] bguiz opened #230 "Can render LaTex?"
- Does KaTex have any plans to support LaTex in addition to Tex?
- http://www.quora.com/Whats-the-difference-between-TeX-and-LaTeX

[2015-05-12 05:40] bguiz opened #231 "Can use without special fonts?"
- KaTex uses these font files: https://github.com/Khan/KaTeX/tree/master/static/fonts
- Is it possible to make KaTex work with standard fonts?

[2015-05-12 18:58] spicyj commented on #230
KaTeX supports parts of LaTeX and parts of TeX. We don't have a comprehensive reference of supported features currently but already have some LaTeX-specific commands (e.g., `\frac`, `\binom` from amsmath) and will add more, including some environments, in the future.

[2015-05-12 18:58] #230 closed

[2015-05-12 18:59] spicyj commented on #231
Not really, since KaTeX relies on knowing the font metrics in order to position things accurately. See also #123. Possibly we could make a mode that looks okay on some common pre-installed fonts though without requiring font data.

[2015-05-13 10:29] bguiz commented on #230
I would like to know if there is a goal for KaTex to support all of LaTex

If this is the case, perhaps we should catalogues the ones that have
already been implemented, and the ones still outstanding? This looks like
an exhaustive list: http://en.wikibooks.org/wiki/LaTeX/Command_Glossary

W: http://bguiz.com

On 13 May 2015 at 04:58, Ben Alpert <notifications@github.com> wrote:

[2015-05-13 10:35] bguiz commented on #231
pre-installed fonts though without requiring font data.

Yes please - this is exactly what I am after! One that would work with one
out of the default set of fonts commonly available in browsers would be
perfect.

W: http://bguiz.com

On 13 May 2015 at 04:59, Ben Alpert <notifications@github.com> wrote:

[2015-05-13 13:30] PeterBocan commented on #230
KaTeX is *math typesetting* for the web, not the replacement or some kind of "web version" of LaTeX/TeX. If you want to, you can go and do something like TeX for website typesetting, that would be nice, but I'm happy with markdown since last year.

[2015-05-19 03:14] jakiestfu commented on #114
What is the status of this issue?

[2015-05-19 06:04] spicyj commented on #114
Still waiting for the next release, when we'll commit the built files and publish a bower package.

[2015-05-19 06:06] jakiestfu commented on #114
Thanks spiceh!

[2015-05-19 12:03] scaljeri opened #233 "Support multiple fonts"
I'm using both KaTeX and MathJax to render formulas. I use MathJax as a fallback if KaTeX can't render the formula. Now, the problem is that I (sometimes) get a mixture for formulas rendered with different font.

For MathJax I've defined to use `STIX-Web` font, but Mathjax has more fonts available

   * 1. TeX
   * 2. STIX-Web
   * 3. Asana-Math
   * 4. Neo-Euler
   * 5. Gyre-Pagella
   * 6. Gyre-

[2015-05-19 12:13] ystreibel commented on #48
Hi, this issue is already here in v0.3.0
![katex_sqrt](https://cloud.githubusercontent.com/assets/3459111/7702545/358324da-fe31-11e4-97ce-25dcd5603681.png)
How could I do ?

[2015-05-19 13:10] kevinb7 commented on #48
@ystreibel this bug was fixed after v0.3.0 was released. If you build katex.js from the source it should be fixed there.

[2015-05-19 15:11] ystreibel commented on #48
@kevinb7 Thanks for your workaround but is not working for me.
I compile the library with the Makefile on Debian. When I use the release file katex.js, the render is not displayed on my div element.

[2015-05-19 15:22] ystreibel commented on #48
@kevinb7 Ok it's working now ! Thanks !

[2015-05-19 15:50] PeterBocan commented on #233
KaTeX does not support other fonts because it will require new metrics for rendering.
See https://github.com/Khan/KaTeX/issues/123 and https://github.com/Khan/KaTeX/issues/231.

[2015-05-19 16:10] mydigitalself opened #234 "0.3.0 not on npm"
Hey folks, we use KaTeX for Gitter where it's very popular amongst some of our communities. Was in the process of upgrading some of our markdown processors and wanted to move up to 0.3.0, but noticed it's not published on npm yet, is there any reason for that?

[2015-05-19 16:15] spicyj commented on #234
Looks like an oversight. Just pushed 0.3.0.

[2015-05-19 16:15] #234 closed

[2015-05-19 16:21] mydigitalself commented on #234
Sweet, thanks for the super-fast response too.

[2015-05-19 16:22] mydigitalself opened #235 "Font question"
Me again. Was trying to look at the Wiki documentation about the fonts just to understand what _Fraktur _Greek _AMS and _Caligraphic are for. Are they needed or just variations?

[2015-05-19 18:09] spicyj commented on #235
KaTeX_AMS contains some of the symbols. The others aren't currently used:

https://github.com/Khan/KaTeX/blob/v0.3.0/static/fonts.less#L50-L69

[2015-05-19 18:09] #235 closed

[2015-05-19 18:30] spicyj commented on #48
The website wasn't on 0.3.0; now it is.

[2015-05-20 07:21] scaljeri commented on #233
Ok thanks! Are there plans in the near future to support this ?

[2015-05-20 09:15] scaljeri commented on #171
Are there any plans to add support for `\hspace{2px}` ?

[2015-05-20 10:22] PeterBocan commented on #233
When it's done, but this feature is not the main goal for these days. :)

[2015-05-20 13:36] kevinb7 commented on #171
@scaljeri It seems like ```\hspace``` would be relatively easy to implement.  It would probably have more success as a separate issue.

[2015-05-20 13:38] scaljeri opened #236 "Add support for \hspace"
Are there any plans to add support for `\hspace{2px}` ?

I need this to format numbers, meaning I have things like:

    12\hspace{2px}345

[2015-05-20 13:38] kevinb7 commented on #171
@octatoan support for ```\begin{align*}``` is in code review, but the current implement doesn't behave well with infix operators such as ```\over```.   It's going to take some time to resolve this issue.

[2015-05-20 13:54] scottdraves opened #237 "Add support for \S"
Uncaught ParseError: KaTeX parse error: Expected '}', got '\S' at position 16: displaystyle{\S̲}

as reported by http://khan.github.io/KaTeX/

should produce a section symbol

[2015-05-20 16:10] kirbyfan64 commented on #237
Does KaTeX support section symbols? K didn't think it did.

[2015-05-20 16:29] scottdraves commented on #237
I finally found https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX.
I would recommend linking to that from the top-level README.
And for undefined symbols, maybe just rendering as "?" would be better than throwing an exception.

[2015-05-20 16:37] kirbyfan64 commented on #237
Well, I think the newest version of KaTeX continues on error and renders the other stuff anyway. I think.

[2015-05-20 19:46] spicyj commented on #233
Closing in favor of the other issues.

[2015-05-20 19:46] #233 closed

[2015-05-25 01:56] kevinb7 commented on #177
@Loginisalreadytaken can you provide the code and a screenshot for this issue?

[2015-05-25 01:58] kevinb7 commented on #204
@NSoiffer what tex code are you using to generate this MathML?

[2015-05-25 10:04] PeterBocan commented on #177
Well, sqrt-line placement is broken for me too. No matter what browser I use, the line is too low and, to be honest, that thing annoys me.

[2015-05-25 15:29] kevinb7 commented on #177
It's a tough problem.  There's been a couple of suggested fixes, but none seem to be a complete fix.  It difficult because it's not only browser and OS specific, but ti's also font size specific.  It looks fine on Firefox on Mac OS X.  In the past I've tested it on all of the Windows browsers and it doesn't look good in any of them.

[2015-05-26 18:38] dt1973 commented on #171
+1 for `\\` and `\newline`.

[code]

is just too much and would require extra CSS to bring the two paragraphs closer together. The following, on the other hand, would be perfect:

[code]

[2015-05-27 07:18] mtaboga opened #238 "Differential"
Hello and compliments on KaTeX, a very promising piece of software.
I was wondering whether there is any supported way of writing differentials (like the dx at the end of an integral). Usually, people recommend to use the LaTeX command \mathrm{d}x , but it does not seem to be supported yet in KaTeX. Any suggestion?

[2015-05-27 15:07] kevinb7 commented on #238
Support for ```\mathrm``` should be coming shortly.  See pull request https://github.com/Khan/KaTeX/pull/132 for details.  In the meantime I would suggest using ```dx```.

[2015-05-27 15:07] #238 closed

[2015-05-27 17:32] spicyj commented on #238
`\text{d}x` will also work in the meantime.

[2015-05-30 01:36] octatoan commented on #123
Any updates on this?

Concrete Mathematics + Palatino is very nice. Both are Hermann Zapf fonts, and he's said they go well together.

[2015-05-30 06:43] kevinb7 commented on #123
It's possible, but it would take some elbow grease.  One of the issues is that KaTeX isn't a full TeX engine, we don't support macros or (re)defining commands.  I believe that many LaTeX packages redefine certain basic TeX commands to override the default fonts that are used for math like cmr10, cmmi10, cmsy10, etc.  Also, KaTeX supports many high level commands but doesn't implement those low lev

[2015-06-02 20:32] PeterBocan opened #239 "A CDN pointing to the latest "release""
I have one little enhancement on KaTeX - what about adding/setting the CDN to point to the latest release?

[2015-06-02 20:35] spicyj commented on #239
This would have to be fixed in cdnjs.com; they've got an issue here already: https://github.com/cdnjs/cdnjs/issues/360.

In general I wouldn't recommend always upgrading automatically to new major versions because we might have breaking changes, either in the TeX syntax supported or in the JS API. :)

[2015-06-02 20:35] #239 closed

[2015-06-02 20:38] PeterBocan commented on #239
Ah, I see, that's sad. :D

[2015-06-03 23:33] RodrigoCard commented on #43
I am allowed to say +1 :+1:  here too? :)

[2015-06-04 11:18] jimaek commented on #239
jsDelivr supports latest links and version aliasing if you are interested.
Example http://cdn.jsdelivr.net/katex/latest/katex.min.js
http://cdn.jsdelivr.net/katex/0.3/katex.min.js (latest 0.3.x)

More info https://hacks.mozilla.org/2014/03/jsdelivr-the-advanced-open-source-public-cdn/

[2015-06-04 11:21] PeterBocan commented on #239
@jimaek that's amazing!

[2015-06-05 08:55] ystreibel opened #240 "Impossible to use katex bower dependency without build"
Hi,

After having pulled the katex dependency with bower. It appears that the katex.min.js is not present, nor the katex.min.css.

For other bower dependency, it is not required to launch a build script, it should be usable directly 'as is'.

[2015-06-05 08:55] spicyj commented on #240
Dupe of #114.

[2015-06-05 08:55] #240 closed

[2015-06-05 08:57] ystreibel opened #241 "Readme it's not up to date."
The latest version of katex is 0.3.0.
 In the REAMDE.md, you have this line :

[code]

[2015-06-05 09:00] #241 closed

[2015-06-09 09:09] flying-sheep opened #243 "Symbol unicode replacement doesn’t work"
[test case](http://jsbin.com/manevavibi/2/edit)

the trivial `katex.renderToString('σ')` throws `ParseError: KaTeX parse error: Unexpected character: 'σ' at position 0: ̲σ`

[2015-06-09 23:09] spicyj commented on #243
I thought we had a tracking issue for this already, but I guess not. Brief discussion on #73 and #59.

[2015-06-10 07:46] flying-sheep commented on #243
well, i didn’t even try to understand this code, but wouldn’t it be possible to loop [symbols](https://github.com/Khan/KaTeX/blob/master/src/symbols.js#L18), and create an index for all literals that maps back to the relevant part of the structure?

[code]

and then, using this, we could search for the symbol [before the end of the lexer tests](https://github.com/Khan/KaTeX/blob/0f6530096b31483d7b

[2015-06-10 08:38] monokeroslun opened #244 "hi I want use sqrt [] but it still not support, I found other issue about this but do not work?"
hi  I want use sqrt [] but it still not support, I found other issue about this but do not work?  could you help me ?

[2015-06-10 09:16] akkatracker commented on #244
It's working for me:

    \sqrt{342}

Yields the square root of 342

[2015-06-10 17:31] spicyj commented on #244
Dupe of #48. Should work in the next release.

[2015-06-10 17:31] #244 closed

[2015-06-10 17:32] spicyj commented on #243
It's not quite that simple because (I believe) the character used in the math fonts we use might not necessarily align with the character that's appropriate in the input string.

[2015-06-10 22:08] flying-sheep commented on #243
you believe? how to be sure?

[2015-06-11 09:35] shybovycha commented on #181
:+1:

[2015-06-13 10:20] qbolec commented on #243
I have problems with existing codebase, which contains following symbols:
'−'
'⟨'
'⋅'
'≤'
'≥'
'α'

[2015-06-13 10:24] qbolec opened #247 "log_\sqrt{3}9 should work, but doesn't"
I'm trying to migrate from MathJax, but several things still do not work:

Uncaught ParseError: KaTeX parse error: Got function '\sqrt' with no arguments as subscript at position 6: a=log_̲\sqrt{3}9

Uncaught ParseError: KaTeX parse error: Optional arguments to \sqrt aren't supported yet at position 7: \sqrt[4̲]{9}\cdot\sqrt

Is there any way around these bugs?

[2015-06-13 16:37] kevinb7 commented on #247
@qbolec The first one definitely looks like a bug.  The second one however is a duplicate of https://github.com/Khan/KaTeX/issues/48.  If you build from source it should work.

[2015-06-13 16:40] kevinb7 commented on #247
Interestingly ```a = log_\frac{1}{2}9``` works fine.

[2015-06-13 17:46] kevinb7 commented on #65
The fonts we're currently using don't have accented characters like é so we could construct them, but there a other characters like æ and ß which we wouldn't be able to construct.  For those we'd have to add/switch fonts.  Perhaps latin modern: http://www.ctan.org/tex-archive/fonts/lm/.

[2015-06-13 17:51] kevinb7 commented on #243
@flying-sheep I like the idea of auto-generating symbols based on existing "replace" symbols and just adding them to the ```symbols``` dictionary.  It doesn't cover every unicode char, but it's a good start.  Would you be able to create a pull request that automatically adds entries to ```symbols``` based on existing entries?  I think it's more maintainable than adding aliases manually, people don

[2015-06-13 18:23] Pomax commented on #65
wait, we're doing this on the web, why do we need .mf *fonts* as opposed to normal opentype fonts with a one-time-run generation of the metrics file for the font? if XeLaTeX's `fontspec` can do this, I'm pretty sure that same approach would work fine for KaTeX, while keeping things as webby as possible.

[2015-06-13 18:44] kevinb7 commented on #65
I'm not familiar with ```fontspec```.  I had a quick look at https://github.com/wspr/fontspec/ and it looks like it might be useful.  One thing about "any font they want" is that not all fonts will support everything.  Also, all the ```KaTeX-``` fonts in ```static/fonts``` are quite small compared to XITS.  The nice thing about having different character sets in different font files is that you ca

[2015-06-13 18:49] qbolec opened #248 "Font anti-aliasing for = looks bad in Chrome"
Look at https://jsfiddle.net/901jrhsu/ it tries to display x=2 in a span.
My user agent is:
[code]
What I see is this:
![katex](https://cloud.githubusercontent.com/assets/133093/8145571/5fa70804-120d-11e5-82cb-c445c1454d9c.png)
The problem is that bars of equality sign are not of the equal width/color.
By changing font-size to different values I can produce other strange results (sometimes the upp

[2015-06-13 20:13] flying-sheep commented on #243
you’ll first have to check @spicyj’s claim that it may not always be a bidirectional mapping

[2015-06-13 21:26] kevinb7 commented on #243
I created a jsfiddle that displays the glyphs for all of the "replace" symbols using the unicode character specified in symbols.js: https://jsfiddle.net/047yzexz/1/.  It seems like most are the correct character, but a few are showing up as boxes which is probably because the default font doesn't support those.

[2015-06-14 00:52] Pomax commented on #65
they don't, so we can respect CSS here and go "if you know which font you want, you better also have a metrics file available: please use the KaTeX bootstrapping options object to indicate where that file lives" and leave it to the user to break out of the predefined font set. That way everyone wins (KaTeX simply has to offer the build tool, which'll be in the repo anyway, and users who want "thei

[2015-06-14 08:49] flying-sheep commented on #243
umm, that’s called [`textContent`](https://jsfiddle.net/047yzexz/2/), not `innerText`…

[also i added some names](http://jsfiddle.net/flyingsheep/047yzexz/3/)… is there some better unicodedata out there that has everything in JSON or so?

[2015-06-14 15:10] kevinb7 commented on #243
http://www.unicode.org/Public/UCD/latest/ucd/Index.txt should contain all of the names for every unicode entry.  Did you want the data to verify those glyphs are being displayed as missing?  I'm confident that everything will check out, but it's good to be sure.

[2015-06-15 21:30] spicyj commented on #247
Hopefully as simple as adjusting the greediness values:

https://github.com/Khan/KaTeX/blob/9869d59cadb009fdd8b07f8516ff62a5a8f76b3a/src/functions.js

[2015-06-15 23:45] kevinb7 commented on #247
LaTeX also throws an error on ```\log_\sqrt{3}9```.  In this case I would say MathJax's behavior is incorrect.  Since we'd like to match LaTeX behavior whenever possible I'm going close this as "won't fix".

@qbolec Sorry, you'll have to add some extra braces around the ```\sqrt```.

[2015-06-15 23:46] #247 closed

[2015-06-16 09:11] flying-sheep commented on #243
yeah, to check @spicyj’ claim

[2015-06-16 11:59] flying-sheep commented on #243
about @qbolec’s case: we have all those symbols, except “−”, which is the real mathematical minus, and is encoded in TeX as the “-” aka hyphen-minus, the thing everyone has on the keyboard.

[2015-06-16 13:36] kevinb7 commented on #243
@flying-sheep the hyphen is in the jsfiddle and maps correctly to the minus sign.  In terms of verify that everything maps correctly, including the missing glyphs, it might be easier to just add the code to do the mapping and then programmatically create KaTeX layouts for each glyph in that list, add them to a page, and check that each pair has identical symbols.

[2015-06-16 14:30] flying-sheep commented on #243
seems that i overlooked it. great!

[2015-06-17 18:55] kevinbarabash opened #249 "spacing around fractions is incorrect"
The image diff below shows KaTeX rendering in black and LaTeX rendering in white.  Notice that spacing around the fractions and solidus don't match up.
![b6ed6322-14fd-11e5-843f-cc2814e0d921](https://cloud.githubusercontent.com/assets/1044413/8215794/bf07b372-14ef-11e5-8bc4-0b54c788694f.png)

I'll post a minimal repro case later.

[2015-06-17 21:42] kevinb7 commented on #249
Credit goes to @gagern for finding this issue.  I really like idea of these images diffs to compare KaTeX output to LaTeX.

[2015-06-18 01:22] kevinbarabash opened #250 "add support for macros via \def and \newcommand"
In the process of helping @gagern with https://github.com/Khan/KaTeX/pull/246 I came to the realize that the environments are essential functions that do some extra parsing and do that parsing in a slightly different way.  In the case of the array/matrix environments they recognize `&` as a special token to separate cells.

Macros are similar to environments except instead of simply parsing the in

[2015-06-18 02:00] kevinb7 commented on #250
I think https://github.com/Khan/KaTeX/issues/37 could be handled in a similar fashion.

I just noticed my note about ```\def\oneover{\frac{1}}```.  To handle this situation, if temporary Parser is expecting more tokens when it comes to the end of the expanded input stream it switches over to its parent's lexer.

[2015-06-18 04:25] spicyj commented on #248
If any contributors are interested, we should try using http://www.freetype.org/ttfautohint/. Also interesting reading: http://tex.stackexchange.com/q/1390.

[2015-06-18 05:03] spicyj commented on #250
I think it would might be a good idea to first figure out a solid API for defining new commands in JS. Something like

[code]

and then we can implement `\newcommand` on top of that. I think most people using KaTeX (such as KA) won't want to support def/newcommand for user-defined expressions but people might want to define some site-specific commands.

(Incidentally, we don't have limsup or limin

[2015-06-18 06:39] gagern commented on #250
Site-specific commads are on my agenda as well. I'd like to see single-string shorthands for simple cases:

[code]

You could construct frunctions in the way KaTeX implements them from these string representations. For more complicated things, we could still let the user provide a function. But then compatibility is a major issue, so I'd make this something like this:

[code]

That way, the implem

[2015-06-18 06:41] gagern commented on #250
I would like to keep macros per-parser, so that different KaTeX formulas can coexist on a page without interfering with one another. But you could also store any macro defined by `\newcommand` back to the macros property of the options object. That way, different formulas sharing the same macros object could share the same macros, even if those are defined from within the formulas.

[2015-06-18 07:34] monokeroslun opened #252 "I use \rm{} but it doesn t work"

[2015-06-18 14:48] PeterBocan commented on #252
Use

       \text{}

[2015-06-18 18:57] kevinb7 opened #253 "vertical space above fraction line is too small for \frac"
source:
[code]

LaTeX (zoomed in so the size doesn't match exactly):
![screen shot 2015-06-18 at 12 55 03 pm](https://cloud.githubusercontent.com/assets/1044413/8239472/4242bc40-15b9-11e5-99c1-95de20c6abf5.png)

khan.github.io/KaTeX:
![screen shot 2015-06-18 at 12 48 46 pm](https://cloud.githubusercontent.com/assets/1044413/8239450/1850c8aa-15b9-11e5-99cb-674d64b4b90b.png)

localhost:7936 (master)

[2015-06-18 19:12] xymostech commented on #253
Huh. When you take the screenshots, are you using the browser zoom feature or increasing the font size? Also, are those the same expressions? The first `a/b` looks like it's in displaystyle, while yours looks like it's in textstyle? (note that stuff on khan.github.io/KaTeX automatically adds `\displaystyle` to the generated code)

[2015-06-18 19:15] kevinb7 commented on #253
I didn't realize that \displaystyle was being added automatically.

[2015-06-18 19:15] #253 closed

[2015-06-18 20:05] Schaan opened #254 "need support for euro symbol"
Hi, I couldn't find a way to type euro symbol like this `€`. With a european keyboard-layout this can be typed directly, but it can't be rendered within KaTeX, even if I put this € in a `\text`. It can be rendered in mathjax without problem.

I must say I'm not sure either if euro would exist in the world for a long time in the future... But I really type this a lot in my notes at the time.. I hop

[2015-06-18 21:03] kevinb7 commented on #250
I think something simple like ```defineCommand("\\operatorname", "\\text{lim}\\,\\operatorname{sup}");```.

I think we should probably have ways to to define global macros and per parser macros.  ```defineCommand``` for the former and @gagern's suggestion of passing a map to ```render``` for latter.

I'm not sure what the benefit of having JS API for construction the definition of the macro.  Mayb

[2015-06-18 21:06] gagern opened #255 "Function argument restructuring"
Currently the arguments to a function handler are first the name of the function, then the arguments of the function as separate arguments, then the positions of these arguments, with `this` pointing at the parser. All of this feels pretty mixed-up. Things become even worse for the newly merged environments, where we need two more arguments, `pos` and `mode`.

I can think two possible solutions. E

[2015-06-18 21:07] gagern opened #256 "Break up array of function declarations"
In `functions.js`, the functions are stored in two big arrays, namely `functions` and `duplicateFunctions`. This makes it hard to mix code which is not a LaTeX function in with the rest. To prove my point, see how the `delimiters` constant array is located just before `duplicateFunctions`, while in fact it belongs to the implementation of the delimiter functions which is quite a bit down from that

[2015-06-18 21:14] gagern commented on #250
For example a function which takes a bunch of digits as an argument and returns a barcode representation of that sequence, composed of rules. You could do this in LaTeX, but it would require quite advanced macro programming, so for KaTeX it's certainly easier to do such things in JavaScript, perhaps building on existing libraries. Most mathematicians don't need barcodes, but I hope you accept this

[2015-06-18 21:17] gagern commented on #250
Can we safely do so? For functions which can be used in text and in math mode, we should probably cache two distinct versions, since the parser includes that mode in many of its nodes. And I think we should offer some opt-out mechanism for that caching, although we could of course do that once the need arises.

[2015-06-18 21:20] gagern commented on #43
Can we close this, now that #246 has been merged?

[2015-06-18 21:21] gagern commented on #206
Can we close this, now that #246 has been merged?

[2015-06-18 21:23] gagern commented on #47
My #246 which has just been merged provides the core functionality for arrays. But it doesn't do lines yet, neither horizontal nor vertical. Since lines were an essential part of the original post here, I'd leave this ticket open until lines are implemented as well. I have quite a number of things on my agenda, so if someone wants to take a stab at adding support for lines, feel free to do so.

[2015-06-18 21:31] xymostech commented on #43
Yes! Fixed by #246

[2015-06-18 21:31] #43 closed

[2015-06-18 21:33] PeterBocan commented on #43
Uhm... I'm feeling the next upcoming release gonna be soon with a whole lotta of sweets.

[2015-06-18 22:23] kevinb7 commented on #206
I think we can close this because the infrastructure for ```\begin``` and ```\end```.  We'll leave the other issues open that deal with specific environments.

[2015-06-18 22:23] #206 closed

[2015-06-19 03:08] kevinb7 commented on #256
I think this makes a lot of sense.  We'd probably want to do this for symbols as well.  I'd like to hear @xymostech's and @spicyj's thoughts on this.

[2015-06-19 03:31] kevinb7 commented on #255
I feel like ```ParseNode``` and ```ParseResult``` should probably be merged into one.  The main goal of ```ParseResult``` is to add position information to each node.  Libraries like esprima and acorn which parse JavaScript into an AST add location metadata to each node as code is being parsed.  It seems to work well.  Having the start and end locations of each node might open up some interesting

[2015-06-19 06:12] kevinb7 commented on #181
I believe this issue has been fixed by https://github.com/Khan/KaTeX/commit/2060ebaf214739cda866368175185c5151b86426.  Let me know if that's not the case.

[2015-06-19 06:15] kevinb7 commented on #175
We probably could be doing more to insult KaTeX from external styles.  Would you be interested in submitting a pull request?

[2015-06-19 06:22] kevinb7 commented on #160
@jeromew I'm going to close this as duplicate of https://github.com/Khan/KaTeX/issues/248 even though you reported this issue first, mainly because @spicyj has proposed a potential solution to the poor rendering quality in that issue.

[2015-06-19 06:22] #160 closed

[2015-06-19 06:24] #143 closed

[2015-06-19 06:28] kevinb7 commented on #109
@ctrlcctrlv Would you be able to create a pull request for this?

[2015-06-19 07:06] gagern commented on #61
Since #246 got merged, we have support for environments, and with `array` and `matrix` environments also some experience on how to do this kind of alignment. So the main task here, the way I see it, is working out all the spacing rules. How does LaTeX typeset `align*`? How much space is there between rows? How much gap between columns? I guess the latter might be some `\hfill`, at least between pa

[2015-06-19 07:54] jeromew commented on #160
@kevinb7 ok no problem ; thanks for the issue triage ; the visual effect I had is indeed the same as on #248

[2015-06-19 07:55] gagern opened #257 "Completely sans-serif math"
If a web page is written completely using sans-serif fonts, it would be nice if the math could match that aspect of the font. So I'd like for KaTeX to have a configuration where it produces sans-serif math.

I know that sans-serif formulas are really hard to achieve even in LaTeX. [This (German) survey](http://milde.users.sourceforge.net/Matheschriften/matheschriften.html#sans-serif-grotesk) has s

[2015-06-19 07:59] spicyj commented on #257
Going to count this as a duplicate of #123. We should figure this out though if we can. Not sure off the top of my head if there are good sans-serif Xe(La)TeX fonts but if there are that may be an easier route.

[2015-06-19 07:59] #257 closed

[2015-06-19 13:17] kevinb7 commented on #61
I found this in amstex.sty:
[code]
In "TeX for the Impatient" it states the following:

This command behaves just like \halign, except that it first sets the \tabskip glue to zero and sets \everycr empty.

I take that to mean that there is no space between the columns or rows.

[2015-06-19 15:25] Pomax commented on #61
Note that that is not `align`/`align*`, but `aligned`. in the same `tex/latex/abs/math/amstex.sty` there is also
[code]
which are then unfortunately followed by a rather long and  detailed alignment implementation

[2015-06-19 15:37] gagern commented on #61
OK, so there is no gap between rows or columns as far as `\halign` is concerned. But the `{}##` inserts an empty group at the beginning of the left-aligned columns, while the `\strut@` will probably ensure some minimal row height and depth. Regarding the latter I read

[code]

The `\strutbox` should be the same I [referenced for arrays](https://github.com/Khan/KaTeX/blob/397dcb303baa8285968ba5ce50

[2015-06-19 15:42] kevinb7 commented on #61
I found this post on the tex stack exchange about the difference between ```aligned``` and ```align*```.  http://tex.stackexchange.com/questions/95402/what-is-the-difference-between-aligned-in-displayed-mode-and-starred-align

The basic difference AFAICT is that ```align*``` has extra vertical space.  Maybe it would make sense to not include the extra vertical padding and let people handle that wi

[2015-06-20 08:48] gagern commented on #256
Come to think of it, `groupTypes` in `buildHTML.js` is suffering from a mild case of the same: one big array, where you can't simply insert auxiliary functions. There my preferred notation would be changing the `genfrac: function(…) {` to `groupTypes.genfrac = function(…) {`, thus reducing the nesting depth by one level and allowing for other code to get mixed with the group rendering code.

[2015-06-20 09:13] franciscop commented on #181
Not fixed yet, I just received this error. From [this stackoverflow question](http://stackoverflow.com/q/29046960/938236), it looks like you might need to bump the version number. If I remember correctly, even if you update your code within a version (like happened here I think), bower will only get the original one. Maybe bump at patch level?

[2015-06-20 13:44] kevinb7 commented on #181
TBH, I didn't look carefully at the bower.json file before closing this.  I did try it out and didn't see any errors/warnings.  Not sure why my version of bower isn't reporting them.

[2015-06-20 13:52] kevinb7 commented on #256
Why use a different pattern in this case?

[2015-06-20 14:05] gagern commented on #256
Mainly to get rid of quotes. `funcs["\\frac"] = { … }` would not work well with several functions sharing one implementation (i.e. `duplicateFunctions`), and would still have to contain quotation marks due to the name which is not a valid identifier. However,

[code]

looks more verbose and obscure than

[code]

since I'd wonder what that string is, whether it's more than an identifier naming a pr

[2015-06-20 14:15] kevinb7 commented on #256
I was curious more than anything else.  Since there aren't other arguments in this case, it does look quite verbose (and non-idiomatic) to write ```groupType("genfrac", function(…) { … });```.

[2015-06-20 14:53] gagern commented on #243
The tool I recently commited in https://github.com/gagern/KaTeX/commit/5e127ba6febe0d0850718c7142863a280c42fb1a can be used to display KaTeX fonts in browser, together with the corresponding rendering in system default fonts. As far as I could tell from skimming the lists, the symbols all match up except for symbols from the private use area. There are a few of these in the Size1 and Size4 font, a

[2015-06-20 15:42] gagern opened #259 "Support bold fonts"
The KaTeX repository contains several bold fonts, but apparently there are no functions to switch to them. It would be nice to change that.

Perhaps this can build on the work being done in #132?

[2015-06-20 15:43] gagern opened #260 "Accept unicode from mathematical alphabets on input"
While #243 is discussing ways of accepting unicode characters as input for those situations where the output is using the same unicode symbol, we don't use special symbols on output for the fonts #132 is woking on, but instead use regular latin letters with a special font. Nevertheless it would be nice if we could still accept these special unicode symbols on input.
#51 already gave some translati

[2015-06-20 15:53] gagern commented on #243
@spicyj [wrote](#issuecomment-110529249):

Were you perhaps referring to #16? That bug has no discussion to it, but it does have an asignee.

In trying to sort through the various unicode bugs, this one here seems to have the most momentum to it just now. I'm conducting a short survey, trying to see what else might be useful.
* Apparently pull requests #59 and #73 were closed by the contributor, p

[2015-06-20 15:57] gagern commented on #260
Another thing that might be entered different from how we'd render it are accents. They might get entered using precomposed symbols, but NFD normalization could split that up into a symbol and an accent, which we might have in our fonts and might be able to render accordingly.

[2015-06-20 16:55] kevinb7 commented on #181
@franciscop what version of bower are you running.  I'm going to add "main", but for the life of me I can't reproduce the error that you're seeing.

[2015-06-20 17:16] kevinb7 commented on #181
@franciscop It should be fixed with https://github.com/Khan/KaTeX/commit/4ea7d38b5c8eeb25c86ebb4f8b12b8be78aaf8fb.  Can you give it another try?

[2015-06-20 17:16] #181 closed

[2015-06-20 17:42] flying-sheep commented on #243
please direct your attention to #261, because i have no idea how that change makes super- and subscript syntax behave differently. AFAICS, `_` and `^` don’t appear in the symbols…

[2015-06-20 17:54] kevinb7 commented on #243
I think we just need to exclude those from the list because they have special meaning.  If we come across a ```_``` or ```^``` it should not be parsed as a symbol.

[2015-06-20 17:57] flying-sheep commented on #243
done. at first i was confused since ^ didn’t appear to be in the symbols, but then i remembered that my texteditor’s search interprets things as regex, so ofc it was there!

[2015-06-20 23:18] spicyj commented on #16
Closing for #243 which has a bunch of comments.

[2015-06-20 23:18] #16 closed

[2015-06-20 23:19] spicyj commented on #243
@gagern Yes, thanks.

[2015-06-20 23:20] spicyj commented on #256
Both should get munged to a single letter; if that's not happening we should fix our uglify config.

[2015-06-21 05:39] franciscop commented on #181
Perfect :thumbsup:, tried again after deleting the repository and clean bower's cache and couldn't reproduce:

![cache clean](https://cloud.githubusercontent.com/assets/2801252/8270618/0489edc6-1823-11e5-8ed3-067f04de3279.png)

[2015-06-21 21:18] gagern opened #263 "Snapshot alternatives"
In https://github.com/Khan/KaTeX/pull/246#issuecomment-112148381 I asked about whether PhantomJS could/should be used to create snapshots, instead of Selenium. Today [I gave that a try](https://github.com/gagern/KaTeX/commits/phantomjs-experiments), using the phantomjs 1.9.0 package that comes with Ubuntu 14.04 (though 15.04 is still at 1.9.0). I stayed with Docker for now, since that (with Boot2D

[2015-06-21 21:57] spicyj commented on #263
PhantomJS's WebKit is extremely old. We support current-ish versions of Chrome/Firefox/Safari/etc and down to IE8. Looking into the selenium images seems like a good idea (I didn't realize those existed). Ideally we could screenshot IE too but I don't know of a good way to do so.

[2015-06-22 02:21] kevinb7 commented on #260
We should probably use https://github.com/zloirock/core-js#ecmascript-6-string--regexp to deal with this.

@gagern I'm trying to understand the use case for implementing this.  What's your workflow such that these characters would end up in a KaTeX string?

I do think we should do NFD, but that feels like it should be separate issue.

[2015-06-22 02:37] kevinb7 commented on #15
In addition to supporting single glyphs for Greek letters we should also support as many characters from the latin-1 unicode block as possible.

As suggested by @gagern in  https://github.com/Khan/KaTeX/issues/260 and by @spicyj in https://github.com/Khan/KaTeX/issues/65 we should use NFD to determine which unicode code points we can fake by composing glyphs, e.g. ```é``` becomes ```"\acute e"```.

[2015-06-22 05:52] gagern commented on #260
One use case is when I copy and paste stuff from a different web document which uses Unicode. A second use case is pasting from my own E-Mail, where I often use Unicode to write down math. A third use case is using the compose key in my Linux keyboard configuration, which allows me to enter all these greek and double-struck letters rather quickly, and which makes the input text shorter and easier

[2015-06-22 05:57] gagern commented on #263
My best bet would be using [BrowserStack](https://www.browserstack.com/). They [write](https://www.browserstack.com/pricing):

To you want to take that approach? If so, if there is any chance that arbitrary contributors, including new ones, could make use of the service, then all the docker setup might be superfluous. But I fear that access to the relevant authentication credentials would be a pro

[2015-06-22 06:18] spicyj commented on #263
Good idea. I had looked at BrowserStack earlier but it looked at that time like screenshots probably weren't available for open source projects. Maybe they now are.

[2015-06-22 19:13] xymostech commented on #255
I prefer this much more than the custom `this` value. Abusing `.apply` just to tack on extra values seems really strange. Maybe we could instead pass in an `options` parameter as the first argument that contains `parser`, `lexer`, `name`, `mode`, `positions`, etc?

[2015-06-22 20:02] gagern commented on #255
Having parser, lexer and so on accessible by name, not position, certainly seems desirable to me. I guess I'd call that object `context`, since to me `options` sounds more like JSON-structured data, which the parser is not. If we had ES6 with its argument destructuring syntax, I'd very much favor this approach with the arguments in an array. As it is, using it means we loose the naming of the argu

[2015-06-22 20:08] kevinb7 commented on #255
@gagern I'm in agreement with @xymostech.  The only reason why I suggest the other approach is that it wouldn't have induced as many changes.  Since https://github.com/Khan/KaTeX/pull/262 already touches a lot of the code base we may as well do the right thing and make handlers less magical.

[2015-06-22 20:27] kevinb7 commented on #255
Also, it's good to differentiate ```context``` from ```options```.

[2015-06-22 20:54] xymostech commented on #255
:+1: `context` sounds good

[2015-06-23 15:20] gagern commented on #263
Will someone who's officially an owner of this project contact BrowserStack, and report back here on this issue?

[2015-06-23 15:45] gagern opened #266 "More internal state for parser"
I'm thinking of modifying the parser so it has more internal state and less method arguments. In particular, the `pos` and `mode` arguments to the methods should be replaced by `this.currentPos` and `this.mode`. I'd also introduce `this.peek` or `this.nextToken` to describe the lexer result for `currentPos`. We could have a new method `consumeToken` or similar to update the current position to the

[2015-06-23 16:18] kevinb7 commented on #250
It might be tricky to get this right.  It's probably best to not do this optimization until we know whether any optimization is necessary.

[2015-06-23 16:28] kevinb7 commented on #266
I'm all for simplicity and "get the next expression" is definitely simpler.

That would be my concern as well.  Good to know we only do that in one location.

I think in general having simpler methods such as ```nextExpression``` will help implementing future features.

I think we should park this one for now.  I'd like to reduce the number of pull requests we have in flight.  I'm afraid that if w

[2015-06-23 16:52] kevinb7 commented on #263
@gagern I'm not particularly keen on doing multi-browser testing.  We are aware of a few rendering issues, but for the most part we haven't seen that many rendering complaints.  I think the main purpose of the snapshot tests is to make sure that the layout doesn't change.  I think it would be unlikely that a change would result in a layout change in a different browser but not in Firefox.  If we s

[2015-06-23 17:37] spicyj commented on #263
I would find cross-browser screenshotting valuable. A couple times I've looked at the markup we generate and thought that it could be simplified, only to find (hours later) that it breaks positioning in IE. Would be much easier if it could be automated. I'll write them.

[2015-06-23 19:34] kevinb7 commented on #263
@spicyj good point.  @gagern I'll contact them and see what they can do for us as an open source project.  We probably just care about screenshots.  I've used one of their live sessions in the past, but debugging was a bit of pain.  It's easier to use http://dev.modern.ie/tools/vms/ for that.

[2015-06-23 19:34] spicyj commented on #263
@kevinb7 I already emailed, as I said I would in my comment.

[2015-06-23 19:47] kevinb7 commented on #263
@spicyj updated my comment to reflect this.  I have not emailed them so I think we're all good.  Thanks for emailing them.

[2015-06-23 19:50] spicyj commented on #263
:+1:

[2015-06-23 22:21] xymostech commented on #47
@gagern I'm actually going to close this and add a new issue to specifically add horizontal and vertical lines. I think that will make it clearer why this issue is open.

[2015-06-23 22:21] #47 closed

[2015-06-23 22:22] xymostech opened #267 "Add horizontal and vertical line support in environments"
Add support for `\hline` and the `|` column specifier for environments. This was mentioned in #47.

[2015-06-23 22:39] xymostech commented on #200
This should be solved by using the [auto-render extension](https://github.com/Khan/KaTeX/tree/master/contrib/auto-render).

[2015-06-23 22:39] #200 closed

[2015-06-23 22:42] xymostech commented on #183
I'm going to close this since there wasn't any followup. If you're still having this problem, feel free to reopen!

[2015-06-23 22:42] #183 closed

[2015-06-25 09:29] gagern opened #269 "More complete support of the array environment"
While #246 added basic support for the `array` environment, that support is not complete yet. It would be nice to get it (more) complete one day, so let's keep track of what's still missing, since filing a bug for each of these things feels inappropriate just now.

In the format description:
- [ ] `|` – vertical lines between columns (#267)
- [ ] `||` – i.e. repeated vertical lines
- [ ] `*{7}{cc}

[2015-06-25 09:48] gagern commented on #249
Using the image diff format from #268, the diff now looks like this (green is LaTeX, red is KaTeX):

![arrays-diff](https://cloud.githubusercontent.com/assets/190759/8351742/d7bec252-1b2f-11e5-8f3d-5648b90960c8.png)

The difference in the `NestedFractions` test is probably due to the same problem:

![nestedfractions-diff](https://cloud.githubusercontent.com/assets/190759/8351764/f92d9472-1b2f-11e5

[2015-06-25 09:59] gagern opened #270 "\llap and \rlap should render their content in text mode"
In LaTeX, `\llap`and `\rlap` render their content in text mode. I found this while creating LaTeX screenshots as part of #268. The image has KaTeX to the left, LaTeX to the right, and a diff of both below.

![lap3](https://cloud.githubusercontent.com/assets/190759/8351954/6bf921dc-1b31-11e5-926a-700c9dffc6a7.png)

The `RlapBug` test case also looks different in LaTeX: its numerator is centered. Is

[2015-06-25 10:04] gagern opened #271 "Interaction between accents and superscripts"
The `Accents` example in our repository shows that the last exponent is rendered higher by LaTeX than it is by KaTeX. I'd guess that LaTeX takes the vector arrow into account when it considers the height of the left group. I don't know the rules when it does that and when it does not.

![accents-diff](https://cloud.githubusercontent.com/assets/190759/8352027/50d60a36-1b32-11e5-98f6-b50bf2fb23c4.pn

[2015-06-25 11:02] gagern opened #272 "katex package for LaTeX"
In #268 I've made a stab at investigating the differences between LaTeX and KaTeX. Many of these differences should probably considered bugs, but some are intentional. Examples include the possibiluty of using sizing commands in math mode, the additional color commands, and of course the KaTeX package.

Should we create a package called `katex.sty` for LaTeX, which contains all these deviations? T

[2015-06-25 13:05] kevinb7 commented on #271
Nice visualization.  TeX source for reference:
[code]

[2015-06-25 13:08] kevinb7 commented on #249
I noticed that the our fraction bars aren't wide enough in some cases when I was working on ```\cfrac```, see https://github.com/Khan/KaTeX/pull/135.

[2015-06-25 14:10] kevinb7 commented on #272
Our implementation of ```\color``` is pretty close to ```\textcolor``` from the "color" package.  That package also define ```\color```, but it behaves differently with everything after the command (until end-of-group) becoming that color.  I'm not sure how much work it would be to support sizing commands in math mode in LaTeX.

In general though, I don't think this is a priority for Khan Academy.

[2015-06-25 14:34] kevinb7 commented on #252
Being implemented in https://github.com/Khan/KaTeX/pull/132.

[2015-06-25 18:16] spicyj commented on #270
Wow! Today I learned. I guess I now remember that `\mathllap` and friends are provided by `mathtools`: https://www.tug.org/TUGboat/tb22-4/tb72perlS.pdf

[2015-06-26 07:44] gagern commented on #266
Yes, we have quite a few of them around, and I keep adding to them… On the other hand, I'll need macros (per site, defined in JavaScript as part of the options object) pretty soon, and as I said, I think that should build on this simplification here. So I assume that I *will* implement this soon. Unless someone else does macros in a different way before I get a chance. Would you want me to not pos

[2015-06-26 08:33] gagern commented on #256
Yes, they do get mangled down. Apparently there was something strange about my toy example. So one more reason to stick with the idiomatic assignment version.

Does the lack of more substantial comments to this issue indicate silent agreement on the parts of @xymostech and @spicyj? Or should we wait for explicit approval before considering the PR for inclusion?

[2015-06-26 15:18] kevinb7 commented on #266
The problem with this is that we have limited resources when it comes to reviewing them. @xymostech, @spicyj and myself are all busy working on other projects at the moment so we don't have a lot of time to review lots of pull requests.

You've proposed a couple of other refactorings in addition to this.   Unfortunately we won't be able to get all of that reviewed and merged "pretty soon".  Are an

[2015-06-26 15:26] kevinb7 commented on #256
@gagern conceptually, I think the changes are fine.  I think the main issues with https://github.com/Khan/KaTeX/pull/262 is that it's a huge pull request and we have limited resources.  Splitting it up makes it easier to review, but it still takes time.  We should really add something to CONTRIBUTING.md that states our preference for small pull requests and our rationale behind it.

Please see htt

[2015-06-26 16:34] gagern commented on #266
Quite understandable, who doesn't.

Well, if I have macros in a local fork for a while, that should be fine as well, as long as I *do* have them. Reviewing and merging should be a long term goal, but since I already require the render-to-canvas stuff, I'll be on a local fork for the forseeable future in any case.

I guess not as such, but the refactorings make it much easier for me to think about

[2015-06-27 01:25] kevinb7 commented on #266
That makes sense.  I'll probably set up a "canvas" branch to cherry pick changes.

Sounds like a plan.  There's not rush on our end.  Your addition of environments have really kicked started things again.  We want to continue the momentum at a pace we can sustain.

The progression you've suggested makes sense.  @xymostech set up a trello board.  I'll add the things that we've talked about here to

[2015-06-27 05:59] kevinb7 opened #273 "render unsupported commands and symbols as red source text"
![screen shot 2015-06-26 at 11 56 31 pm](https://cloud.githubusercontent.com/assets/1044413/8390672/ff416ac0-1c5e-11e5-8715-8412e23c350c.png)

This provides feedback for users as to what going wrong without having to look at the console.  This is especially useful in interactive systems used by content creators.

[2015-06-27 06:01] spicyj commented on #273
As an option, presumably.

[2015-06-27 06:07] kevinb7 commented on #273
You bet.  There could be a color parameter too.

[2015-06-27 06:08] spicyj commented on #273
If you're feeling crafty, it could be like

[code]

or something.

[2015-06-27 17:46] kevinb7 commented on #273
Showing other errors might be useful, but it might be annoying to see stuff like ```Expected '}', got 'EOF'``` at the end of rendering as you're typing.

[2015-06-28 03:46] kevinb7 commented on #266
@gagern here's a link the the trello board: https://trello.com/b/P5DWbSuR/katex-roadmap.

[2015-06-28 14:09] kevinb7 opened #274 "List supported browsers and versions"
The website states "Simple API, no dependencies – yet super-fast on all major browsers."  Making that list explicit with versions and and OSes will help users and developers.

[2015-06-28 15:12] kevinb7 commented on #78
@cben https://github.com/Khan/KaTeX/tree/master/contrib/auto-render searches for delimiters which can be specified so it should handle the use cases you've listed.

[2015-06-28 15:12] #78 closed

[2015-06-28 15:23] #66 closed

[2015-06-28 15:26] kevinb7 commented on #66
@Pomax please re-open if this is still an issue for you.

[2015-06-28 15:39] kevinb7 commented on #231
I think this is going to be difficult because some of the symbols don't exist in the fonts that come with most browsers.  Also, even though browsers support a common set of fonts like Arial, Times New Roman, Courier, etc. the metrics can actually differ between operating systems, e.g. Courier on iOS is quite a bit wider than Courier on other systems.  I'm sure there are other more subtle instances

[2015-06-28 15:39] #231 closed

[2015-06-28 16:01] kevinb7 commented on #64
I think that https://github.com/Khan/KaTeX/blob/master/contrib/auto-render/auto-render.js makes things a lot better for the average user who just wants all their math to be rendered by handling exceptions appropriately.

The issue of people using the API directly being caught off guard should probably be handled by updating the examples in the docs to include a ```try```/```catch``` block as well

[2015-06-28 16:01] #64 closed

[2015-06-28 16:03] kevinb7 opened #275 "Update docs to include try/catch in examples"
So that people don't get stung by ```render``` or ```renderToString``` throwing an exception.  See https://github.com/Khan/KaTeX/issues/64.

[2015-06-28 16:10] kevinb7 commented on #46
https://github.com/Khan/KaTeX/issues/273 will cover unsupported commands and https://github.com/Khan/KaTeX/issues/275 will update the docs to encourage users to use ```try```/```catch``` statements.  Since some people don't like having lots of console messages in production including them by default in the ```render``` call is out of the question.  We could have an option to do this, but since all

[2015-06-28 16:10] #46 closed

[2015-06-28 16:26] Pomax commented on #64
I mostly just want code that I can use as both user as well as dev (some things need immediate loading, but a page like http://pomax.github.io/bezierinfo, no matter how fast katex renders, *needs* on-demand loading instead of loading up front =D). If you're going to stick with try catch, that's aesthetically very ugly, but from a functional point of view perfectly fine. I don't really agree with t

[2015-06-28 16:30] Pomax opened #276 "add a support matrix to the README.md?"
Given the still in-development status of KaTeX, it might be worth-while to put a support matrix into the README.md, so that users can see whether the "standard library" commands and environments their code uses is supported or not (and if there is an open issue for it, a link to that issue). A lot of nice environments landed in the past few months, a support matrix would go a long way to making us

[2015-06-28 16:40] kevinb7 commented on #276
Agreed.  Eventually would like to see https://github.com/Khan/KaTeX/issues/103 as well.

[2015-06-28 16:48] kevinb7 commented on #64
How do you do the on-demand loading?  Can you point me at some code?

[2015-06-28 16:51] kevinb7 commented on #64
@Pomax have you tried calling ```renderToString``` in a web worker and then passing the HTML back?

[2015-06-28 17:13] kevinb7 commented on #64
If you ```throw``` inside of a Promise, it should catch the except and pass the value to the error handler.  If there's no error handler then it still blows up.
[code]

[2015-06-28 18:27] spicyj commented on #64
I could imagine us returning some sort of success/error object but it would probably not be a promise.

[2015-06-28 18:28] spicyj commented on #276
That's what https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX was _supposed_ to be.

[2015-06-28 18:30] spicyj commented on #231
We don't use widths at all in KaTeX's calculations. We should certainly be able to produce output that looks as good as using `<sup>` tags, etc. without any custom fonts, though square roots and large delimiters would be harder.

[2015-06-28 18:30] spicyj commented on #66
(We added a new flag…)

[code]

[2015-06-28 18:32] kevinb7 commented on #274
I missed this in the README:

[2015-06-28 18:32] #274 closed

[2015-06-28 18:37] kevinb7 commented on #276
After thinking about it putting it directly in the README would make it cluttered.  How about we:
- [ ] link to that wiki page from the README
- [ ] update the wiki page
- [ ] update CONTIBUTING.md to make sure people update the wiki when adding new stuff
- [ ] make it part of a code review checklist?
- [ ] auto-generate a list of supported commands and save it in COMMANDS.md and link from the REA

[2015-06-28 18:40] kevinb7 commented on #231
I made that realization at one point and then forgot.  Thanks for reminding me.

[2015-06-28 18:49] kevinb7 commented on #66
That flag centers stuff on the test page.  Not sure how it will affect @Pomax's layouts.

[2015-06-28 18:54] Pomax commented on #64
@kevinb7 currently it's using MathJax, with the dynamic loading happening in https://github.com/Pomax/bezierinfo/blob/gh-pages/js/sectionloading.js

[2015-06-28 19:03] Pomax commented on #276
I'd certainly try to make the information immediately findable, so ideally it's in the README.md (because people rarely click through from a readme if they just want the summary). One idea would be to generate the support matrix based on the unit tests every time KaTeX is built, and then automatically update the README.md with that information (it's fairly easy to grep a README.md for a section `#

[2015-06-28 19:36] gagern commented on #266
Right now I see little benefit of having things in your custom branch instead of mine. But thanks for the offer.

[2015-06-28 23:16] norbusan opened #277 "parse error in subscripts"
Hi,
the following code produces a parse error (in 0.4.3)
  $\bigwedge_{n \not= m} ...$
with the error being
[code]

[2015-06-29 00:09] kevinb7 commented on #277
We don't support ```\not``` yet.  For the time being use ```\neq``` instead of ```\not=```.

[2015-06-29 00:09] #277 closed

[2015-06-29 00:35] kevinb7 commented on #204
For reference MathJax renders the prime in ```F'``` as:
[code]
and ```F^\prime``` as:
[code]

[2015-06-29 01:02] kevinb7 commented on #164
We currently support: ```\!```, ```\ ```, ```\,```, ```\;```, ```\:```, ```~```, ```\space```, ```\enspace```, ```\quad```, ```\qquad```, and ```\phantom```.

We're missing: ```\thinspace```, ```\hspace```, ```\hfill```, ```\kern```, and ```\hphantom```.

Notes:
- ```\thinspace``` is an alias for ```\,```
- ```\hphantom``` is not an alias for ```\phantom```, according to TeXBook pg 178:

height an

[2015-06-29 01:03] kevinb7 commented on #236
Closing in favour of https://github.com/Khan/KaTeX/issues/164.

[2015-06-29 01:03] #236 closed

[2015-06-29 01:04] kevinb7 commented on #259
Adding support for ```\mathbf``` in https://github.com/Khan/KaTeX/pull/132.

[2015-06-29 15:47] gagern commented on #266
The core functionality for this is now in place. See https://github.com/gagern/KaTeX/compare/e27559eb82d8c50b430857ff9fe33f6f56cbb06e...gagern:parserState for a preview. Since I've built on some unmerged stuff, and will need to rebase this eventually, I'll not request a pull just now. But if you want to have a peek and tell me your thoughts, feel free to comment here.

[2015-06-29 15:50] kevinb7 commented on #266
@gagern Thanks for providing a preview.  I probably won't have time until Wednesday to give this a serious look.

[2015-06-29 17:14] gagern commented on #266
I've never used Trello before. So far it looks like just one more place where we can comment on these various issues, adding to the confusion. Would you gain anything if I were to sign up for Trello, in terms of coordination? If not, I'm happy enough following as a public reader, posting on GH instead.

[2015-06-29 18:53] kevinb7 commented on #266
The main benefit is being able to sequence work and tell what's being worked on with a bird's eye view.  Zenhub provides the same thing but within github thus avoid synchronization issues.  Unfortunately, it can only be used with Chrome b/c it requires a Chrome extension/plugin that's why we're using trello and putting up with the overhead of syncing.  Anyways, here's what the board looks like rig

[2015-06-29 19:58] gagern commented on #266
I can read it all right. If it's just the sequencing, reading should suffice. Thanks.

[2015-06-29 20:10] gagern commented on #266
I noticed that the code in my preview will currently fail to parse some things because the look-ahead token gets lexed in wrong mode. Example: `\text{sin}^2` The `}` to end the group gets consumed and the next token is lexed before the mode returns to math. I see several possible ways of dealing with this:

1. Change the lexer so it lexes the same set of tokens for math and text mode. Catch tokens

[2015-06-29 20:42] kevinb7 commented on #266
It seems like we should switch modes right after we encounter the ```}```.  Maybe line 557 in Parser.js should be ```this.expect(optional ? "]" : "}", false);```?  I'll have to check the code out and play with it a bit before I can give a more definitive answer.

[2015-06-29 20:50] kevinb7 commented on #266
And line 595 should be ```this.expect("}", false);``` and then consume after ```this.mode = outerMode;``` on line 576.  I just had a quick look so that may be completely wrong.

Is this ```2^\text x``` an example of this or does it need to be an explicit group with 1 character?

[2015-06-29 20:50] gagern commented on #266
Note to self: Currently `mathNormals` matches `[!"&-\[\]-~]` and `textNormals` matches ``[!"&-=?-\[\]`-\{\}~]`` so the only characters matches by `mathNormals` but not `textNormals` are `>^_|`. The asymmetry between `<` and `>` is probably an error. I assume that the `)-=` in `/[a-zA-Z0-9`!@*()-=+\[\]'";:?\/.,]/` probably wasn't meant as a range. This doesn't affect any characters other than `<`,

[2015-06-29 20:52] gagern commented on #266
Will continue on this another day.

[2015-06-29 20:59] gagern commented on #266
Even `\text x` is an example of late mode switching: the `x` gets parsed first while still in math mode, then again in text mode. But we can't tell, because it's allowed in both modes. There is no way to demonstrate the issue with the current set of lexing rules and the current function signatures.

[2015-06-29 21:03] gagern commented on #266
What you describe is a bit like my option 3 except you don't consume the token in the group, but in the caller. This is problematic since there are many other methods besides `parseSpecialGroup` which call `parseGroup`. At the very least, we should add a `consume` argument to indicate whether the final token should be consumed, and have that argument default to false like it does for `excpect`. Ri

[2015-06-29 21:32] azotova commented on #269
It would be also great to support {cases} environment to create systems of simultaneous equations (like here: https://kogler.wordpress.com/2008/03/21/latex-multiline-equations-systems-and-matrices/).  I am sorry if this is not the right thread to bring this up, but it seems related to the {array} environment.

[2015-06-29 21:39] kevinb7 commented on #269
@azotova It uses {array}, but {cases} is a separate environment.  Could you open a new issue for it.

[2015-06-29 21:55] azotova opened #278 "Add support for the cases environment"
While #246 added support for the `\begin`...` \end` environment (which is terrific!), it would be also great to support `cases` environment in order to create systems of simultaneous equations (examples here: https://kogler.wordpress.com/2008/03/21/latex-multiline-equations-systems-and-matrices/).

[2015-06-29 22:21] kevinb7 commented on #278
The ```cases``` environment looks really useful, especially for piecewise functions.

[2015-06-29 22:22] kevinb7 commented on #269
Request for {cases} environment in https://github.com/Khan/KaTeX/issues/278.

[2015-06-30 05:28] gagern commented on #278
Relevant part of `amsmath.sty`:

[code]

The most important here seems to be the non-default `\arraystretch`, which the current `array` implementation [doesn't support yet](https://github.com/Khan/KaTeX/blob/2f7a54877a412058fe2a134d973aa6fb0d448f50/src/buildHTML.js#L514).

[2015-07-01 06:12] kevinb7 commented on #278
Implemented by @gagern.  This is now on master, but isn't yet part of an official release.

[2015-07-01 06:12] #278 closed

[2015-07-01 07:24] gagern commented on #40
With #264 in place, you get screenshots at least for Chrome on Linux. The corresponding test case snapshot demonstrates the issues discussed here, alkthough to a lesser degree I'd say:

![Sqrt-chrome.png](https://raw.githubusercontent.com/gagern/KaTeX/dd4304227962d78b9ee37ebb05c106cecb26606b/test/screenshotter/images/Sqrt-chrome.png)

[2015-07-01 09:14] senshu opened #281 "Spaces have zero-width in HTML generated from text mode"
Using KaTeX 0.4.3

Steps to reproduce:

1. Write a formula using the `\text` function where the argument contains spaces. For instance: `\text{a b c}`
2. Render it to HTML.

Observed result:

In the generated HTML:
* On screen, the text looks like there are no spaces at all ("abc").
* The markup contains an empty `<span class="mord mspace">` for each space.

From the stylesheet `katex.less`, I see

[2015-07-01 09:25] spicyj commented on #281
It should include a nonbreaking space (https://github.com/Khan/KaTeX/blob/41e3fa66599b125677919673c0139324beec3f0c/src/symbols.js#L2507). Try at http://khan.github.io/KaTeX/ and I think you'll find that it works.

How are you loading the JS? I'm guessing an encoding problem.

[2015-07-01 09:58] senshu commented on #281
OK. I sould have tried the demo before.

My equations are embedded in Markdown files. First, all equations are converted to HTML, then, [marked](https://github.com/chjj/marked) is run on the resulting files.
Actually it seems that [the marked lexer converts non-breaking spaces to ordinary spaces](https://github.com/chjj/marked/blob/master/lib/marked.js#L140).

I suppose that there would be no prob

[2015-07-01 10:05] spicyj commented on #281
A single space should still be fine, though of course it won't break. If you're mangling the HTML that KaTeX generates after you get it, it's hard for us to make any guarantees about how things will work. Generating `&nbsp;` could work better in some cases but what's to stop marked from converting that to a space too? I think using a nbsp unicode character is clear in intent.

One thing you could

[2015-07-01 10:05] #281 closed

[2015-07-01 11:48] senshu commented on #281
Thanks for taking the time to answer. I agree that the issue is in marked, not in KaTeX (the author of marked has a different opinion though: https://github.com/chjj/marked/issues/363).

I will try to find a solution that fits my workflow. Unfortunately, I already have a large document base that relies on marked and I'm not ready to switch to another markdown processor yet.

[2015-07-01 14:20] kevinb7 commented on #152
It looks like they were added a while ago:
https://github.com/Khan/KaTeX/blob/master/src/symbols.js#L2115-L2119

[2015-07-01 14:20] #152 closed

[2015-07-01 14:27] kevinb7 commented on #153
These have already been added.  See https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX for details.

[2015-07-01 14:27] #153 closed

[2015-07-02 17:22] stefman2 commented on #45
On a similar vein, I had noticed that, in my setup, which uses katex.renderToString(), KaTex was not positioning any subscripts lower at all. The CSS generated by KaTex seems to assume everything is already positioned, and has ...style="top:0.15em..." for positioning subscripts. So, to get it to work for me, I needed to change this to style="position:relative; top:0.15em..." in the output CSS and

[2015-07-02 19:10] xymostech commented on #45
@stefman2 Are you including the katex CSS file on your website? You need the main KaTeX CSS (which should have `position: relative` rules) as well as the generated HTML from `katex.renderToString`.

[2015-07-03 09:21] gagern opened #286 "Provide access to all symbols"
All symbols which are included in the fonts should be accessible by some TeX command. I wrote [some code](https://gist.github.com/gagern/bef7cae7d19cef32b575) to compare the list of symbols (from `symbols.js`) against the fonts (as parsed by [TTX](https://github.com/behdad/fonttools/), resulting in [these files](https://github.com/gagern/KaTeX/commit/86030f7ca43ea3966c5027dafdf44d2ad5c86f03)). Her

[2015-07-03 10:07] monokeroslun opened #287 "is npm update to 0.4.3?"

[2015-07-03 12:36] kevinb7 commented on #287
I just tried installing the KaTeX via npm using ```npm install katex``` and got version 0.4.3.  What version  do you see if you run ```npm install katex```?

[2015-07-03 12:41] stefman2 commented on #45
Yes, I am including katex.min.css.  All the typesetting looks fine except for subscripts, and that minor change seems to do the trick as far as I can tell. I will look into this some more and try to isolate the problem; perhaps there is an issue with other CSS I have on the pages in question.

[2015-07-03 13:23] kevinb7 commented on #286
Nice detective work!

I'm surprised we don't support ```\degree``` yet.  I think the low hanging fruit here is ```\pounds```, ```\degree``` and ```\maltese```.  Could you create a pull request for these?

In terms of the combining marks we support the math mode commands but not the text mode, see http://tex.stackexchange.com/tags/accents/info.  We could probably have a separate issue for accent su

[2015-07-03 16:31] gagern commented on #286
`\pounds` would benefit from the [`mainit` class](https://github.com/kevinb7/KaTeX/blob/mathrm_mathbb/static/katex.less#L89-92) you declare in #132, so I'd wait on that. Again.

[2015-07-03 16:58] kevinb7 commented on #286
Sounds good.  I'm spend some more time on https://github.com/Khan/KaTeX/pull/132 this weekend and try to finish it up.

[2015-07-03 18:46] kevinb7 opened #288 "replace fontforge with freetype-py or fonttools"
We only use fontforge to extract font metrics, but it's big and requires extra dependencies like XQuartz on Mac OS X.  I found installing fontforge on Mac OS X difficult because it was compiled with a different version of Python so I had to install that version of Python alongside the official one and change one of the scripts to use that version.

freetype-py on the other hand is smaller and easi

[2015-07-03 20:08] kevinb7 commented on #286
We're also missing DOUBLE VERTICAL LINE ```\u2016``` which is used for ```\Vert```, ```\lVert```, and ```\rVert```.

[2015-07-03 20:17] kevinb7 commented on #286
Actually we already support ```\Vert``` which uses ```\u2225``` PARALLEL TO.  We should probably use ```\u2016``` for ```\Vert``` et. al. (including ```\|```) and ```\u2225``` for ```\parallel```.

[2015-07-03 22:07] kevinbarabash opened #289 "Support accents in all fonts that have them"
Right now we're using non-combining glyphs for most accents.  These are only available for ```Main-Regular``` and ```Main-Bold``` font faces.  We'd like to be able to use the accent glyph for the current font if it exists.  This depends on https://github.com/Khan/KaTeX/pull/132 which is adding general font support for things like ```\mathbb```, ```\mathfrak```, ```\mathbf```, etc.

Different accen

[2015-07-04 15:37] spicyj commented on #286
Normally one writes `^\circ` for a degrees sign, which is presumably why that was missed.

[2015-07-04 19:12] gagern commented on #286
I try to disabuse people of writing `^\circ` since it results in a different – and in my opinion inferior – rendering. The fact that the font *has* a degree symbol seems like indication that someone agrees. Of course, I'm in the privileged situation of using a German keyboard which has the ° sign readily accessible.

[2015-07-04 19:29] kevinb7 commented on #286
I think ```^\circ``` is a bit big compared to the degree symbol.  @spicyj Is the a reason for using ```^\circ``` instead of the actual degree symbol?

[2015-07-04 21:44] gagern commented on #286
I guess it's a matter of laziness: with LaTeX, getting a proper degree symbol takes some extra packages. You get `\textdegree` fairly easily, but a `\degree` which works in math mode requires `gensymb` or `siunitx`, as far as I know. I assume few people go through all that trouble if `^\circ` works well enough for them. And once the got into that habit, they don't change it if they write for MathJ

[2015-07-04 22:12] kevinb7 commented on #286
I had a look at ```gensymb``` and defines ```\degree``` in the following way:
[code]
```siunitx``` on the other hand defines it as ```\degree{\SIUnitSymbolDegree}``` and ```\SIUnitSymbolDegree``` as character 176 which is the actual ```\degree``` symbol.

[2015-07-06 10:20] gagern commented on #286
@kevinb7 Have a second look, and you will find that `gensymb.sty` actually contains *two* possible definitions for `\degree`. If the `textcomp` package is loaded, it will use the companion font using

[code]

I wasn't aware of this extra requirement; I have `\usepackage{textcomp}` as part of by default preamble. Together with `\usepackage{gensymb}` and `\DeclareUnicodeCharacter{00B0}{\degree}` tha

[2015-07-06 13:55] kevinb7 commented on #263
Thanks to @spicyj we now have an open source account with BrowserStack.

[2015-07-06 16:17] gagern commented on #263
I've had a closer look at [the API](https://www.browserstack.com/screenshots/api). The way I see it, the **first** (and most simple) step should be uploading our test cases (i.e. the test.html with all its dependencies) to some public web server (like some subdirectory of http://khan.github.io/KaTeX/ via [gh-pages](https://github.com/Khan/KaTeX/tree/gh-pages)), devising a script to issue a bunch o

[2015-07-07 06:56] gagern commented on #249
OK, I did some research on this. TeX puts 1.2pt of space before and after every fraction. This is the value of `\nulldelimiterspace`. So the branches of the `genfrac` handler where it adds delimiters should add such null delimiters if no actual delimiters are given. The `leftright` handler already adds null delimiters, so we can duplicate functionality from there.

I also noticed that when I apply

[2015-07-07 09:41] gagern opened #296 "How to deal with absolute dimensions"
In KaTeX, all dimensions are given in `em`, which is relative to the current font size. However, there are some dimensions in the TeX world which are given in `pt` or some similar absolute value. Currently, expressing such dimensions in the DOM is either pretty complicated (manually resetting the size and style up front) or not accurate (if the current font is not the 10pt default).

The prime exa

[2015-07-07 14:48] gagern commented on #250
I wrote some code trying to implement this, and found out that I hadn't considered all aspects. The main problem is that in our current setup, a function *must* return a *single* value. It is not allowed to return zero or more than one value. A macro which expands to a new set of tokens violates this. Ideally, the macro would return *nothing*, but just cause the parser state to change to something

[2015-07-07 15:27] gagern commented on #250
But perhaps I'm going about this the wrong way. Perhaps macro expansion should be a separate layer, between lexer and parser. So any time the Parser needs a new token, it can ask the MacroExpander for the next token. And the MacroExpander will know whether the token it got from the lexer is a known macro name, and if so, will expand that. If we ever do things like conditionals and recursion, we'd

[2015-07-07 15:41] kevinb7 commented on #250
Maybe a stack of input streams.  When we hit a macro we push its expansion onto the stack.  When the parser grabs the next token it's always the next token in the input stream at the top of the stack.  If it hits the end of an input stream, it pops that input stream off the stack.  If there are no input streams left to pop then that's EOL.  The lexer would have to be updated to deal with the stack

[2015-07-07 22:11] gagern commented on #250
[My `macros` branch](https://github.com/gagern/KaTeX/tree/macros) has support for site-specific macros, i.e. macros defined by the invoking JavaScript code, not (yet) using `\def` or `\newcommand`. They don't accept parameters either so far. Nevertheless I consider this a juge step forward.

Unfortunately, that branch builds on some other things, so please put this on [the roadmap](https://trello.

[2015-07-07 22:21] gagern commented on #266
In https://github.com/gagern/KaTeX/commit/8496a1e40f8dfbfc8dd7d2e7b5096bd5c2b01c02 I went with option 1: I got rid of the distinction between text tokens and math tokens. So far it feels like the right choice.

[2015-07-07 22:25] kevinb7 commented on #250
@gagern awesome progress!  Can you test a macro like this?
[code]

[2015-07-07 22:26] kevinb7 commented on #250
I'll have a closer look at the diff this evening.

[2015-07-07 22:36] gagern commented on #250
[http://localhost:7936/?text=\oneover{x}&\oneover=\frac{1}](http://localhost:7936/?text=%5Coneover%7Bx%7D&%5Coneover=%5Cfrac%7B1%7D) looks as it should.

But your question reminds me that there was something about infix operators like `\over` and the `breakOnInfix` parameter that still required work. Indeed, `\scriptstyle 1\over x` is currently broken. Working on that.

[2015-07-07 23:17] gagern opened #297 "Systematic testing of error messages"
We have a lot of error messages a.k.a. `ParseError` exceptions all over the place, and I feel like many of them don't receive any testing at all. Would it make sense to systematically add unit tests for all of them, ensuring that the right message gets generated, with the right error position indication? Should that go into `katex-spec.js` or some other file instead?

Come to think of it, such a s

[2015-07-07 23:51] kevinb7 commented on #297
Good idea.  We should probably split `katex-spec.js` into separate spec files at some point.  Coverage is a good idea too.

[2015-07-08 20:23] gagern commented on #224
A non-macro definition on the other hand should be fairly easy. I've written some details about that in the pull request. Read that first to better understand the macro in question.

Doing this as a macro following the official definition would be really tricky, since we'd need kerning (which might be a good thing to have in any case, and which shouldn't be too hard except for the strange lexing r

[2015-07-08 20:25] kevinb7 commented on #224
We should try to add ```\kern``` b/c it's used in quite a few different commands.

[2015-07-08 20:27] kevinb7 commented on #224
I added ```\kern``` to the list of missing horizontal spacing commands in https://github.com/Khan/KaTeX/issues/164.

[2015-07-08 20:35] gagern commented on #164
The way I see it, `\kern` is often followed by a dimension without braces around it. Would we want to support that as well? If so, we would have to adjust the [parsing of sizes in my macros branch](https://github.com/gagern/KaTeX/blob/b81fcb8765bbdb77c0514c566d651a8726dde15f/src/Parser.js#L609-L617), at least if we actually follow some variant of that branch to implement macros.

[2015-07-08 21:52] kevinb7 commented on #164
I guess we'd have to.  Should probably have a ```lexSize``` function.

[2015-07-08 22:13] gagern commented on #164
Nah, we shouldn't do this in the lexer, but on the token stream. That's what TeX does, as far as I understand things.

[2015-07-08 23:26] kevinb7 commented on #164
That could work to.  It seems like using a regex directly on the input stream would be easier as opposed to having to concatenate tokens would be trickier.  I know there's code there that does this already, but it relies on a hard stop which we wouldn't have in this situation.

[2015-07-08 23:40] gagern commented on #164
I think a length would be finished after its two letter unit has been parsed. But I'd have to read The TeX Book to verify this first.

[2015-07-08 23:49] kevinb7 commented on #164
For sure, it's a little trickier than checking for a ```"]"```.

[2015-07-08 23:58] gagern commented on #164
True, but it has the benefit of working even if there is some macro expansion involved in the length notation.

[2015-07-09 05:18] kevinb7 commented on #287
@monokeroslun I hope everything's working for.  I'm going close this.  Please re-open if you're still having issues.

[2015-07-09 05:18] #287 closed

[2015-07-09 05:30] kevinbarabash opened #300 "Automate screenshotter on travis-ci"
https://github.com/moul/travis-docker allows you to run docker on travis-ci.  We can use it to automate the screenshotter so that it runs on every commit and fails the build if there differences in the images.

Depends on: https://github.com/Khan/KaTeX/pull/264

[2015-07-09 05:31] kevinb7 commented on #252
I was planning on implementing it that pull request but it turned out to be more complicated that being a simple alias `\mathrm`.

[2015-07-09 08:43] gagern commented on #175
Perhaps we should have a look at [reset stylesheets](https://perishablepress.com/a-killer-collection-of-global-css-reset-styles/) and port the relevant portions from one or more of these to the `katex` class. Although I notice that none of them seems to mention `word-wrap`. :worried:

Another thing worth considering would be prefixing all CSS class names used by KaTeX with `katex_` or something si

[2015-07-09 09:24] gagern commented on #109
I actually read the titple “break pages” in terms of paginatin for printed media, not in terms of a defect or unusable web page.

Disabling `\rule` is just a tiny fix. With commands like `\hspace` and `\kern` scheduled for inclusion (#164), one can create excessive amounts of horizontal space, while the `\\` for matrices (#246) can accept an optional argument which can be used to create arbitrary

[2015-07-09 09:26] ctrlcctrlv commented on #109
I couldn't get KaTeX to work for me and switched to MathJax due to no safe mode (user input mode). I've given up on it.

[2015-07-09 09:36] gagern commented on #288
Have you also considered [fonttools](https://github.com/behdad/fonttools)? As far as I can tell, it is pure Python, with no dependency on freetype, which should ease portability quite a bit. In particular, it is to be hoped that it works with the OS X version of Python, with no need to install custom Python versions.

So far I've only been using the `ttx` command line tool from fonttools to extrac

[2015-07-09 10:11] gagern commented on #288
That could be read from the [`hmtx` table](http://www.microsoft.com/typography/otspec/hmtx.htm) using fonttools, but we don't actually store horizontal advance, do we?

The way I read [`extract_ttfs.py`](https://github.com/Khan/KaTeX/blob/d61a04c80d14577212e3e98e83ff2da0c7a70907/metrics/extract_ttfs.py#L63), the skew and italic correction come from somewhere else, and only the height and depth com

[2015-07-09 10:18] gagern opened #301 "Split fontMetrics in manually edited part and auto-generated part"
I'm slightly conderned about the way `fontMetrics.js` contains a large amount of data (even more the more fonts we deal with) which is auto-generated, but also has some parts which are to be edited manually. For one thing, the whole diff usually doesn't show up on git. It would in my opinion be preferable to have one file which is *purely* auto-generated, and have another which contains all the ha

[2015-07-09 12:42] kevinb7 commented on #301
I was going to open an issue for this.  Thanks for doing so.  We should dump the data into file with a .json extension, then we don't have to worry about ```module.exports = ```.

[2015-07-09 12:46] kevinb7 commented on #288
Definitely worth investigation.

[2015-07-09 12:57] kevinb7 commented on #109
@ctrlcctrlv I didn't realize that MathJax has a safe mode.  We'll want to do something similar eventually I just don't know when that will happen.

[2015-07-09 12:58] kevinb7 commented on #109
http://docs.mathjax.org/en/latest/safe-mode.html
http://docs.mathjax.org/en/latest/options/Safe.html

[2015-07-09 13:00] gagern commented on #288
Making good progress here, will have a pull request soon.

[2015-07-09 13:04] kevinb7 commented on #175
My preference we be to try the reset approach.

[2015-07-09 14:07] gagern commented on #288
I'm trying to track down some non-determinism here. Character 305 of the Main-Regular font sometimes has skew correction 0.02778 and sometimes 0.0. Character 567 is affected in a similar fashion, and occasionally I've seen *many* symbols change their data, but right now I can't reproduce this.

At first I thought these problems to be due to the fact that `extract_ttfs.py` uses `ord(char)` as an in

[2015-07-09 14:33] kevinb7 commented on #288
I ran `./mapping.pl | ./extract_tfms.py > test.json` a few times and the skew for character 305 was `0.0` each time.

[2015-07-09 14:33] gagern commented on #288
OK, looks as if we had some problem in `mapping.pl`. The character 305 of Main-Regular is sometimes associated with `cmr10` and sometimes with `cmmi10`.

[2015-07-09 14:38] kevinb7 commented on #288
Nice find.  We should be using `cmmi10` for both `\imath` and `\jmath` because these glyphs don't exist in `cmr10`.
http://www.math.union.edu/~dpvc/jsmath/symbols/cmr10.html
http://www.math.union.edu/~dpvc/jsmath/symbols/cmmi10.html

[2015-07-09 14:38] gagern commented on #288
Yes, there are conflicting mappings [for cmr10](https://github.com/Khan/KaTeX/blob/master/metrics/mapping.pl#L23) and [for cmmi10](https://github.com/Khan/KaTeX/blob/master/metrics/mapping.pl#L151).

[2015-07-09 14:39] gagern commented on #288
I think we should have some code to catch this kind of mistake and complain loudly…

[2015-07-09 14:42] kevinb7 opened #302 "Unit test code in /metrics"
Suggested by @gagern in https://github.com/Khan/KaTeX/issues/288#issuecomment-120007428 after he found duplicate entries in mapping.pl in Main-Regular for `\imath` and `\jmath`.

[2015-07-09 14:47] gagern commented on #288
Have a look at [my metrics branch](https://github.com/gagern/KaTeX/commits/metrics) to see the direction I'm going. Right now I think it's easier to complain in the normal course of operation and not have a unit test. Here is the complete list of things we have to fix:

[code]

[2015-07-09 14:52] kevinb7 commented on #288
That makes sense.

[2015-07-09 14:53] ctrlcctrlv commented on #109
Glad to hear @kevinb7 :) I'll keep watching this ticket as I really did like KaTeX when I was using it.

For my site all contributions are anonymous and even abusive networks like Tor are not blocked, so it's really not an option to "just ban the users" because there are no accounts or karma or anything like that. That's why the commenting system has to be at such a high level of security, and esp

[2015-07-09 14:53] kevinb7 commented on #288
We might still want to have tests to make sure the check is picking up issues that we think it should.

[2015-07-09 14:54] gagern commented on #175
These are not two different approaches to the same problem, or not really. The reset stylesheet avoids interference with low-specificity settings and inherited properties while the namespace avoids interaction with non-inherited high-specificity rules.

[2015-07-09 14:57] gagern commented on #288
Instrumenting perl code is no fun, so I don't know how to achieve this and I don't think it's worth the effort. After all, we just saw that it picks up problems.

[2015-07-09 15:03] gagern commented on #288
I disagree. \x10 and \x11 of `cmr10` are dotless i and j, and they match the \u0131 and \u0237 of the KaTeX_Main-Regular font since they are roman. So I'd say we delete the other mapping, resp. ensure that's against the Italic font.

[2015-07-09 15:09] kevinb7 commented on #288
Sorry, `\imath` and `\jmath` from `cmmi10` should map to Main-Italic and `\imath` and `\jmath` from `cmr10` should map to Main-Regular.

[2015-07-09 15:10] #302 closed

[2015-07-09 15:19] gagern commented on #288
Would you agree that \x3A and \x3B of [cmmi10](http://www.math.union.edu/~dpvc/jsmath/symbols/cmmi10.html) likely refer to punctuation for old numerals?

[2015-07-09 15:19] kevinb7 commented on #288
Looks good so far.  I left a couple of comments on some of the commits.

[2015-07-09 15:42] kevinb7 commented on #288
\x3A looks kind of a like the dot product operator because it's in the middle of the cell, but that maybe be because it doesn't have much height.  Are there specific unicode code points you're looking to map them to?

[2015-07-09 16:29] gagern opened #304 "Update dependencies"
In [this commit comment](https://github.com/gagern/KaTeX/commit/c20f06da510b228c0a83b6fdb561534581181cea#commitcomment-12086835) @kevinb7 wrote:

as a reaction to me updating the browserify dependency from 2.29.1 to 10.2.4.

We're out of date with other dependencies as well, although not by as much:

[code]

Regarding Jasmine: the [jasmine package](https://www.npmjs.com/package/jasmine) is at 2.3.

[2015-07-09 17:32] gagern commented on #18
I guess `\widetilde`, `\widehat` and so on will be more difficult. At the moment, we have no information as to the width of the characters. We have only the heights, and all the horizontal alignment is taken care of by the browser. Which means we can make a line as wide as a box, and have that box be a bit shorter than some other box, but choosing the most suitable size for a big tilde or hat woul

[2015-07-10 12:03] kevinbarabash opened #305 ""Built with KaTeX" page"
I was thinking it might be cool to show off other projects that are built using KaTeX.  Three.js does this, imo, to great effect: http://threejs.org/.

I saw a cool project on HN this morning that uses KaTeX:
- https://news.ycombinator.com/item?id=9863152
- https://github.com/AndrewBelt/hack.chat

Does anyone know of other projects?  Is there a way to search for projects that us KaTeX?

[2015-07-10 12:23] kevinb7 commented on #305
Here's a lit of projects that depend on KaTeX: http://registry.npmjs.org/-/_view/dependedUpon?group_level=3&startkey=%5B%22katex%22%5D&endkey=%5B%22katex%22%2C%7B%7D%5D&skip=0&limit=1000

[2015-07-10 12:25] kevinb7 commented on #305
http://stackoverflow.com/questions/18796890/how-do-you-find-out-which-npm-modules-depend-on-yours suggests some tools which wrap this REST API.

[2015-07-10 12:35] kevinb7 commented on #304
My understand is that express 4 is not compatible with express 3 so we'll probably have to make changes.  In terms of checks to run, we'll want to run all of the tests and make the server sill works.

[2015-07-10 13:51] gagern commented on #304
If people follow semantic versioning, every bump in major version number indicates some kind of incompatibility. Whether that actually affects us is a different question, though.

[2015-07-10 14:43] gagern commented on #302
If you want to unit-test things about fonts and their metrics, have a look at https://github.com/gagern/KaTeX/commit/7a209d7a618f367c553ae69bd07f4bd07eae7a2e?diff=unified. This is not unit testing the sanity checks in the various metrics scripts, but instead performing additional sanity checks which might require manual verification. For example

    Verify name yen of KaTeX_AMS-Regular glyph U+00

[2015-07-10 15:07] #288 closed

[2015-07-10 15:28] kevinb7 commented on #302
Interesting.  I will check out the branch this weekend.  @xymostech @spicyj will probably know more about some of these discrepancies.

[2015-07-10 15:45] gagern commented on #305
Not every user of KaTeX uses npmjs to get it. How can we find the others? Go through the [3,900 hits for `katex.min.js` reported by Google](https://www.google.de/search?q=%22katex.min.js%22)?

[2015-07-10 15:46] gagern commented on #301
Solved by #303.

[2015-07-10 15:46] #301 closed

[2015-07-10 16:52] gagern commented on #300
Note that

1. Travis itself is [moving to Docker](http://docs.travis-ci.com/user/migrating-from-legacy/), offering lots of benefits, speed in particular.
2. Currently, there is no sudo support within their containers, for security reasons.
3. travis-docker makes excessive use of sudo, and in particular runs its whole user-mode linux with sudo. So it can't run on the new infrastructure, which is wh

[2015-07-10 19:26] kevinb7 commented on #300
If we're using the same packages then we should get the same results.  It might make the tests longer to run if a whole bunch of separate packages have to be installed.    Is there an easy way to get the list of packages from the docker images?  Would we be able to run both the Firefox and Chrome tests in one travis-ci job using `LD_LIBRARY_PATH`?

`travis-docker` seems pretty easy to get up and r

[2015-07-12 15:07] gagern commented on #300
See https://github.com/gagern/selenium-chroot for my own idea of how to handle the situation. Although I must confess that it turns out to be more problematic than I had envisioned, so it doens't work yet. It would still be great if this could be made to work.

[2015-07-14 14:49] gagern opened #307 "Implement \colon as amsmath does"
Currently KaTeX implements `\colon` as if it were simply defined as `\mathpunct{:}`. However, `amsmath.sty` gives its definition as follows:

[code]

I don't know exactly what all of this means, but it's obviously a deal more complicated than what we currently implement. I found this using the tool from #294.

[2015-07-14 15:06] gagern commented on #307
I just realized that without the `amsmath` package, `:` indeed behaves as `\mathpunct{:}`. It is defined as `\mathchar"603A` according to `\show\colon`, and there is a line

[code]

in `fontmath.ltx`. But I think on the whole KaTeX is behaving like LaTeX *with* the `amsmath` package loaded, right?

`amsmath.dtx` has this information about the definition of `\colon`:

Unfortunately, this doesn't ma

[2015-07-14 16:24] kevinb7 commented on #307
I think that's a fair assumption.  We should probably explicitly state that somewhere.

[2015-07-14 18:38] gagern commented on #304
Reading https://github.com/strongloop/express/wiki/Migrating-from-3.x-to-4.x will help migrating the server. There is indeed a lot that changed there, but the migration instructions are well-written.

[2015-07-14 19:06] xymostech commented on #307
TeX shows:

![image](https://cloud.githubusercontent.com/assets/217900/8681978/692d9e2c-2a1f-11e5-89ca-57013dc3d20e.png)

LaTeX shows:

![image](https://cloud.githubusercontent.com/assets/217900/8681983/705472a2-2a1f-11e5-9969-6596aeb4e430.png)

[2015-07-14 19:11] xymostech commented on #307
Just looking through the definition, it looks like this means:

[code]

Which should be pretty easy to implement? I guess this probably makes more sense to write as a macro, once we have those, since having a specific "\colon" type seems a bit wasteful.

[2015-07-14 19:28] kevinb7 commented on #304
Unless there's a good reason to migrate we probably shouldn't bother.  I'm going to close this.  If there are dependencies that should be upgraded for specific reasons like bug fixes or features that we need let's deal with those on a per case basis.

[2015-07-14 19:28] #304 closed

[2015-07-14 21:41] gagern commented on #307
OK, the `\nobreak` doesn't affect us, since we don't break anyway. The skips are easy enough, and we can ignore the `plus1mu` stretch of the latter since we don't stretch anything. `{:}` indeed produces a `\mathord{:}`. So far things are clear to me.

What I'm less clear about is the distinction between `\mskip` and `\mkern`. Is it that an `\mskip` could be subject to line change while an `\mkern`

[2015-07-15 01:07] xymostech commented on #307
That's correct, as far as I (or stackoverflow anyway) understands it.

Ah, nice catch! That's very interesting.

[2015-07-15 14:42] spicyj commented on #305
If we have a prominent list in the readme, people will probably see it and add themselves (if we ask them to).

[2015-07-15 14:43] spicyj commented on #305
Most npm users won't count as dependents anyway because their apps aren't pushed to npm.

[2015-07-16 11:42] gagern opened #311 "Avoid mutating the prototype"
When loading KaTeX, e.g. from the development server, Firefox will issue a warning to the web console:

According to [MDC](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/proto):

The line in question is [`ParseError.js` line 38](https://github.com/Khan/KaTeX/blob/afaec30d0a054dd2525fead1ee9330d3103c494d/src/ParseError.js#L38) where we should be able to fix

[2015-07-16 17:36] kevinb7 commented on #311
Thanks for raising this.  Good summary, perfect for TDD.  If code in the MDN link passes these tests (except 3) we just adopt that.

I'm not sure why we're doing `e.__proto__ == katex.ParseError.prototype` in main.js.  It seems like if we can guarantee `pe instanceof ParseError` then we could just use `instanceof` here.

[2015-07-16 17:42] spicyj commented on #311
The critical ones for me were 1, 2, and 4. With ES6 classes you can subclass builtins like Error easily but before that I think `__proto__` is our best bet unfortunately. We can do feature detection for ES6 classes with an evaluation in a try/catch but that doesn't work in restricted CSP environments.

[2015-07-16 19:24] kevinb7 commented on #248
Fixed by https://github.com/Khan/KaTeX/commit/ce99abd1f209b49680910fb9a93a7a45c0025f25.

[2015-07-16 19:24] #248 closed

[2015-07-16 19:35] kevinb7 commented on #68
We might be able to fix this using `padding-right` instead of `margin-right`.

Rendered using `padding-right`:
<img width="368" alt="screen shot 2015-07-16 at 1 26 36 pm" src="https://cloud.githubusercontent.com/assets/1044413/8732995/5b3dfa78-2bbe-11e5-93ee-570d505f468d.png">

Rendered using `margin-right`:
<img width="352" alt="screen shot 2015-07-16 at 1 32 05 pm" src="https://cloud.githubuserc

[2015-07-17 08:38] Cirran opened #312 "Horizontal spacing between equations of fractions"
Hi! I'm not sure it looks right. Please, check it. Simple demo.
![bug](https://cloud.githubusercontent.com/assets/3097333/8743492/12fa34ba-2c78-11e5-9d24-2b5452cd1fc6.PNG)
[code]

[2015-07-17 16:14] PeterBocan commented on #312
try: display: true

[2015-07-19 06:52] peterjeliot commented on #68
Maybe I'm missing something, but the integral symbols look the same on those (only the right edge is different)

[2015-07-19 12:55] kevinb7 commented on #68
@peterjeliot in the first image the rendered math is wider than the container.  If it were using `margin-right` the integral sign would have been clipped, but it's using `padding-right` which prevents the clipping for some reason.  In the second image, the rendered math is narrower that the container and it's using the original `margin-right` so it shows what the integral signs normally look like.

[2015-07-19 14:16] spicyj commented on #68
@kevinb7 padding-right on which element? All of them?

[2015-07-19 14:45] spicyj commented on #273
MathJax seems to just shows your input in a box for errors like that. `$\x{$` displays as:

![image](https://cloud.githubusercontent.com/assets/6820/8766367/1a15b2ba-2dea-11e5-9c2a-944dd7cf7780.png)

[2015-07-19 15:21] kevinb7 commented on #68
@spicyj I put `padding-right` right just on the integral signs.  I'll have a to see what happens if I replace all uses of `margin-right` with `padding-right`.  In terms of layout it shouldn't matter (famous last words).

[2015-07-19 15:22] kevinb7 commented on #273
That shouldn't be too difficult.

[2015-07-20 17:14] Reflic commented on #61
Whats the current position of implementing support for the **align** environment?

[2015-07-20 17:28] kevinb7 commented on #61
@Reflic environment support has been added so adding support for {align} is easier than it would've been in the past.  If you're willing to take a stab it we'd love a pull request for this.

[2015-07-21 12:42] cben commented on #273
Input in a box easy enough with current API (catch error, put text in a span).  (Though a built-in option with default style could be handy.)
But accepting unknown \foo and going on with parsing would be a real advance.
(Of course it has to be optional — if I'm trying KaTeX and falling back to MathJax, I wan't an error for \foo in case MJ does handle it)

[2015-07-22 08:39] Cirran commented on #312
Sorry, I don't need displayed equations. For them I can add `{left: "$$", right: "$$", display: true}` or use `\displaystyle` command. I need only inline equations.

[2015-07-22 13:42] kevinb7 commented on #312
@Cirran not sure when I'll have time to look at this, but in the meantime you could improve the spacing by putting each line inside a block element like a <p> or <div> or use a list with `list-style-type:none;' and adjust the padding/margin as necessary.

[2015-07-22 16:23] kevinbarabash opened #315 "allow commands to be marked as `non-standard` and provide an option to enabled them"
`non-standard` commands should be disabled by default.

[2015-07-22 16:24] spicyj commented on #315
Once we have macro support via JS configuration it would be nice to just remove them completely and move them to KA-specific configs.

[2015-07-22 16:28] kevinb7 commented on #315
Some non-standard commands might not be expressible with just a macro, e.g. `\cssId` and `\cssClass`.

[2015-07-22 16:29] kevinb7 commented on #315
But yes, I agree those that can be expressed as macros should be once that's in place.

[2015-07-23 05:05] kevinb7 commented on #68
I tried this change out in the test app and using `padding-right` moves the limits ever so slightly closer to the integral sign.  This is a big issue because the spacing of our rendering differs far from LaTeX.  Green is LaTeX, red is KaTeX.

`padding-right`:
![integrals](https://cloud.githubusercontent.com/assets/1044413/8843463/cbc26962-30c5-11e5-81ac-82ebe56c0d3f.png)

`margin-right`:
![integra

[2015-07-23 20:20] kevinb7 commented on #305
http://khan.github.io/react-components/#tex

[2015-07-24 06:44] Cirran commented on #312
@kevinb7 Thank you, the wrapping them into block `<div style="line-height: 2.75;"> ... </div>` has helped me. Sorry for troubling.

[2015-07-24 13:03] kevinb7 commented on #312
@Cirran no worries.  I'm going to leave this issue open because we should, at some point, try to find a better solution to this problem.

[2015-07-24 21:40] DollarAkshay opened #316 "KaTex on KhanAcademy"
Why cant KaTex be used on KhanAcademy ?

[2015-07-25 00:38] kevinb7 commented on #316
@DollarAkshay it is being used on KhanAcademy.  Sometimes though we fallback to MathJax for LaTeX commands that we don't handle yet.

[2015-07-25 00:40] spicyj commented on #316
I assume @DollarAkshay is referring to the discussion areas.

[2015-07-25 00:50] kevinb7 commented on #316
That's a good idea.  I think we'd want to have a way to preview comments as well so that people can check that their math is right.

[2015-07-25 01:53] #35 closed

[2015-07-27 18:32] xymostech opened #318 "`\int\limits` in textstyle doesn't correctly produce limits"
In KaTeX, `\int\limits_x^y z` produces:

![image](https://cloud.githubusercontent.com/assets/217900/8913817/4c42d788-3450-11e5-8a60-caf5c3195380.png)

whereas in TeX, it produces:

![image](https://cloud.githubusercontent.com/assets/217900/8913858/809f44bc-3450-11e5-88cc-1215edd0f0b2.png)

`\nolimits` and `\limits` was recently introduced in #314

[2015-07-27 18:52] kevinb7 commented on #318
@xymostech good catch.  @JeffEverett could you have a look into this if you have some time?

[2015-07-27 19:18] xymostech commented on #312
Tinkering around with things, I think this might be caused by a couple problems:

1. We make our fonts a little bit thicker when we create them, so we maybe should adjust the metrics that we get to account for this?
2. TeX assumes that you're going to put some space between the different lines, but browsers don't always? Maybe we should explicitly add the line-height ourselves?

[2015-07-29 02:11] spicyj commented on #312
Yeah, ideally we can adjust the line heights so that this looks right. We should be careful to not increase the line height for inline (non-fraction) math in regular text though, otherwise you get uneven spacing when using math on only a few lines of a large paragraph.

[2015-07-29 03:30] mbourne commented on #312
Hi

On a related issue, the vertical spacing when using fractions in matrices is also too tight.

![image](https://cloud.githubusercontent.com/assets/7541940/8949305/5c316e80-35e4-11e5-9beb-77d336b02415.png)

![image](https://cloud.githubusercontent.com/assets/7541940/8949331/a2a16744-35e4-11e5-8c32-67024bb581f8.png)

How do we space them out some more?

Regards
Murray

[2015-07-29 17:55] #273 closed

[2015-07-29 18:41] xymostech opened #320 "`\dag` shouldn't be smaller in script/scriptscriptstyle."
It looks like `\dagger` is correct, but `\dag` is a macro `\mathhexbox 279` that makes it so the `\dagger` character doesn't change in size when in script or scriptscriptstyle. It also means that `\dag` isn't a `bin`, it's an `ord`, but it looks like we already handle that.

TeX `a^{\dag} a^{\dagger} x \dag y \dagger z`:
![image](https://cloud.githubusercontent.com/assets/217900/8966500/8a60ac2e-3

[2015-08-04 03:02] frankandrobot opened #321 "Feature Request: \class directive to inject HTML/CSS"
MathJax has the same feature: http://docs.mathjax.org/en/latest/tex.html

Use case: being able to style the output allows you to do cool things

It really just comes down to extending the Parser/Lexer, so I could probably do this myself if someone points me in the right direction...

[2015-08-04 15:48] kevinb7 commented on #321
This is a duplicate of https://github.com/Khan/KaTeX/issues/90.

[2015-08-04 15:48] #321 closed

[2015-08-04 15:52] kevinb7 commented on #321
@frankandrobot I did have a pull request for this, but a lot of things have changed since then and I'm not sure what the best way to implement this would be now.  If you interested, have a look at https://github.com/Khan/KaTeX/pull/119.  I think if I had to re-implement this I'd avoid the extension mechanism.

[2015-08-05 11:18] #259 closed

[2015-08-05 16:02] PeterBocan commented on #259
Is it released in latest version? I mean the font support.

[2015-08-05 16:39] kevinb7 commented on #259
Not yet.  I still need to get https://github.com/Khan/KaTeX/pull/291 and https://github.com/Khan/KaTeX/pull/292 merged in.

[2015-08-05 17:18] blaiprat opened #322 "When building katex using webpack an additional loader is needed for json."
Hi, with the 0.5.0 release the big object from `fontMetrics.js` has been moved to their own JSON file `fontMetricsData.js`. That forces me to add the `json-loader` in my project configuration just for this specific file.

Not a terrible problem I know, but I was wondering if it can be saved as a javascript file, prepending the `module.exports =` to the file when generating it and saving it with th

[2015-08-05 17:20] kevinb7 commented on #322
I don't see a problem with doing this.  Would you be able to submit a pull request?

[2015-08-05 17:22] blaiprat commented on #322
I've been checking the scripts, I'm not fluent with python, but I'll give it a try.

[2015-08-06 10:38] gagern commented on #259
I should have indicated that I'm closing this as a duplicate, or rather a subset of 132.

[2015-08-07 07:29] blaiprat commented on #322
Thanks for merging the pull request

[2015-08-07 07:29] #322 closed

[2015-08-08 03:11] kevinb7 opened #325 "Chrome screenshots have diverged from a recent commit"
I disabled Chrome screenshots in https://github.com/Khan/KaTeX/commit/0dc9eed1c42ab111b1ba1d795270e579d4b423cc.  If someone else could locally re-enable Chrome screenshots and re-generate them to see if they're seeing differences that would be much appreciated.  I will try to do the same and post images in a branch this weekend.

[2015-08-08 07:43] gagern commented on #263
I've created snapshots for a bunch of configurations ([code](https://github.com/gagern/KaTeX/tree/browserstack/browserstack), [results](https://github.com/gagern/KaTeX/tree/browserstackResults)). Findings:

1. IE 6, 7 and 8 yield empty windows for all test cases. Is this an IE problem, or a Browserstack problem?
2. **Accents** missing for Chrome 15 and 20 and 25 on Windows 7, but not for 25 on OS

[2015-08-08 10:45] gagern commented on #263
Vertical placement in Chrome improves significantly from 22 to 23. However, Chrome 24 on BrowserStack apparently has problems processing our SqrtRoot test case, which never leaves the `processing` state. So requiring Chrome 25 or later sounds prudent. The arrows in the Accents test case first appear in Chrome 35 on Windows, they are still absent in Chrome 34 on Windows 7. Do we want to address thi

[2015-08-08 15:43] gagern commented on #325
The title is incorrect: at least for me, chrome screenshots have *not* diverged from the *initial* commt, or at least not all of them. However, the *have* diverged from the most recent commit, namely ce99abd1f209b49680910fb9a93a7a45c0025f25. That commit by @xymostech needs some investigation. Taking `Arrays-chrome.png` as an example, I can reproduce the state from b7e1581869ea4f5d20a6b7d7f0b0dc7bb

[2015-08-10 15:08] scaljeri opened #327 "Break/wrap formula if too wide"
Is there a way to break formula's if they are to wide (with respect to their parent) ?

[2015-08-10 15:59] spicyj commented on #327
Not currently, but I was talking to @xymostech and the rules sound simple (breaking is allowed after any top-level rel or bin) so it might not be too difficult to add.

[2015-08-10 18:32] scaljeri commented on #327
+1 I really need this feature. Is `responsiveness` also included in the equation ?

[2015-08-10 18:32] spicyj commented on #327
I don't know what you mean by that, sorry?

[2015-08-10 18:36] scaljeri commented on #327
For example, if you switch from landscape to portrait, the `formula` adjusts to the space it has (responsive)

[2015-08-15 04:40] kevinb7 commented on #305
http://algebra.js.org/

[2015-08-15 12:15] lukeburns opened #328 "Render image from KaTeX"
Is there any way I can render a png of arbitrary size from KaTeX? I've tried taking screenshots using PhantomJS, but it doesn't give me great control over the image (cropping is wonky).

[2015-08-15 14:37] xymostech commented on #328
Seeing as you're spawning a new process of something anyway, is there a reason you're not just using normal TeX/LaTeX to render your math?

[2015-08-15 15:38] lukeburns commented on #328
That's an option. Seems like it would be more processor intensive since it requires compiling TeX to a pdf then converting to png.

I'm using KaTeX for preview of the image, and ideally the png should match up with the preview.

[2015-08-16 04:49] eugene-eeo commented on #328
@lukeburns you can check out #251 for rendering to canvas. I'm also very interested in this, but it seems that currently the direction, AFAIK is heading towards refactoring the core and trying to keep it small and performant, so it seems that we'll have to wait a bit longer for this feature to be implemented "properly". Currently I am doing it with [html2canvas](https://github.com/niklasvh/html2ca

[2015-08-16 19:32] MasonMcGill opened #329 "KaTeX renders larger text than MathJax"
Hi Khan Academy (& community)!

After replacing MathJax with KaTeX in a technical report, all of my math got ~20% bigger:

![image](https://cloud.githubusercontent.com/assets/1045041/9294935/90b59e66-4411-11e5-8cb3-1549fa571c48.png)

Whether or not this is intentional, is there a way to reduce the size of equations, etc. to the size at which they are rendered by other engines?

The KaTeX test:

[c

[2015-08-19 03:09] kevinb7 commented on #325
https://github.com/Khan/KaTeX/commit/90f9e12df3639633911f651ab8c3e20ff9f66081 contains all of the chrome screenshots which differ ever so slightly which is all of them.  This is on the https://github.com/Khan/KaTeX/commits/chrome_screenshot_images branch.

[2015-08-19 12:30] gagern commented on #325
Except for `LimitControls` and `UnsupportedCmds` which were only added later, the images from your 90f9e12df3639633911f651ab8c3e20ff9f66081 and my b7e1581869ea4f5d20a6b7d7f0b0dc7bb4ae6f64 are the same. I still don't know what @xymostech  did to get those other results in ce99abd1f209b49680910fb9a93a7a45c0025f25. To verify the mentioned equality:

[code]

There are various JavaScript png encoders a

[2015-08-19 20:51] gagern commented on #325
In https://github.com/gagern/KaTeX/commit/eabe35279d0e01e740fbd1e1218f16aa5713282c from [my pngRepack branch](https://github.com/gagern/KaTeX/commits/pngRepack) I've had a stab at creating PNG files in a reproducible fashion. Unfortunately the resulting files are considerably bigger than the ones created by Selenium itself.

[2015-08-20 03:28] mbourne commented on #312
Any progress on this issue?

[2015-08-20 03:34] kevinb7 commented on #312
@mbourne I think what you're seeing is a separate issue.  Can you create a separate issue and include which browser/os combo you're seeing this in.  Sorry for not saying something sooner.

[2015-08-20 03:42] mbourne commented on #45
Hello again

I'm still seeing subscripts rendered as superscript (almost) in IE v11, Win 7 with KaTeX 0.5.0 js and css.

![image](https://cloud.githubusercontent.com/assets/7541940/9375113/69e3aef6-472f-11e5-9c3b-2bf8f6a74d2e.png)

And on the same browser, superscripts end up too high

![image](https://cloud.githubusercontent.com/assets/7541940/9375147/ca15c50c-472f-11e5-96fb-e9ed77282aab.png)

He

[2015-08-20 04:01] #318 closed

[2015-08-20 05:08] kevinb7 opened #331 "Vertical spacing between fractions in {matrix} environments is too tight"
Reported by @mbourne in https://github.com/Khan/KaTeX/issues/312#issuecomment-125827083.

LaTeX:
<img width="176" alt="screen shot 2015-08-19 at 11 03 52 pm" src="https://cloud.githubusercontent.com/assets/1044413/9376170/b268de80-46c6-11e5-930a-5ab8b5f1ea4a.png">

KaTeX:
<img width="119" alt="screen shot 2015-08-19 at 11 04 03 pm" src="https://cloud.githubusercontent.com/assets/1044413/9376172/b5

[2015-08-20 08:11] mbourne commented on #331
Some examples from different browsers (all Win 7):

Firefox 39:
![image](https://cloud.githubusercontent.com/assets/7541940/9378135/99fb1986-4751-11e5-8d1c-14f27e2f4384.png)

Chrome 44:
![image](https://cloud.githubusercontent.com/assets/7541940/9378155/d2baa606-4751-11e5-8523-3b37830d7d0f.png)

IE 11:
![image](https://cloud.githubusercontent.com/assets/7541940/9378496/80a7d9ee-4754-11e5-86dc-000b

[2015-08-22 00:35] kevinb7 opened #332 "fraction bar too high in tonicdev integration"
https://tonicdev.com/nicole/katex
<img width="137" alt="screen shot 2015-08-21 at 6 33 42 pm" src="https://cloud.githubusercontent.com/assets/1044413/9421584/312e83ec-4833-11e5-93a4-aacd0661ff84.png">
My guess is that one of the styles from outside of the katex container is bleeding in.

[2015-08-22 03:24] kevinbarabash opened #335 "gitter vs freenode"
We have a freenode irc channel set up called #katex that's the current official chat room.  There's an "unofficial" chat room at https://gitter.im/Khan/KaTeX.  The benefit of gitter that I see is that you can use markdown to format posts including posting images.

[2015-08-22 03:57] kevinb7 commented on #335
@spicyj has discovered that gitter uses KaTeX for math support.

[2015-08-22 03:59] spicyj commented on #335
It's been the case since last September. :) Scroll back to see.

[2015-08-22 04:13] kevinb7 commented on #305
gitter

[2015-08-22 04:23] spicyj commented on #305
https://www.expii.com/

[2015-08-22 08:00] alexirpan commented on #20
Poking this. It turns out the kramdown engine turns `0 < 1` into

    % <![CDATA[
    0 < 1 %]]>

The intention is that it gets wrapped to properly escape the < sign, and the wrapping gets commented out in the rendering.

kramdown is the main markdown engine for Github Pages, so this is a barrier for setting up KaTeX on blogs hosted there.

[2015-08-22 23:01] spicyj commented on #20
That's clever. CDATA isn't even valid in HTML5 though (only SVG and MathML): https://html.spec.whatwg.org/#cdata-sections.

[2015-08-24 13:12] scaljeri opened #336 ". vs ,"
As a decimal sign I use the , (comma) instead of the . (dot). However KaTex adds some space after the comma. Is it possible to configure KaTeX such that you can tell it what the decimal-sign is ?

[2015-08-24 13:16] hastebrot commented on #336
Could you preprocess the math formula with a regular expression?

I use the comma in written math, but have never seen it used in a LaTeX formula in the wild. It is very common in programming languages to use a point as decimal sign.

[2015-08-24 13:18] hastebrot commented on #336
Maybe you could write `{,}` instead of `,`.

[2015-08-24 13:28] scaljeri commented on #336
A regex will absolutely work, thnx! Is there any change this could be made configurable ?

[2015-08-24 14:14] kevinb7 commented on #336
According to the third answer on http://tex.stackexchange.com/questions/24156/comma-as-decimal-point-leading-to-confusion the siunitx package provides a ```\num``` command which can be used like ```\num{1,5}``` to do the formatting you're looking for.  I think this would be more feasible than having a general configuration option that changes the behavior of ```,```.

[2015-08-24 16:09] wchargin opened #337 "array and matrix environments don't ignore trailing newlines"
Everyone likes trailing commas! But trailing newlines in matrices seem to add an extra newline :cry:

LaTeX source to test:

[code]

LaTeX output:
![LaTeX output doesn't show the blank line](https://cloud.githubusercontent.com/assets/4317806/9445137/6186c528-4a3f-11e5-8f98-6da74ebe0e94.png)

KaTeX output:
![KaTeX output has an extra blank line](https://cloud.githubusercontent.com/assets/4317806/94

[2015-08-24 16:10] WChargin commented on #337
For reference, the Other Library has the behavior of LaTeX:
![The Other Library agrees with pdflatex](https://cloud.githubusercontent.com/assets/4317806/9445236/eb81eb90-4a3f-11e5-9e43-83ad9399b7fa.png)

[2015-08-25 18:33] xymostech commented on #336
I think `{,}` is the correct way to do this. That SO question mentions it, and the TeXbook calls it out specifically too:
![image](https://cloud.githubusercontent.com/assets/217900/9475609/97f37524-4b1c-11e5-9560-70d97dd29d1f.png)

We could maybe add something like the `\num` command, but this seems like a bit of overkill for now (and would probably just end up with us implementing an internal sho

[2015-08-25 18:33] #336 closed

[2015-08-25 18:34] xymostech commented on #337
:+1: Thanks for this! Trailing newlines should definitely be accepted.

[2015-08-25 18:39] xymostech commented on #335
By "official" do you mean "mentioned in CONTRIBUTING.md"? The irc channel seems more universal, but gitter is pretty great too. I'm all for changing it, maybe we should set the topic in the irc channel to direct to gitter.

As a side note, do we know if gitter has an up-to-date(-ish) version of KaTeX?

[2015-08-25 19:06] xymostech commented on #305
slides.com

[2015-08-25 19:31] kevinb7 commented on #335
"mentioned in CONTRIBUTING.md" and a gitter badge in README.md.  I don't know which version of KaTeX they're running.  We could open an issue in their bug tracker whenever we release a new version.

[2015-08-25 21:11] xymostech commented on #332
Very strange. I can't find any styles that are being changed in the frame, but I remember seeing something like this before on android. Probably needs more investigation.

[2015-08-26 06:52] tarjei opened #338 "Simple expression breaks KaTeX"
Hi, this expression breaks KaTeX:

`{\left[\matrix{{3}&{2}\\{4}&{3}}\right]}`

I thought that this was supported in 0.5. What am I missing?

[2015-08-26 07:36] mbourne commented on #338
Hi Tarjei

The \begin{matrix} syntax will give you what you want:

{\left[\begin{matrix}{3}&{2}\\{4}&{3}\end{matrix}\right]}

Regards
Murray

[2015-08-26 12:51] kevinb7 commented on #338
In this case you can the `bmatrix` environment:
[code]

[2015-08-26 12:51] #338 closed

[2015-08-26 12:55] tarjei commented on #338
Thanks for the comments :) Now I just have to get AsciiMath to output the correct syntax .

[2015-08-27 05:11] Nateowami opened #339 "Clarify font license"
The license clearly states that the software is under MIT license, but the font metadata says

    Copyright (c) 2009-2010 Design Science, Inc.
    Copyright (c) 2014 Khan Academy
Since there is no mention of Design Science in the license file I'm afraid I would be incorrect to assume it's also under MIT license. Can you clarify the license and/or point me to the original license from Design Scien

[2015-08-27 18:39] xymostech commented on #339
The fonts are licensed under the SIL Open Font License, it says that in the metadata of the font but it's sorta hard to find. If you want to check using FontForge, you can look under Element -> Font Info -> TTF Names -> License, where it says:

[code]

Hopefully that's all you need! Glad to see the fonts are being useful!

[2015-08-27 18:39] #339 closed

[2015-08-27 18:42] xymostech commented on #339
(Also note that the fonts are built using a modified toolchain from the https://github.com/Khan/Mathjax-dev repo, with instructions on how to build in https://github.com/Khan/KaTeX/tree/master/dockers/MathJaxFonts)

[2015-08-28 00:48] Nateowami commented on #339
Thank you! Sorry, I should have grabbed FontForge and looked to see if there was more metadata that `gnome-font-viewer` didn't show. For some reason I didn't think of that.

[2015-08-28 00:56] xymostech commented on #339
No problem at all. :) We probably should make it more explicit somewhere that the fonts are under SIL...

[2015-08-28 15:44] gagern commented on #331
So what do we want? Compatibility with LaTeX, nice defaults, or a setting to switch between these two? Or some more fine-grained controls?

Internally LaTeX has no space between its row boxes, but each row box contains a strut, which ensures a minimal height and depth (of 0.7 resp. 0.3 of the common line height). A row with high content exceeds the dimensions of a strut, and therefore leads to tou

[2015-08-28 19:38] xymostech commented on #331
I vote for leaving it, and maintaining compatibility with LaTeX. It maybe causes some pain for users converting from MathJax or doing a MathJax fallback, but it's more consistent and heops people trying to do plain LaTeX -> KaTeX conversions.

[2015-08-28 19:45] kevinb7 commented on #331
Sounds good to me.

[2015-08-28 19:45] #331 closed

[2015-08-28 20:15] tolmasky commented on #332
This seems unrelated to Tonic, it reproduces in a normal plain html file for me:

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
    </head>
    <body>
        <script>
            document.body.innerHTML = katex.renderToString("

[2015-08-28 20:16] spicyj commented on #332
Missing DOCTYPE?

[2015-08-28 20:17] tolmasky commented on #332
Is HTML5 a requirement? If it is I'm happy to consider it fixed as missing doctype.

[2015-08-28 20:18] spicyj commented on #332
Not HTML5 necessarily, but we probably don't work great in quirks mode. Any valid doctype should work (though `<!DOCTYPE html>` is of course the shortest). Does that fix it?

[2015-08-28 20:19] tolmasky commented on #332
Yup, pushing a fix to tonic now. Thanks!

[2015-08-28 20:22] spicyj commented on #332
Sweet. We should add a warning for this though. (jQuery doesn't support quirks mode, for instance.)

[2015-08-28 22:00] xymostech commented on #332
We do have a warning for it! https://github.com/Khan/KaTeX/blob/master/katex.js#L33

[2015-08-28 22:00] #332 closed

[2015-08-28 22:05] tolmasky commented on #332
Yeah the problem here is that that warning doesn't happen on the client if its rendered on the server (which is what was happening here). It'll actually be kind of a common case if you do lots of server rendering of stuff as opposed to relying on it coming in on the client.

[2015-08-28 22:06] spicyj commented on #332
Ahh, gotcha.

[2015-08-30 00:24] gagern commented on #325
PR #340 should resolve this, please consider merging it.