[2017-11-19 07:44] akalin opened #971 "Not possible to emulate pmatrix/bmatrix with column separators"
Let's say I wanted to write an augmented matrix with parentheses. In KaTeX, I would do

[code]

However, this puts too much space between the parentheses and the matrix body. There are a couple of ways to fix this in LaTeX:

1) As mentioned in https://tex.stackexchange.com/questions/299221/adding-vertical-line-equal-sign-to-augmented-bmatrix-without-using-array#comment870448_299233 , something lik

[2017-11-19 08:43] adammaj1 opened #972 "Vertical Layout"
I try to make equation in [markdown file on the gitlab](https://gitlab.com/adammajewski/parameter_external_angle).

I f try to follow [this guidelines](https://khan.github.io/KaTeX/function-support.html#environments).

Why this equation

$`\Phi_M(c) \overset{def}{=} \Phi_c(c)`$

is not rendered ? ( I mean:  \overset{def}{=}  )

TIA

Adam

[2017-11-19 16:17] edemaine commented on #588
#614 was merged.

[2017-11-19 16:17] #588 closed

[2017-11-19 16:19] edemaine commented on #971
KaTeX supports `\kern` (I forget about `\hspace`, see #164). I like the idea of at least supporting a read-only `\arraycolsep`; #687 is about making them changable, but it would be easy to at least add them to KaTeX as macros.  For now you could define a user macro for it that expands to the hard-coded value in KaTeX.

As for manually specifying `\hskipBeforeAndAfter`, it would be ideal if there w

[2017-11-19 19:47] edemaine commented on #967
I believe the "right" way to do KaTeX in Markdown is to extract the math separately, run Markdown processing, then stick the math back in (formatted by KaTeX).  This is what I do [here](https://github.com/edemaine/coauthor/blob/master/lib/formats.coffee), and eventually plan to release as a `contrib` module.

Meanwhile, the behavior of `’` is related to the recent Unicode support that @ronkok is a

[2017-11-19 21:13] aterenin commented on #967
A solution using the macro system would work great for me.

[2017-11-19 22:10] edemaine commented on #164
To clarify, #833 added basic support for `\hspace` (everything except `plus` and `minus`). I'm also looking at supporting `\hspace*` (as an alias to `\hspace`).

[2017-11-20 02:39] marcianx commented on #972
I ran

    katex.renderToString('\\Phi_M(c) \\overset{def}{=} \\Phi_c(c)')

on the javascript console both on your site and on https://khan.github.io/KaTeX/. It failed on the former as you indicated and it succeeded on the latter.

Are you by any chance running an old version of KaTeX? Per https://github.com/Khan/KaTeX/releases, `\overset` was added in v0.8.0.

[2017-11-21 00:14] akalin commented on #971
I looked for one, but couldn't find any. But I guess `\kern` with `5pt` (= `\arraycolsep`) works well enough for now.

[2017-11-21 15:20] edemaine opened #977 "Custom environments"
It's be nice to allow the user to define custom environments, such as `unskipmatrix` in #971.

In LaTeX, `\begin{foo} ... \end{foo}` is equivalent to `\foo ... \endfoo`.  So one way would be for `\begin{foo}` to check whether `\foo` and `\endfoo` are defined, and if so, just expand to that.

Alternatively, we could add a custom environments argument to complement the custom macros.

[2017-11-21 15:21] edemaine commented on #971
FWIW, you could define a macro like `"\unskipmatrix": "\\kern-5pt\\begin{matrix}#1\\end{matrix}\\kern-5pt"` and use it like `\unskipmatrix{a&b\\c&d}`.  Hmm, maybe it'd be nice to be able to define custom environments too...  (#977)

P.S. PR #974 adds support for `\hskip` (but it's identical to `\kern`).

[2017-11-21 16:44] adammaj1 commented on #972
thx.
I have found that [ "Gitlab ships with KaTeX starting from v8.15 "](https://gitlab.com/gitlab-org/gitlab-ce/issues/26079).
Maye it is a gitlab not KaTex problem so I have also [asked on the gitlab](https://gitlab.com/gitlab-org/gitlab-ce/issues/40393)

[2017-11-21 17:15] edemaine commented on #972
Agreed. gitlab seems to include [this version of katex](https://github.com/gitlabhq/gitlabhq/blob/a0715f079c143a362a7f6157db45020b8432003e/vendor/assets/javascripts/katex.js) which clearly doesn't include `\overset`, while the latest versions do.  Hopefully they can upgrade as indicated in the comments there.

[2017-11-21 17:15] #972 closed

[2017-11-21 17:34] edemaine commented on #955
Could you clarify what you're asking here?  KaTeX already outputs both MathML and HTML.  The MathML is by default hidden visually, but I believe you could change the CSS to make it render, and hide the HTML rendering.

[2017-11-21 17:55] edemaine commented on #85
`\cfrac` is defined as follows in [`amsmath.dtx`](http://tug.ctan.org/tex-archive/macros/latex/required/amslatex/math/amsmath.dtx):

[code]

LaTeX defines `\nulldelimiterspace=1.2pt`.

Ignoring the optional `[l]`/`[r]` argument, and the `\strut` which is not yet supported, a more accurate macro for `\cfrac` would thus be `"\\cfrac": "\\dfrac{#1}{#2}\kern-1.2pt".  However, I find that this still do

[2017-11-21 19:53] Reikim opened #978 "Superscripts rendered as subscripts"
I'm aware there are other issues that have been opened on this sort of thing, notably #659, and #183, but having trawled through those issues and attempted a few of the suggestions without any luck, I think it's time to ask for some more hands-on help...

My use case is this: I receive a block of plaintext content from a server that may contain inline [ASCIIMath](http://asciimath.org/), delineated

[2017-11-21 20:02] edemaine commented on #978
I tested that TeX input on the [demo page](https://khan.github.io/KaTeX/) and it works fine. So there must be a problem with how you're using KaTeX in your context.

Maybe try to make a minimal bad example? My guess is that at least  the fonts aren't being loaded properly, as they look wrong. Check for network errors?

No need to do anything but `renderToString`. That HTML is correct; you just nee

[2017-11-21 20:04] Reikim commented on #978
I already checked that fonts are being loaded correctly over the network (as noted in the original issue). Is there something else I should be checking for? This is being dumped straight into a div.

[2017-11-21 20:05] Reikim commented on #978
I also explained that I know it works correctly in the demo page and in one of my own demos. I know it's likely an issue with the way I'm using it; I just have no idea where to look, and I don't know why it works fine using one method but not the other.

[2017-11-21 20:44] edemaine commented on #978
@Reikim Without an actual example (even of a generated full webpage), I don't see how we can help debug. Perhaps you have other CSS that generates conflicting rules?

I realize that you said the fonts are loading correctly, but the screenshot indicates that they aren't (or that the KaTeX CSS isn't setting the `font` style to use them, but I imagine you checked for that in Developer Tools).  Look a

[2017-11-21 21:13] edemaine commented on #978
Ah, I saw that it didn't work when `katex.render`ing into a created element, but missed that it works when rendering into an existing element.  That definitely indicates that the fonts and CSS are loading correctly.  Weird indeed...

Can you check that `document.compatMode` is `"CSS1Compat"`, to make sure it's not a quirks-mode issue?

[2017-11-22 00:51] marcianx commented on #955
Sorry for the close/open; hit the wrong button on mobile.
@nmanumr Do you mean MathML add input to KaTeX or as output?

[2017-11-22 12:38] rah4927 opened #979 "Unicode rendering inside math environment"
The KaTeX library is currently being employed in expii.com and our Bangla users are having trouble using Bangla text inside the math environment. Consider the following code:

(text : $ ঢাল=  \dfrac{\text{অক্ষে}}{\text{শরণ}}$)

If I compile it correctly using XeTeX compiler, this is what the output looks.

![kat1](https://user-images.githubusercontent.com/29117205/33127857-76bf5890-cfb4-11e7-899f-

[2017-11-22 16:39] adammaj1 commented on #972
Is KaTex using version number ? I have found only 4fb9445a9 or 2015. How do you check it?

[2017-11-22 17:00] Reikim commented on #978
Appears to be. Here's a [fiddle](https://jsfiddle.net/yhvzwLtL/) demonstrating.

[2017-11-22 17:02] Reikim commented on #978
One thing I did notice was that, just staring at the generated markup, I can't see any way of distinguishing whether the 2 is a subscript or superscript...and that, when rendering into an existing element, there's some inline style positioning that gets added. Maybe that's the issue?

[2017-11-22 20:54] edemaine commented on #978
Thanks for the example!  That is pretty crazy.

I notice now (comparing to the KaTeX demo page) that the `style` attributes are missing on the `span` children of the `<span class="vlist">`.  That's where the vertical positioning happens which in particular distinguishes the subscripts from superscripts.  (Apologies for not realizing this in your original markup.)

Presumably Angular is filtering t

[2017-11-22 21:30] Reikim commented on #978
Ah, damn, you're right. I didn't think to check the markup before it get run through binding...logging confirms that the styles are present when it gets spit out of renderToString.

Thanks for your patience!

[2017-11-22 21:30] #978 closed

[2017-11-22 23:45] akalin opened #982 "\bmod in inline math mode adds extra following space"
Test file: https://cdn.rawgit.com/akalin/98bc47f5e54f7529462f12a1d7336858/raw/28a50452296c9d7bd4dc9e5023056cf64412a913/test-0.8.3.html

Using \bmod in inline math mode seems to add some extra following space, which seems like a bug. Not sure if it's a problem with other binary operators.

[2017-11-23 00:24] edemaine commented on #982
This is a consequence of #836, I'm afraid. (Not quite sure why `\bmod` is implemented with negative space, but it is.) We still don't know how to fix it (or the exact cause).

[2017-11-23 00:28] ronkok commented on #970
@akalin In PR #976, I went ahead and gave `vertical-separator` the same full-span treatment that I gave to `frac-line`. We have one report in from @trimbonz that the work is effective making frac-lines visible. Hopefully, the same will be true for vertical array separator lines.

[2017-11-23 00:29] edemaine commented on #972
KaTeX uses version numbers, but it doesn't seem to have made its way into Gitlab's code (unfortunately). But from the year, it's clearly an old version.

[2017-11-23 00:33] edemaine commented on #978
Glad you found a solution!

[2017-11-23 05:26] akalin commented on #982
Hmm...but does it need negative space? If I use `\mathbin{\mathrm{mod}}` that works perfectly fine: see
https://cdn.rawgit.com/akalin/98bc47f5e54f7529462f12a1d7336858/raw/b71b173e7fdc3459938d7f362574da51eacdad6a/test-0.8.3.html

So I guess that's a workaround for now.

[2017-11-23 07:10] HarrisonB opened #983 "Make contrib/auto-render importable"
It appears Webpack >= 2.2.0 [does not support](https://github.com/webpack/webpack/issues/4039) `import` mixed with `module.exports = ...` syntax. Perhaps I have misread that thread or am mistaken? I'm unable to figure out a way to import `renderMathInElement` without getting `TypeError: "exports" is read-only`.

[2017-11-23 08:43] 07pepa commented on #979
i know that problem is same like here https://github.com/Khan/KaTeX/issues/895

[2017-11-23 09:07] 07pepa commented on #895
I know it is utf8 characters related... looked into sources of katex on font and there are only printable english chars maybe it is related to multy-byte-ness of non ascii chars

PS. czech chars  like "ěščřžýáíéťňůú" and theri capitalizated version"ĚŠČŘŽÝÁÍÉŤŇŮÚ" do not work also and  utf-8 emoji also not work 😭.....only sotlution  is ( if input box is utf-8) do utf 8 filter if it thinking it is p

[2017-11-23 12:53] edemaine commented on #979
I'm confused how you're getting that to render that at all: I don't think KaTeX supports Bangla characters at all.  When I try `\text{ঢাল}= \dfrac{\text{অক্ষে}}{\text{শরণ}}`, I get `KaTeX parse error: Expected '}', got 'ঢ' at position 7: \text{ঢ̲াল}= \dfrac{\te…`.  Are you getting any messages in console?

The difficulty with supporting Bangla is that we'd need a font with character metrics.  I be

[2017-11-23 12:54] edemaine commented on #895
To be clear, `\text{測試}` works fine (with any CJK character); it's just `測試` in math mode that doesn't work.  I don't see any particular reason to forbid CJK characters in math mode, so we should look at adding support for that.

[2017-11-23 14:09] edemaine commented on #983
I'm not an expert on this topic, but think this is related to #954. You should be able to `import 'katex'` which should already be translated to vanilla JS; it's just the submodules that aren't importable right now.

[2017-11-23 14:20] edemaine commented on #982
For some reason, LaTeX (latex.ltx) defines `\bmod` as follows:

[code]

So KaTeX is mimicking that.  Basically, in display/textstyle, we want `5mu` minus `\medmuskip` (which is `4mu plus 2mu minus 1mu` skip), while in script/scriptscriptstyle, we want `5mu` skip.  Given the #836 bug, I think it'd be nice to remove the negative space in `\bmod`.  I've created PR #984 to this effect.

Meanwhile, you

[2017-11-23 17:36] #955 closed

[2017-11-23 17:36] nmanumr commented on #955
Just found another way

[2017-11-23 20:04] akalin commented on #982
Hmm, that `\bmod` macro seems to have too little space after `mod`. With

[code]
I get

<img width="254" alt="screen shot 2017-11-23 at 2 04 04 pm" src="https://user-images.githubusercontent.com/425576/33187411-34815d68-d057-11e7-8e04-9c9de7d59a3e.png">

`\mathbin{\mathrm{mod}}` seems closer to `\bmod`.

[2017-11-23 20:06] akalin commented on #982
Although the 2nd `\kern1mu` should _add_ space, right? It's weird that putting it in _removes_ space...

[2017-11-23 21:17] edemaine commented on #982
I saw that too. Must be a bug of some sort... Should track it down.

The PR has the right space though.

[2017-11-23 21:47] kevinbarabash commented on #50
@mhchem we don't a plugin architecture yet.  LaTeX functions are defined in src/functions, e.g. https://github.com/Khan/KaTeX/blob/master/src/functions/lap.js.  Usually we only have a single call to `defineFunction` per file in src/functions, but a person could have more if that makes sense for implementing `mhchem`.  The thought was eventually we'd expose the `defineFunction` command so that peop

[2017-11-23 21:53] kevinbarabash commented on #824
@ronkok sounds good.  I was looking to do an `v0.9.0-alpha2` release sometime this weekend.  Also, switching from `bottom-border` to span height and using `min-height` sounds like a good plan.

[2017-11-23 21:54] kevinbarabash commented on #588
@edemaine thanks for closing.

[2017-11-23 21:57] kevinbarabash commented on #967
I think a valid resolution to this issue would be to add a section to README.md with common gotchas and include this along with suggestions of how to fix the issue.

[2017-11-24 03:27] kevinbarabash commented on #977
If `\begin{foo}` and `\end{foo}` map to `\foo` and `\endfoo` respectively, how do arguments passed to `\begin{foo}` get transmitted to `\endfoo`?  From the description of `\newenvironment` I would expect any args to be available in both `begdef` and `enddef`, http://www.emerson.emory.edu/services/latex/latex_20.html.

[2017-11-24 03:59] kevinbarabash commented on #979
@rah4927 did you modify the KaTeX code in anyway?

[2017-11-24 04:07] kevinbarabash commented on #85
Nice investigation.  I'm okay with using `\kern-2.4pt` as long as we have a screenshot test for this.  That way if we fix the other lurking issue without updating the macro we'll know.

[2017-11-24 12:58] edemaine commented on #977
That page says `\enddef` "may not contain any argument parameters. Only the `\begindef` gets the arguments.

[2017-11-24 14:33] hagenw opened #985 "Aligned environment for split equations"
As KaTeX has no split environment I tried to achieve the same by using the aligned environment.
I tried the following:
[code]
This approach works under LaTeX, but not under KaTeX. For KaTeX I have to add `\\` at the end of the last line as well, otherwise the line is missing in the HTML document (see picture below):
[code]
![aligned](https://user-images.githubusercontent.com/173624/33214500-805e53

[2017-11-24 15:45] ronkok commented on #985
@hagenw, PR #949 written to fix a problem with parsing a empty cell at the beginning of the last line in an array. I expect a release this weekend that will include PR #949. Could you try again after that release an tell me if your problem recurs?

[2017-11-24 18:39] rah4927 commented on #979
@kevinbarabash @edemaine sorry for the late response. No I didn't modify the code in any way. I just typed it on the text editor in expii.com and this was the result.

[2017-11-24 18:57] kevinbarabash opened #987 "Consider using Array<T> instead of T[]"
Reasons why we might want to migrate to using `Array<T>` to specify types of arrays.

**pros**:
- less ambiguous... does `?T[]` mean `Array<T?>` or `?Array<T>`?
- harder to get wrong: flow often accepts `[T]` when really `T[]` is what was meant

**cons**:
- longer to type, may require more wrapping

[2017-11-24 19:06] marcianx commented on #987
I've kinda kinda gotten used to `?` binding weakly so that I expect `?string[]` and `(?string)[]` to be different, but YMMV. I've, of course, been spending a lot of time in flow, so this is entirely subjective. Up to you.

[2017-11-24 19:21] kevinbarabash commented on #987
I'm okay with either.  If no one feels strongly either way we can keep going with `T[]`.

[2017-11-24 19:31] #939 closed

[2017-11-24 19:43] kevinbarabash commented on #250
@edemaine @gagern is anything blocking us for being able to implement `\def` and `\newcommand`. It seems like `\def` would probably be easier b/c it doesn't support optional parameters.

[2017-11-25 17:08] edemaine commented on #305
* Gradescope
* Facebook Messenger
* Presumably some Khan Academy stuff :-)

Just discovered this list.  I agree that a section of the README would be cool: this will really show the importance of KaTeX.  Maybe just a comma-separated list of linked titles would be a good start (though of course images/logos would be cooler, but harder to maintain).

[2017-11-25 17:10] edemaine commented on #979
@rah4927 Perhaps expii.com modifies KaTeX, or uses MathJax as a fallback (like KA)? Is there a place where we can try this?  And/or, could you post the raw HTML output (by copy/pasting from an Developer/Inspect view) instead of a screenshot?

[2017-11-25 17:28] edemaine commented on #967
@aterenin #973 got merged, so if you clone the master branch of KaTeX you can now pass a macro set of `{"’": "'"}`.  Would you be able to test that this does what you want in your setting before we add it to the README?  Are there other smart quotes, perhaps double quotes, that you'd want to convert?

[2017-11-25 17:35] edemaine opened #990 "Support plus/minus in lengths"
Currently, KaTeX lengths (as in `\hskip` and `\hspace`, via #974) are equivalent to kerns, i.e., they don't allow growth via `plus` or shrinkage via `minus`.

Supporting `fil`/`fill`/`filll` units in `plus` at least should be possible using Flexbox.  This alone would be pretty useful.

[2017-11-25 19:00] aterenin commented on #967
It works great! In addition, the `&=` bug for the `aligned` environment is also fixed. Thanks very much!

[2017-11-26 02:13] kevinbarabash commented on #990
@edemaine what sort of things would `fil/fill/filll` be useful for?

[2017-11-26 19:39] edemaine commented on #990
Hmm, admittedly I can't think of much in math mode beyond what's possible using `array`.  It might make defining some macros easier; for example, the new definition of `\LaTeX` wanted fill units to vertically top align things (though it would have also needed box manipulation of some sort).  More generally, vertical alignment seems like a possible application, though it might be better to focus on

[2017-11-26 23:27] kevinbarabash commented on #990
Let's leave it up.

[2017-11-27 00:53] edemaine commented on #985
0.9.0-alpha2 is out now! Please give a try.

[2017-11-27 00:58] kevinbarabash commented on #985
I've also updated the demo to 0.9.0-alpha2 and have verified that it works there.
<img width="894" alt="screen shot 2017-11-26 at 7 58 12 pm" src="https://user-images.githubusercontent.com/1044413/33246573-2a930a24-d2e4-11e7-93ce-9de83c0b2d9d.png">

[2017-11-27 00:58] #985 closed

[2017-11-27 01:24] #982 closed

[2017-11-27 01:31] edemaine opened #995 "\mbin{...}\kern{...} doesn't stack spacing"
Originally reported by @akalin in #982:
[code]
produces:
<img width="254" alt="screen shot 2017-11-23 at 2 04 04 pm" src="https://user-images.githubusercontent.com/425576/33187411-34815d68-d057-11e7-8e04-9c9de7d59a3e.png">

The last row is incorrect (relative to LaTeX).  I've figured out the reason, but I'm not sure of the solution:

* We have a CSS rule `.katex .mbin+.mord { margin-left: .22222em

[2017-11-27 07:26] cjh9 commented on #800
It would be awesome to have some kind of public API to build vnode trees. Right now I'm doing:

Katex tostring => fast HTML parser => build vnode tree in MithrilJS with hyperscript calls (recursively walk the three).

Is there a way I could skip the parsing? Should I look internally for buildTree and modify the katex source or is this feature coming soon?

[2017-11-27 14:25] edemaine commented on #800
@cjh9 If you don't need MathML, you could probably call `buildHTML` directly; if you want both, `buildTree` would be good.  If you can successfully import them (#954 might get in your way, but we'd appreciate a fix to that), then they should just work, and return the existing internal node tree data structures.

If they're helpful, I don't see any reason not to expose `buildTree`, `buildHTML`, and

[2017-11-27 18:26] Jenyay opened #996 "\vec is not visible in WebKitGTK+"
Hello.
I use katex to embed equations using the WebKit engine (WebKitGTK+) under Linux. In this engine, vectors created with \vec are not displayed. \overrightarrow works fine.

It seems to me that the problem resembles a fixed problem with \fraq (prior to version 0.9-alpha2, there was also a problem with \fraq).

KaTeX version is 0.9-alpha2

[2017-11-27 19:16] ronkok commented on #996
@Jenyay , We have an outstanding issue with `\vec` (Issue #735). In that issue, the arrow is placed too far to the right, and we haven't yet found a good way to correct that.

Could your issue possibly be the same as #735?

[2017-11-27 19:30] Jenyay commented on #996
No, the arrow is not displayed at all.

[2017-11-27 19:37] kevinbarabash commented on #996
@Jenyay `\vec{a}` in https://khan.github.io/KaTeX/ (which is using 0.9.0-alpha2) renders the vector arrow in Chrome version 62.0.3202.94.  Can you provide a link to a page that reproduces the issue?

[2017-11-27 19:45] Jenyay commented on #996
@kevinbarabash The page created by the program looks fine in Chrome and Firefox, but in embedded WebKit there is such a problem.

[2017-11-28 00:04] edemaine commented on #224
Fixed by #974 (thanks to previous additions of `\kern` and `\raisebox`).

[2017-11-28 00:04] #224 closed

[2017-11-28 00:08] kevinbarabash commented on #996
@Jenyay are you loading https://khan.github.io/KaTeX/ in embedded WebKit?  If not try that or verify that the doctype on the page you are loading is correct.

[2017-11-28 00:14] edemaine commented on #996
@Jenyay Also, could you upload an actual screenshot?  It's possible that this is still a consequence of #735 if the right shift ends up pushing it outside the rendered rectangle... maybe try `\vec{a}\vec{a}\vec{a}\vec{a}`.

[2017-11-28 04:11] kevinbarabash opened #1000 "warn first when deprecating commands before removing?"
There's been a couple of diffs to fix issues where we had the wrong name for a command.  I wonder if maybe we could continue to allow users to use the old command but issue a `console.warn`ing and then in the next minor release (since we're still pre-1.0) actually remove the incorrect command.

[2017-11-28 04:53] kevinbarabash opened #1001 "cache node_modules on travis-ci"
Currently `npm install` takes about 25 seconds.  Caching `node_modules` should be able to save some of that time.  See https://blog.travis-ci.com/2016-05-03-caches-are-coming-to-everyone for details.

[2017-11-28 05:42] #1001 closed

[2017-11-28 06:48] Jenyay commented on #996
@kevinbarabash Yes, I load KaTeX in embedded WebKit. I use wxPython 3.0.2 which uses WebKitGTK+ inside.

Here HTML code
![html](https://user-images.githubusercontent.com/166281/33305939-45dc9064-d421-11e7-8153-1390311741a5.png)

[2017-11-28 06:49] Jenyay commented on #996
@edemaine
![vectors](https://user-images.githubusercontent.com/166281/33305977-6fb42ed8-d421-11e7-94c6-c556457174a3.png)

[2017-11-28 07:28] akalin commented on #824
I hate to say it, but it looks like `0.9.0-alpha2` regresses. :( See https://rawgit.com/akalin/60e78169d60908f8111652540f427607/raw/fd7f91f08774a70185c003b8b29f144fb4b65d52/test-0.9.0-alpha2.html , which looks like this to me:
<img width="351" alt="screen shot 2017-11-27 at 11 28 30 pm" src="https://user-images.githubusercontent.com/425576/33307246-b3b6854c-d3ca-11e7-990a-98edc4c924f7.png">

[2017-11-28 07:31] akalin commented on #970
Not sure if 0.9.0-alpha2 is supposed to fix this too, but https://rawgit.com/akalin/cc8023a41d1fc1cd0250bc50d122680f/raw/e7b2ba03faa7b28b93951dc21402fc5ab443f0eb/test-0.9.0-alpha2.html is a test file that behaves the same way as 0.9.0-alpha1.

[2017-11-28 12:25] #816 closed

[2017-11-29 02:02] ronkok commented on #824
Well, that's discouraging. We've had a couple other reports that `0.9.0-alpha2` provided some benefit. I myself have not had any lines disappear on my screen, but I have seen two that are narrower than they were before `0.9.0-alpha2`. So returns are mixed.

@kevinbarabash I think it is time for a belt-and-suspenders approach. Both a border and a full-height span colored by an SVG. They can coexist

[2017-11-29 02:33] ronkok commented on #1000
That's probably wise, although I'm not sure it's worth the trouble for something as obscure as `\utilde` or `\xlongequal`. Perhaps I just wish that to be true because both were my mistakes.

But I am having second thoughts about `\rlap` and `\llap`.  I realize that both are supposed to be functions for text mode, but sometimes they do work in math mode! You can write `\(\rlap{\,/}{=}\)` and it wil

[2017-11-29 03:04] kevinbarabash commented on #824
<img width="423" alt="screen shot 2017-11-28 at 9 49 40 pm" src="https://user-images.githubusercontent.com/1044413/33355889-76bf4b7a-d487-11e7-8917-92c99eba6d0b.png">

The above rendering is from Safari.  The height for each of the fraction lines is the same, the problem (I think), is that we're control the height the fraction line using the enclosing span.  My guess is that the browser tries to q

[2017-11-29 03:24] ronkok commented on #824
@kevinbarabash Your proposal makes a lot of sense. When I was working on PR #670, I found that I had much finer control over SVG geometry than I did over span geometry.

Of course, this means that we'll have to write SVG path geometry on the fly instead of just using `overflow: hidden;` to control line thickness. There might be a tiny performance hit.

I'll write up a PR. This may take a few days.

[2017-11-29 03:33] ronkok commented on #824
@akalin If we follow through on @kevinbarabash's proposal, we'll have frac-lines that act like the top lines in square root radicals (as of release 0.8.3). If you see any of those disappear, please let me know.

[2017-11-29 03:33] kevinbarabash commented on #1000
Probably best think about deprecation on a case-by-case basis.  As for making KaTeX more permissive than LaTeX, I think that core-KaTeX should strive to emulate LaTeX's behavior as much as possible.  While I think most people using KaTeX to bring existing LaTeX content online, there may be some who are starting out with content they've created in KaTeX and inserting it into a LaTeX document.  For

[2017-11-29 03:48] kevinbarabash opened #1003 "conditional support in macros"
Add support for `\if`, `\fi`, `\ifx`, `\else`, `\ifmmode`.  Not sure what other conditionals may be useful.

[2017-11-29 03:49] kevinbarabash commented on #1003
We already have some conditionals thanks to @edemaine in #975.  In particular `\@firstoftwo`, `\@ifstar`, and `\@ifnextchar` were added.  Maybe we should also add `\@secondoftwo` as well.

[2017-11-29 03:51] kevinbarabash commented on #1003
The goal here is to provide a solid base of macro support so that people can extend KaTeX functionality by using existing macros with minor or no modification from existing packages (or their own personal macros).

[2017-11-30 00:31] santhosh-tekuri commented on #267
+1

[2017-12-01 11:08] cjh9 commented on #800
@edemaine Sorry for late response, yes that would be awesome if they could be exposed in the distribution! In what format would  __buildHTML return the tree, in real HTML-nodes or more light-weight Json format?  Only the later seem to integrate well with webworkers..

[2017-12-03 00:04] hagenw commented on #327
In principle the proposed css resolution works. I'm using the following at the moment:
[code]
But it can lead to some unwanted consequences.
Normal screen size:
![normal](https://user-images.githubusercontent.com/173624/33520978-221da48e-d7bd-11e7-9406-b6da8363bfe0.png)
Small screen size with overflow scrolling:
![responsive](https://user-images.githubusercontent.com/173624/33520993-7cb1c5c4-d7bd-

[2017-12-03 18:40] edemaine commented on #327
@hagenw That's more likely to do with #824.

[2017-12-04 03:21] nyiuang opened #1007 "\begin{align} not support"
I want to use KaTex instead Mathjax, but the existed formula contain \begin{align}, it cannot render with KaTex

[2017-12-04 05:19] edemaine commented on #1007
You can use `\begin{aligned}` within math mode. Does this suit your purpose?

[2017-12-04 06:29] nyiuang commented on #1007
@edemaine  the formulas has already exist in database, should I use RegExp to covert align to aligned?

[2017-12-04 14:27] edemaine commented on #1007
If the formulas are already supposed to be in math mode, then you should be using `aligned` instead of `align`.  Yes, a regex would work.

If you have `\begin{align} ... \end{align}` at the text level, i.e., instead of `\[ ... \]` or something similar, then that is at least correct at the LaTeX level, and you're really looking for a solution to #604. Until that time, a regex replacing `\begin{alig

[2017-12-04 14:40] muzimuzhi commented on #977
Just to provide a more detailed doc about "custom environments". See Sec. 12.6 of [_LaTeX2e: An unofficial reference manual_](http://mirrors.concertpass.com/tex-archive/info/latex2e-help-texinfo/latex2e.html#g_t_005cnewenvironment-_0026-_005crenewenvironment)

[2017-12-04 17:49] aaumar opened #1008 "\underline not working with '&'"
I have a chemistry equation that need to use underline the whole equation. But I don't get it work when it passes '&' function. any suggestion?

[2017-12-04 18:36] edemaine commented on #1008
@aaumar Could you provide a complete example of a formula that doesn't work?

[2017-12-05 00:50] aaumar commented on #1008
here it is
`[%\begin{array}/Cr_2O_7^{-2}+14H^++6e&\rightarrow 2Cr^{3+}+7H_2O &\,|\times 1\\\ \underline{AsO_3^{3-}+H_2O &\rightarrow AsO_4^{3-}+2H^++2e} &\, |\times 3 \\\  Cr_2O_7^{-2}+3AsO_3^{3-}+8H^+&\rightarrow 2Cr^{3+}+3AsO_4^{3-}+4H_2O\end{array}%]`

[2017-12-05 00:59] edemaine commented on #1008
@aaumar I'm guessing you meant to have arguments on the array, like
[code]
This code is invalid LaTeX.  I just checked, and LaTeX gives an error of `! Extra alignment tab`.  Why is complicated (it has to do with the definition of `&`), but this is why it doesn't work in KaTeX too.

I'm guessing you want to underline those two columns (including the space between them, otherwise you could `\underli

[2017-12-05 00:59] #1008 closed

[2017-12-05 06:12] nyiuang commented on #1007
thanks，and one more question: in #604 I see the solution to "align",and are there some other risk of  incompatible formulas grammar between latex and katex ?

[2017-12-05 16:38] rrandallcainc opened #1010 "Supporting Custom Fonts"
This may be a silly question, but I'm curious if Latex could support custom fonts.

In other words, let's say I wanted to use "Times new Roman".

I'm guessing the font won't support all the characters necessary for something as extensive as Latex, but would it be able to support a subset and then fallback on the one's that it may be missing?

If so, what's required to test it out?
If not, why?

I'

[2017-12-05 18:16] rrandallcainc commented on #376
I love the idea of having a "minimal intermediate representation". What's the status on this? What can I do to help?

[2017-12-05 18:34] rrandallcainc commented on #983
Are you able to import Katex?

You should be able to solve this by changing the import to a require. Note: this only needs to be done for the entry point (not anything downstream).

[2017-12-06 03:44] kevinbarabash commented on #376
@rrandallcainc my rough roadmap for an IR would be:
- finish adding flow types
- finish moving functions in functions/ folder
- simplify the parse tree
- add intermediate representation

While not all of the steps are strictly necessary I think they will improve our chances of success.  The first two items are in progress changes that are modifying lots of files/code so it would be nice to finish

[2017-12-06 21:35] aterenin opened #1012 "An idea for responsive display style equations"
One of the difficulties with designing responsive math is that it is a priori unclear how to resize or break a user's equation if it is too wide to display on mobile devices.

I propose to handle this by allowing use of the TeX hyphenation macro `\-`. It would work as follows.

- A user may use the `\-` command once per line in a display style equation.
- If the equation is too large, everything a

[2017-12-06 22:30] edemaine commented on #1012
I'd rather do something fully LaTeX compatible.  According to [this](https://tex.stackexchange.com/questions/4240/does-amsmath-provide-any-medium-to-auto-break-equations), there seem to be two main packages for automatic line breaking of equations:
* [breqn](https://ctan.org/pkg/breqn)
* [autobreak](https://www.ctan.org/pkg/autobreak)
The autobreak package sounds similar to your solution, in that

[2017-12-07 18:04] aterenin commented on #1012
I'm not familiar with either of those packages, but `autobreak` seems like it would work well. Its behavior is very much like the idea above, except that it treats newlines as break candidates, and requires breakable math to be wrapped in `\begin{autobreak}`. This seems like it would be a good addition in my view.

[2017-12-07 21:41] edemaine commented on #1012
I looked more closely at both and agree with your assessment. `autobreak` seems relatively clean in design (though I'm still a little confused how it interacts with arrays) and hopefully not too hard to implement. I'm a little surprised that there isn't a way to automatically wrap all display math in `\begin{autobreak}`, but this does give more control (especially as relates to arrays).

[2017-12-08 03:11] kevinbarabash opened #1013 "Better documentation and dev UX for snapshot testing"
Talk about snapshot testing in CONTRIBUTING.md:
- how it works
- when to use it
- how to use

Add a `update-snapshots` command to `package.json` so that it's easy to update the snapshots when necessary.

[2017-12-08 11:11] pazz opened #1014 "using the katex plugin from a web source?"
Hi, sorry this is a bit of a novice question and I couldn't find an IRC channel for reveal.js..

How would I use the katex plugin without a local checkout? I mean refering to the script source on the web? In your README you mention to use these lines.

[code]

I presume that this goes below the head section in the html document, yes?
Do I then need to initialize the plugin somewhere?
Just adding t

[2017-12-08 14:09] edemaine commented on #1014
Yes, those go within `<head>`. To then autorender math in your HTML, you'll want to also include the KaTeX autorender script and call it, as described in the autorender documentation. Let us know if you have trouble.

[2017-12-08 19:35] #1010 closed

[2017-12-08 20:27] pazz commented on #1014
exactly what I was missing. Thanks a lot for your quick response!

[2017-12-08 20:27] #1014 closed

[2017-12-08 23:26] kevinbarabash commented on #1010
@rrandallcainc it is possible, but the current workflow doesn't support it.  The mapping.pl assumes that the fonts are set up like standard TeX fonts as opposed to a regular TTF you might find somewhere else.

[2017-12-10 05:36] utkarshrai commented on #305
Hi, This is currently the only issue labeled "good first issue". I would like to take this. Thinking of adding few popular names in the main ReadMe and add a link to a gist containing all the other names.

[2017-12-10 15:07] willymcallister commented on #305
Please include spinningnumbers.org.

[2017-12-11 00:45] kevinbarabash opened #1016 "Add size badge"
https://github.com/ngryman/badge-size

We'd want to show both minified and gzipped size.

[2017-12-11 00:52] kevinbarabash commented on #130
This is no longer block as #816 has been completed.

[2017-12-11 01:05] kevinbarabash commented on #525
@nefedor I'm going to close this.  Please a new issue for specific commands (or groups of related commands) that aren't currently supported and don't have an existing issue.

[2017-12-11 01:05] #525 closed

[2017-12-11 14:04] edemaine commented on #800
@cjh9 This is now available in the master branch, thanks to #1017. The nodes are returned in a custom nested Javascript data structure (objects containing children array fields). Hope that helps!

[2017-12-12 19:55] edemaine opened #2864 "Missing (text) accent characters"
According to [this list of LaTeX text-mode accents](https://tex.stackexchange.com/tags/accents/info), we're missing support for the following commands, mainly because we lack the font glyphs:
* [ ] `\t` (tie-after accent): a͡
* [ ] `\c` (cedilla): ş
* [ ] `\cb` (comma below): ȘșȚț
* [ ] `\d` (dot-under accent): ạ
* [ ] `\b` (bar-under accent): ο̩
* [ ] `\k` (ogonek): ą

I believe we support all th

[2017-12-12 20:30] edemaine commented on #967
I created #1020 to document this approach in the README.

[2017-12-12 20:32] edemaine commented on #906
Closing this barring further information. Let us know the result of upgrading to Qt 5.

[2017-12-12 20:32] #906 closed

[2017-12-12 20:35] edemaine commented on #895
FYI, PR #992 adds support for CJK characters in math mode.  We're still resolving some accent-related issues there.  If they don't get resolved soon (or the PR gets rejected), I could split off the CJK-in-math-mode part into a separate PR.

[2017-12-12 22:35] kevinbarabash commented on #1003
All functions as macros sounds like a big change, but it would make things more regular.  Are there any other macro abilities a change like this would enable beyond allowing us to implement `\TextOrMath`?

[2017-12-12 22:40] edemaine commented on #1003
Conditionals that involve changing things might be hard to get correct without more exactly matching LaTeX semantics.

Reviewing some older issues, I noticed that #924 is a (probably minor?) bug that probably can't be fixed without changing functions into macros.

In general, I believe it's all in the subtle details.  But makes it harder to implement certain functionality as macros.

[2017-12-13 02:44] kevinbarabash opened #1021 "Extract toParseLike, etc. into a test-util.js file so they can be shared between suites"

[2017-12-13 03:08] kevinbarabash commented on #1003
Cool.  We should probably make this change at some point.  I think we should finishing add flow types to Parser.js and extracting functions into the `functions/` folder before starting this.  I'm not sure how we'd do this though.  Macros are all about modifying which tokens get sent to the parser.  We still need to define handlers to transform those tokens to into chunks of the parse tree.  How do

[2017-12-13 03:58] cjh9 commented on #800
@edemaine Super great! 🎉  And it is also serializable to JSON :) Would it also be possible to expose __bulidTreeHTML if I don't need MathML? Not super important though I can work around It :)

[2017-12-13 04:07] rrandallcainc commented on #800
@cjh9 I'm guessing you already know this, but you should be able to leverage buildTreeHTML via the buildTree. Would that work? Exposing just the HTML would probably require extracting some of the default options (i.e. https://github.com/Khan/KaTeX/blob/master/src/buildTree.js#L19)

[2017-12-13 14:10] #676 closed

[2017-12-13 14:11] #633 closed

[2017-12-13 14:11] #585 closed

[2017-12-14 03:01] williamstein commented on #392
I just did a quick test at https://khan.github.io/KaTeX/ and it looks liek $\oint$ is now supported.  Can somebody close this issue.

[2017-12-14 03:07] kevinbarabash commented on #392
@williamstein this issue is about `\oiint` which is different from `\oint`.

[2017-12-14 06:39] bshlgrs commented on #321
For what it's worth, I would find \class (or \cssId) extremely helpful for what I'm working on. It appears that there have been a whole lot of PRs trying to fix this issue, but none of them have been merged.

[2017-12-14 12:32] rrandallcainc commented on #90
@kevinbarabash How do we feel about bringing this back from the dead?

I know there's a few people who are looking for it.

If you're okay with the concept, I can see what I can about the implementation.

[2017-12-14 12:33] rrandallcainc commented on #321
@bshlgrs See https://github.com/Khan/KaTeX/issues/90. I'm gonna see if we can get this going again

[2017-12-14 13:52] kevinbarabash commented on #90
@rrandallcainc since this is non-standard it should probably go in contrib/.  In order to do that though, we need a way to add functions from outside of KaTeX core.  You could expose `defineFunction` as `__defineFunction`.  There should also be automated tests for this so that we can catch any changes to `defineFunction` that break these commands in contrib/.

[2017-12-14 14:27] edemaine commented on #392
It looks like KaTeX supports `\int`, `\iint`, `\iiint`, `\oint`, but no variations with more `i`s.  They are all implemented as symbols in the font.  I checked [esint](http://mirror.hmc.edu/ctan/macros/latex/contrib/esint/esint.pdf) which implements `\oiint`, and it also uses symbols in a font.  So I think to address this we would need to add symbols via [the fonts repo](https://github.com/KaTeX/k

[2017-12-14 14:31] edemaine commented on #800
I think pure HTML export makes sense when you're rendering it in a custom way (e.g. SVG), as you're unlikely to also be able to include MathML in that setting.  I could see either
1. factoring out the `Settings` to `Options` conversion in `buildTree` so that we can write a new `buildHTMLTree`, or
2. adding an option in `Settings` to prevent MathML creation.

Thoughts?

[2017-12-14 14:42] edemaine commented on #1003
@kevinbarabash I've admittedly never dug this deep, but I believe the answer is that there are some commands which are not truly macros -- they have side-effects -- in particular one called `\output` that sends stuff to the DVI/PDF output file.

Thinking more, there does seem to be a real difference between `\frac`, whose arguments *must* be complete expressions, and `\TextOrMath` or other conditi

[2017-12-14 15:25] rrandallcainc commented on #800
Hmm, I think #1 sounds good. My concern with #2 is how that would affect items downstream (i.e. the buildTree). Perhaps I don't understand it well enough though.

[2017-12-14 15:45] kevinbarabash commented on #1003
I definitely think that `Parser` should be telling `MacroExpander` what mode we're in.

[2017-12-16 05:16] #1012 closed

[2017-12-16 05:29] aterenin opened #1023 "Autobreak package for responsive equations"
After some discussion in #1012, @edemaine suggested implementing the [autobreak](https://ctan.org/pkg/autobreak) package to allow equations to be made responsive. This LaTeX package allows equations to break lines automatically if they are too wide for their environment by having the user define breakable points in their formula by adding a newline between non-breakable components. So, for example

[2017-12-16 14:34] edemaine commented on #1023
I'd suggest that a good starting point would be to do an example, like the one above, and see how you could tweak the CSS to get it to render as desired.  I think the main change is that something at the top level needs to be something other than `display: block`, and the lines need to be assembled into `display: block`...

`autobreak` seems to work in each cell of an `aligned` environment.  Proba

[2017-12-17 17:31] kevinbarabash opened #2865 "Add non-combining glyph for \vec and \H accents"
Safari has issues with placing combining glyphs in the right spot and it's easier to do it manually with non-combining accents.

[2017-12-17 18:09] aterenin commented on #1023
Automatic line breaking for inline math is I think a separate issue. Most inline math that I've seen - both online and in journals - is not very long, because authors will typically use display style for a sufficiently large equation.

The behavior of `autobreak` is almost the same as flexbox. The main difference is that that after a linebreak, new lines begin at the end of the first line in the e

[2017-12-17 19:12] edemaine commented on #327
LaTeX supports automatic line breaking *for inline math*.  Here are some experiments:

[code]

![line break demo](https://user-images.githubusercontent.com/2218736/34071511-3ef1ef56-e245-11e7-8bc5-ed9442c4a927.png)

In my opinion, this aspect would be super useful, and is might be what was originally requested.  We should try to implement it, with proper line breaking rules (only after ops?).

[2017-12-17 19:13] edemaine commented on #1023
@aterenin Sounds great!  Let's leave the inline case to #327 then.

One thing: given that KaTeX doesn't support `\begin{align} ... \end{align}` -- I generally recommend replacing it with `$$\begin{aligned} ... \end{aligned}$$` -- it would be nice if `autobreak` could work within `aligned`, in the simple ways you mention.  But maybe that's a second goal, not the first.  KaTeX's array code probably

[2017-12-17 19:53] aterenin commented on #1023
I think that's acceptable, since KaTeX does not support the `align` environment, though this does deviate from LaTeX behavior. Maybe that can change later if `align`/`align*` is added to KaTeX - I'm not sure why we don't just allow it inside `$$`, since this is what MathJax does.

I should look at the array code to better understand what we're looking at.

[2017-12-18 06:32] #1007 closed

[2017-12-18 21:13] rah4927 commented on #979
@edemaine https://www.expii.com/t/lines-and-slopes-400
Here's a link. If you got to the bottom of the page and change the language to Bangla (it's the second one from the top, right under **English**), you'll find an article that's written in Bangla. Just underneath the picture, you should be able to see some unicode errors inside latex (in the numerator and denominator of a fraction). You can try

[2017-12-18 21:31] edemaine commented on #979
@rah4927 Thanks for the link. If you inspect the resulting elements, you can confirm that the Bangla rendering is via MathJax. The English version is rendered via KaTeX. Do you know why?

[2017-12-19 13:31] edemaine commented on #800
@cjh9 The master branch now has (via #1022) `__renderToHTMLTree` that outputs just the HTML part. Also, we renamed the method you were using to `__renderToDomTree` for more consistent naming. Hope this helps!

[2017-12-19 14:45] konn opened #1026 "`\hspace` adds an extra space outside the math in some environments"
Using `\hspace` adds an extra space *outside*, right after the end of math.

Consider the following:

[code]

Then, Firefox renders it as expected:

<img width="263" alt="2017-12-19 23 43 11" src="https://user-images.githubusercontent.com/21860/34162267-737ffdb6-e516-11e7-86f3-6e0ba05eba17.png">

But in Safari, an extra space occurs right after the math:

<img width="244" alt="2017-12-19 23 42 13"

[2017-12-19 15:23] edemaine commented on #1026
This is the same issue as #836. Unfortunately, we haven't been able to find a good fix yet. Let us know if you come up with some ideas...

[2017-12-19 15:23] #1026 closed

[2017-12-22 15:06] edemaine opened #1027 "Single-symbol macro arguments"
PR #1024 added support for detecting text or math mode (e.g. via `\TextOrMath`) within a macro, not just in the parser.  There is one edge case that doesn't work yet: in a function's argument that has a specified argument type (`math` or `text`) and when that argument is given by a single-symbol macro.

For example, `test/katex-spec.js` has a commented-out test that should work but doesn't:
[code]

[2017-12-22 15:45] edemaine opened #1028 "\ddot\imath is too wide"
`\ddot\imath` should render `ï` with the width of an `i`, not the width of the umlaut accent.  I think the fix would be to render the accent with style `width:0px`, but then we need to fix the horizontal offset to be half the width of the accent character.  So I believe this depends on #587 / #632 to add the width of characters (specifically the accent characters) to `fontMetricsData.js`.

[2017-12-22 19:14] kevinbarabash commented on #1028
Once #1030 gets merged I'll open a PR to add horizontal metrics.

[2017-12-22 19:33] edemaine opened #1031 "test helpers"
As discussed previously with @kevinbarabash, we should move the helper functions in `katex-spec.js` like `toParse`, `toNotParse`, and `toParseLike` into a common module shared by all test modules.

I'd also like to suggest a `toBuildLike` which compares the HTML outputs.  I think we do this in various places by manually calling `getBuilt` twice and comparing.

[2017-12-22 19:38] kevinbarabash commented on #1031
I really like the `toBuildLike` suggestion.

[2017-12-25 04:55] HarrisonB commented on #983
Gotcha. I was incorrect to assume that `katex/contrib/auto-render` was `import`/`require`-able. Thanks for clarifying @edemaine.

I am able to `import 'katex'` just fine, @rrandallcainc. Thank you for asking :)

I'm a bit of a JS package novice, but it doesn't that `katex/contrib/auto-render` is too far from being importable (though I imagine maintaining compatibility as a constraint complicates t

[2017-12-25 18:48] #1028 closed

[2017-12-25 22:41] kevinbarabash opened #1035 "Add a toggle to the test page to toggle displayMode option"

[2017-12-25 22:46] kevinbarabash opened #1036 "Use different width space characters for different size spaces in MathML"
http://jkorpela.fi/chars/spaces.html contains a list of difference size spaces.  We'll want to figure out which map to `\,`, `\;`, `\:`, etc.

[2017-12-25 23:03] edemaine commented on #1036
Don't we already support those commands? We have CSS margin-left rules to implement them.

[2017-12-25 23:10] kevinbarabash commented on #1036
In #887 I add some code to handle `\,` (0.16667em):
[code]

[2017-12-26 23:54] rrandallcainc opened #1038 "Nested Math with Non Default Text results in an Error"
Example: `\textsf{Hello $a+b$}` results in an error.

Expected result: `\textsf{Hello $a+b$}` should render the `a+b` with the default Math font.

[2017-12-27 00:11] #111 closed

[2017-12-27 00:27] kevinbarabash commented on #1038
@rrandallcainc it should use the default math style.  pdflatex renders the following:
<img width="453" alt="screen shot 2017-12-26 at 5 24 15 pm" src="https://user-images.githubusercontent.com/1044413/34366999-ba4cc9f4-ea61-11e7-9a1e-789b57922d59.png">

The error shows up on `master`, but not on the demo page.  The error is:
[code]

[2017-12-27 00:37] kevinbarabash commented on #1038
I swapped out `\textbf` for `\textsf` in the screenshot above.

[2017-12-27 00:45] rrandallcainc commented on #1038
Okay. I see the issue. I can implement a fix, but I'd be curious if there's a better way. Ideally I'd like to reset all font options when entering math mode. Could you think of a place where that could be implemented?

[2017-12-27 02:06] kevinbarabash commented on #1038
@rrandallcainc you could probably add a `withMathMode` method to `Options` that resets everything.

[2017-12-27 02:59] nyiuang opened #1039 "fracline and sqrt line missing when fontsize change"
![image](https://user-images.githubusercontent.com/11516438/34369180-c80bc480-eaf4-11e7-9aab-5a5f1d3de23c.png)

version: 0.9.0-alpha2
OS: macOS10.12.6
browser: chrome
example: \dfrac{a}{ \sin A}=\dfrac{b}{ \sin B}=\dfrac{c}{ \sin C}

[2017-12-27 03:14] kevinbarabash commented on #1039
I don't even see the sqrt symbol.  @nyiuang can you link to a page with this and provide more details about what font size is causing the issue?  Please note that #1025 was merged recently and should fix the issue with the disappearing fraction lines.

[2017-12-27 03:47] rrandallcainc commented on #376
@kevinbarabash Just curious, why does `mathml` not count as an intermediate representation? It's pretty well standardized.

[2017-12-27 06:34] nyiuang commented on #1039
sqrt line missing:
20px:
![image](https://user-images.githubusercontent.com/11516438/34372827-4e2a9dda-eb12-11e7-8ccb-8267d89f1081.png)
21px:
![image](https://user-images.githubusercontent.com/11516438/34372852-73ee4832-eb12-11e7-86a1-544cffeedb44.png)
22px:
![image](https://user-images.githubusercontent.com/11516438/34372857-82a8ec24-eb12-11e7-9b51-6c8aefeddd25.png)

examples: \because a-b=\sqrt{

[2017-12-27 16:37] edemaine commented on #1038
Nice find. Be sure to add a test for this too!

[2017-12-27 17:22] #967 closed

[2017-12-27 17:34] kevinbarabash commented on #1039
I'm also running MacOS 10.12.6.  I wasn't able to reproduce the issue with either \dfrac or \sqrt in Chrome on `master`.

[2017-12-27 17:36] ylemkimon commented on #762
Wouldn't it be enough to import and use functions from main KaTeX source?

[2017-12-27 17:53] kevinbarabash commented on #376
@rrandallcainc I hadn't thought about it, but I suppose it could.  As long as it has all the information needed to render to HTML and Canvas it should work.

[2017-12-27 17:55] kevinbarabash commented on #762
@ylemkimon we're working on refactoring things so that functions are defined by a single function, `defineFunction`, see https://github.com/Khan/KaTeX/blob/master/src/defineFunction.js.

[2017-12-27 18:17] ylemkimon commented on #762
But it still seems to need functions like  `buildExpression`, `buildCommon.makeFragment`, `buildCommon.makeSpan`, etc. And I was thinking rather than exposing them to the public API, a plugin can import them from the source and be built with KaTeX.

[2017-12-27 18:20] kevinbarabash commented on #762
@ylemkimon if they aren't exposed via the public API won't the plugin have to include all of KaTeX?

[2017-12-28 20:04] reece8765 opened #1042 "File Uploads on iOS"
File uploads on iOS do not work. When trying to upload files, nothing happens - though I'd raise this for you guys. Details: iOS 11, Web browser is Safari, also tried this on Google Chrome for iOS

[2017-12-28 21:24] edemaine opened #1043 "xelatex in texcmp"
`texcmp` should either
1. switch from `pdflatex` to `xelatex` (if we decide it's sufficiently backward-compatible), or
2. allow `xelatex` as an option (triggered by a "unicode" option in `ss_data.yaml`).

I'm not very familiar with `xelatex` (so I'm not sure about backward compatibility), but my impression is that's the only way to get Unicode support in LaTeX.  We'd also need to add `\usepackage{

[2017-12-28 21:28] edemaine commented on #1042
KaTeX does not offer implement any kind of upload support; it's just a rendering engine.  Perhaps this would be better posted in another forum, though without further context I'm not sure where to redirect you.  Where are you trying to upload files?

[2017-12-28 21:28] #1042 closed

[2017-12-28 21:29] reece8765 commented on #1042
Ah, I may be on the wrong page then, I'll go elsewhere, please ignore this issue

[2017-12-29 04:14] aterenin commented on #977
Was this ever implemented? The README says that it is possible to map `align` to `aligned`, but I can't find a way to actually do this.

[2017-12-29 06:03] #995 closed

[2017-12-29 06:25] kevinbarabash commented on #376
@rrandallcainc I did some more thinking about this and one of the things we'd like to encode in the IR is visual layout of things, e.g. vertical spacing for fractions.  That information would then be used by different renderers for HTML, SVG, and Canvas to produce renderings that look more or less the same.   In this respect, MathML isn't a good fit.

[2017-12-29 06:26] kevinbarabash commented on #977
@aterenin good catch.  I should not have included that suggestion without trying it out first.

[2017-12-29 06:28] kevinbarabash commented on #1043
I like the idea of using `xelatex` as option.

[2017-12-29 06:32] #801 closed

[2017-12-29 16:09] edemaine opened #1045 "Accent crushing for capital letters"
A minor rendering difference: Accent characters (at least grave, acute, and circumflex accents) seem to be squished a bit by LaTeX (but not in KaTeX), as shown in the following texcmp:

![texcmp](https://user-images.githubusercontent.com/2218736/34424032-5a1d64ba-ebee-11e7-8a90-b3d8f188e0ce.png)

How is this done in LaTeX?  Is it another font symbol?  Presumably part of `\DeclareTextAccentDefault{

[2017-12-29 16:41] edemaine commented on #15
I believe we can safely close this old issue. We now support a lot of Unicode, especially in text mode. Any specific missing features should open a new issue.

[2017-12-29 16:41] #15 closed

[2017-12-29 16:45] edemaine opened #1046 "Unicode text characters in math mode"
#992 added support for e.g. `é` in both math and text mode, mapping to `\acute{e}` and `\'e` respectively.   This felt natural to me... but I haven't been able to reproduce this behavior (specifically, the math-mode behavior) in LaTeX.  I'm compiling the following with `xelatex`, and only the text line is rendering:

[code]

I may be missing some packages though.  If this is really the state of Xe

[2017-12-29 17:29] kevinbarabash commented on #1046
https://tex.stackexchange.com/questions/270154/utf-8-characters-in-math-mode describes a way to allow unicode chars in math mode, but it's definitely non-standard.

[2017-12-29 18:26] #892 closed

[2017-12-30 05:36] ylemkimon commented on #762
I thought only a small portions of KaTeX is required, but it turns out that most of it is needed. Maybe use a module loader?

[2017-12-30 17:01] keithpjolley opened #1049 "autorender README.md examples don't work."
[code]
gives a `ReferenceError: katex is not defined` error in the console.

In the `index.html` example file, which doesn't use the CDN, it also shows `<script src="/katex.js" type="text/javascript"></script>` which gave the hint of what's missing from README.md:
[code]
I think adding this would make it easier for newbies such as myself to get auto-render working more quickly.
Thanks - Keith

[2017-12-30 18:05] edemaine commented on #1049
Good point! This does make it difficult to get started using KaTeX; I've definitely wanted a copy/pastable complete example for this purpose before myself. I've created #1050 as a first stab at this. Would you like to take a look and see if that would have helped you?

[2017-12-30 18:49] keithpjolley commented on #1049
Yes, that would do it. Everything but that little bit was "cut and paste" to get to work.
Thank you!

[2017-12-30 19:05] edemaine commented on #893
Reopening until second PR lands.

[2017-12-30 19:06] kevinbarabash commented on #893
Thanks.  I didn't realize that commits to other repos could automatically close issues.

[2017-12-30 19:15] #893 closed

[2017-12-30 20:41] kevinbarabash commented on #376
I was thinking about this a bit more.  I think the following data flow might make sense:
[code]
To actually make this happen the IR should have the following objects:
- `VList`s
- `HList`s
- `Rule`s
- `Glyph`s
- `Glue`
- `Path`s (TeX doesn't have this, but based on how we render stretchy accents, square roots, etc. we need something to model those)

To actually start moving towards having an IR, w

[2017-12-31 07:11] spontaliku-softaria commented on #376
I believe synchronous rendering is the feature which makes Katex possible to use in an editor. If you want to make some parts of rendering programmatic, please don't lose that. Also, there is at least one counter example to programmatic rendering of Tex - Mathquill which is a mess internally.

[2017-12-31 16:52] kevinbarabash commented on #376
@spontaliku-softaria rendering is already programmatic.  The only thing that would change is which styles are being applied to atoms.  Also, the renderer would have to look at adjacent atoms to decide which styles to apply.  We definitely want to maintain KaTeX's ability to do server side rendering and to `renderToString()`.

This could be implemented by adding a step to `buildExpression()` in bui

[2017-12-31 17:16] edemaine commented on #376
I've definitely found the CSS solutions a bit hacky. It's impressive what they've been able to do, but e.g. it led to the bug #995 (now fixed by a workaround).  Adding styles to the elements would feel closer to LaTeX, and it's still server-side/synchronous.  And it would enable the user to override things like `\thinmuskip`, which is possible in TeX but impossible in KaTeX (you can't override the

[2017-12-31 18:59] ronkok opened #1052 "Trouble with fonts in local build due to symlink"
I am testing some work in a local node server version of KaTeX, from localhost 7936 as described in the Contributing to KaTeX page.  I have a couple of problems:

(1) Several fonts are not available. The console warnings read `Failed to load resource: the server responded with a status of 404 (Not Found)`.

(2) I cannot re-create the stacked sans-serif work from PR #1009. Instead, I get:

![sansse

[2017-12-31 22:05] edemaine commented on #1052
@ronkok I have a theory: the `static/fonts -> ../submodules/katex-fonts/fonts` symlink isn't working on Windows.  Can you confirm that you're on Windows?  Can you check what `static/fonts` looks like?

[2017-12-31 22:10] kevinbarabash opened #1053 "Write a performance test harness and test suite"
We should have some way of measuring changes in performance in KaTeX.  To start I think it's enough to test the performance of `renderToString()` with difference TeX strings, maybe the ones in `ss_data.yaml`.  https://benchmarkjs.com looks like a good tool to use for this purpose so that the results are somewhat consistent (at least on the same machine).

[2017-12-31 22:14] kevinbarabash commented on #376
I did some experimentation on this a while back.  See https://github.com/KaTeX/katex-ir.  It was based on the approach presented in https://people.eecs.berkeley.edu/~fateman/temp/neuform.pdf which also includes a `Box` object whose type can be either `HBox` or `VBox`.  It wraps `HList` and `VList` respectively along with adding additional information about the `height`, `depth` and `width` of the

[2017-12-31 22:23] kevinbarabash commented on #1052
If that's the case, we can change the `katex-fonts` submodule to live at `fonts`.

[2018-01-01 00:01] #1049 closed

[2018-01-01 01:31] nickkolok opened #1055 "Error when trying to display formula with `\eqno`"
Greetings from Russia, comrads!

It is impossible to render any formula with `\eqno` command, e.g.
[code]
An error occures.
I understand that `\eqno` is a command which is rather useful in whole-LaTeX articles than in HTML, but sometimes I need to render formulas with it in HTML.

More generally, is there a way to define a custom tag?
[code]
(it would be enough for me).
More precisely: is #37 bein

[2018-01-01 01:31] ronkok commented on #1052
Yes, I am on Windows.

`static/fonts` is a file with no extension that contains the text `../submodules/katex-fonts/fonts`

One would think that ought to work. It certainly points to a folder that contains all the needed font files.  But sad experience says that it does not work.

[2018-01-01 02:21] ylemkimon commented on #1052
On Windows, Git symlink does not work. You have to manually create a symlink by `mklink /D static\fonts submodules\katex-fonts\fonts`.

[2018-01-01 02:41] ronkok commented on #1052
@ylemkimon, thank you for the information. A web search also brought up the discussion at: https://stackoverflow.com/questions/5917249/git-symlinks-in-windows#16754068

It all looks quite complex. I like the suggestion from @kevinbarabash.  Something that does not involve a symlink.

[2018-01-01 03:09] kevinbarabash commented on #1052
Cool.  I'll add a `katex-fonts` folder at the root level which will contain the `katex-fonts` repo as a submodule.  I'll need to changes all the places where we reference `static/fonts` to reference `katex-fonts/fonts` and we should be okay.

[2018-01-01 03:14] ronkok commented on #1052
@kevinbarabash, thanks. There's no rush. At least a week will go by before I can spend much time on KaTeX.

[2018-01-01 15:27] edemaine commented on #1052
@kevinbarabash Sounds like a good plan. The symlink was convenient for not changing old paths, but shouldn't be necessary, so let's avoid them.

[2018-01-03 14:06] edemaine commented on #1055
I believe `\eqno` is the TeX analog to LaTeX `\tag`, previously requested in #899. I've done some work on it, but it's not ready yet. If you have some feedback on the approaches listed there, I'd appreciate it.

Yes, you can define macros, as described in the README.  For example, you could specify `{"\\eqno": "~~~~"}`.

[2018-01-04 10:34] nickkolok opened #1056 "`${\rm smth}$` doesn't work, `$\mathrm{smth}$` does"
Error:
[code]
OK:
[code]
Are there plans to support `\rm` ?

[2018-01-04 13:49] edemaine commented on #1056
Old-style font commands were added in version v0.8.0 (2017-08-11). Perhaps you're using an old version? Your example (without the $s) works fine on the test page on https://khan.github.io/KaTeX/

[2018-01-04 14:44] nickkolok commented on #1056
@edemaine, thanks, my version is really old (`0.7.1`).

[2018-01-04 14:44] #1056 closed

[2018-01-04 16:33] nickkolok commented on #1055
It helped, thanks!

[2018-01-04 16:33] #1055 closed

[2018-01-05 00:56] 3axap4eHko commented on #400
Just released https://www.npmjs.com/package/react-native-katex

[2018-01-05 01:12] edemaine commented on #400
Looks cool!  Should we link to this from https://github.com/Khan/KaTeX#libraries ?

[2018-01-05 18:28] kevinbarabash commented on #400
@3axap4eHko you may want to add a comment in the README.md that states that it's a wrapper around `WebView` so that people know this up front.  Also, you may want to expose the various options that `katex.render()` supports.

[2018-01-08 18:22] rwbarton commented on #895
It looks like #992 was merged, but without the math mode CJK support; what's the status of this?

[2018-01-08 18:33] Lin-Buo-Ren commented on #895
The issue can still be reproduced via the instruction atop, I guess #992 isn't enables it ATM

[2018-01-08 18:37] edemaine commented on #895
The status is issue #1046. I'd appreciate your input on that -- is there a way to get this to work in LaTeX?

[2018-01-08 18:47] rwbarton commented on #1046
It sounds like this would be useful to some people, even if actual xelatex doesn't support it (I haven't tried).

[2018-01-08 18:59] rwbarton commented on #895
I actually haven't used xelatex myself unfortunately--I came across the Zulip issue while investigating something reltaed (which was fixed already in another Unicode-related KaTeX PR).

[2018-01-09 03:52] kevinbarabash commented on #1046
I tried unicode characters in MathJax and it works there which is probably why so many people request this feature.

[2018-01-09 19:44] samuelpmish opened #1058 "underline rendering dependent on magnification with Chrome"
Hi, I'm using KaTeX to render equations in a personal blog, and I'm noticing that at different magnifications, some symbols are being omitted. In particular, I was using \underline and \overline in one post, and saw that the base characters being underlined/overlined were rendering properly, but the lines themselves will disappear:

at 90%
<img width="696" alt="90" src="https://user-images.githubu

[2018-01-09 20:40] ronkok commented on #1058
@samuelpmish, The current KaTeX master contains PR #1025, which upgrades not only frac-lines, but also underlines and overlines. We should have a release out soon that contains the new approach.

[2018-01-09 21:18] samuelpmish commented on #1058
Very cool, thanks for the info!

[2018-01-09 21:18] #1058 closed

[2018-01-11 03:47] obedm503 commented on #872
this would be really cool. right now the dist build has repeated babel utilities which would be avoided if using rollup's fancy scope hoisting

[2018-01-11 04:49] kevinbarabash commented on #872
@obedm503 I know about rollup, but haven't used it.  How much work would it be to switch over?  Does it work with hot reloading?

[2018-01-11 19:04] obedm503 commented on #872
didn't know you were using webpack. I guess the same thing could be achieved using the [ModuleConcatenationPlugin](https://webpack.js.org/plugins/module-concatenation-plugin/). that would remove the duplicated utilities

[2018-01-11 20:01] kevinbarabash commented on #872
Cool.  @obedm503 would definitely be interested in a PR for that change if have time.

[2018-01-11 22:44] obedm503 commented on #872
looking into this. can you explain the build system? from what I gather, you're using webpack during dev but browserify for production?

[2018-01-11 23:26] kevinbarabash opened #1059 "npm run prepublishOnly fails"
[code]
Reported by @obedm503 in #872.

[2018-01-11 23:26] kevinbarabash commented on #872
@obedm503 I moved fonts into a submodule recently and thought everything would work correctly for the publish.  It appears that isn't the case.  I'll look into the fonts issue tomorrow.

[2018-01-13 00:24] davidflanagan commented on #979
Pull request #1060 just landed and adds support for Devangari, Bengali and various other indic scripts, but only in \text{}.

It won't fix the MathJax issue that @rah4927 is having, but KaTeX should now be able to render:

[code]

[2018-01-13 00:25] davidflanagan commented on #979
<img width="452" alt="screen shot 2018-01-12 at 4 25 37 pm" src="https://user-images.githubusercontent.com/516914/34900479-419cea78-f7b5-11e7-9e81-eed6a3fa2989.png">

[2018-01-13 00:27] davidflanagan commented on #979
Note that I had to add \text{} around the left hand side of the equation. We still don't support @rah4927's original source text. But hopefully this is close enough. So I'm going to close the issue.

[2018-01-13 00:27] #979 closed

[2018-01-13 00:34] davidflanagan commented on #729
For supporting new scripts inside \text{}, see PR #1060. I don't know what RTL issues will arise, but this patch that just landed makes it easy to add new scripts that are supported in \text{} environments.

[2018-01-13 02:56] edemaine commented on #979
#1046 captures the "should `\text` be required" aspect of this issue.  Feel free to add discussion there!

[2018-01-13 10:29] santos22 commented on #1016
HI @kevinbarabash! Which file would you like to show the size of?

[2018-01-13 18:50] kevinbarabash commented on #1016
@santos22 I was thinking katex.min.js.

[2018-01-14 01:20] kevinbarabash commented on #872
@obedm503 can you check if there's anything in `submodules/katex-fonts`?  If there isn't please try running:
[code]
Also, are you on Windows?  There's an issue with symlinks on that platform.

[2018-01-14 01:40] adyavanapalli opened #1062 "Is there such a thing to convert a static page using MathJax to KaTeX?"
Hi all,
I'm wondering whether there exists some kind of CLI tool to convert a static html page using MathJax to use KaTeX.

[2018-01-14 05:01] kevinbarabash commented on #1062
Not that I'm aware.  I think a lot of it would depend on your current MathJax setup.  There is an auto-render extension for KaTeX which may come in handy though.

[2018-01-15 03:44] obedm503 commented on #872
`prepublishOnly` now works! and no I'm not on windows.
with that out of the way, can you explain the build system?

[2018-01-15 04:14] kevinbarabash commented on #872
Hmm... it looks like we're using browserify + babelify for building distribution files.  That being said, webpack.config.js looks like it would build at least the unminified versions as well.  I feel like we should probably move off of browserify to webpack.

[2018-01-15 04:18] kevinbarabash opened #1063 "switch from browserify to webpack for building distribution files"
Reasons:
- we already have a webpack.config.js with settings for the unminified distribution files
- webpack has cool plugins we can use to better optimize our code, e.g. https://webpack.js.org/plugins/module-concatenation-plugin/ to dedupe helper code that babel inserts, as discussed in #872.

[2018-01-15 04:25] aterenin opened #1064 "Load KaTeX asynchronously using script async"
KaTeX seems to work out of the box with `script async`. If there are no major drawbacks from using this, I suggest adding it to the README.

[2018-01-15 04:32] kevinbarabash commented on #1064
I can't see why it wouldn't work with `script async`.  The `async` attribute only affects when the script is loaded, right?

[2018-01-15 04:44] ylemkimon commented on #1063
Is there any specific reason using make(Makefile) for build?

[2018-01-15 04:52] aterenin commented on #1064
I believe so. I tested it with the latest alpha version (beta version 404s because it has yet to propagate across the CDN), and it seems to just work. I also tested loading the CSS asynchronously by adding the following to the auto-render code.

[code]

I had to use the `load` event instead of `DOMContentLoaded` because it happens later, but other than that, everything seems to just work.

[2018-01-15 04:54] kevinbarabash commented on #1063
@ylemkimon the project started out using `make`.  We've transitioned some of the commands to `package.json`.  Not everyone has `make` installed on their computer so it would be nice to eventually transition everything to `package.json`.

[2018-01-15 16:19] edemaine commented on #1064
Having an async example sounds cool. Calling autorender or whatever upon `load` event sounds perfect.

[2018-01-15 17:35] akalin commented on #824
0.9.0-beta seems to have completely fixed the problem for me: https://rawgit.com/akalin/60e78169d60908f8111652540f427607/raw/dddea153264adabe863e3a4f6c24c4cd220996dd/test-0.9.0-beta.html

Thanks everyone!

[2018-01-15 17:38] akalin commented on #970
0.9.0-beta fixes this completely for me: https://rawgit.com/akalin/cc8023a41d1fc1cd0250bc50d122680f/raw/81cbe2e2c359d591b61260c832490c0f1d2c87cc/test-0.9.0-beta.html

Thanks!

[2018-01-15 18:16] ronkok commented on #824
@akalin, You're very welcome. I hope that everyone has results this positive.

[2018-01-15 20:33] #824 closed

[2018-01-15 20:34] kevinbarabash commented on #824
@akalin thanks for verifying that the bug is no longer in the new release.

[2018-01-15 20:34] kevinbarabash commented on #970
@akalin thanks for verify that the new release fixes the issue.

[2018-01-15 20:34] #970 closed

[2018-01-15 20:57] kevinbarabash commented on #1063
So I looked at webpack.config.js a little more an it's not actually a valid webpack.config.js.  It specifies multiple configs but not in the way that webpack expects.  See https://github.com/webpack/webpack/tree/master/examples/multi-compiler.

[2018-01-15 23:39] DominikRocek opened #1066 "Poorly rendered Å"
Hi,
in **v0.9.0-beta**, the symbol **Å** is not rendered correctly.
Thank you for the repair!

![a](https://user-images.githubusercontent.com/35472032/34965606-a137de50-fa55-11e7-8c2d-e2465e3ab743.jpg)

[2018-01-16 00:50] ylemkimon commented on #1063
I'd like to work on this issue, if you don't mind.

[2018-01-16 01:14] ronkok commented on #65
The op's example string will now render, both directly and within `\operatorname`:
![bezier](https://user-images.githubusercontent.com/16403058/34967380-2391404c-fa17-11e7-9340-4e53c843d7f0.PNG)
I realize that Unicode is an ongoing project, but maybe we could close this one issue?

[2018-01-16 02:05] Pomax commented on #65
Feel free to close it. If there's a solution that's common in TeX land (like `\textit{}`) that works both in normal LaTeX documents as well as in KaTeX, then the original problem the issue was filed over has been resolved, and any further thoughts are follow-up for a different issue that refers back to this one.

[2018-01-16 02:05] #65 closed

[2018-01-16 12:11] librilex commented on #1066
Which font did you use? On the [demo site](https://khan.github.io/KaTeX/) entering
[code]
works perfectly fine:
![grafik](https://user-images.githubusercontent.com/26027208/34988319-ac67c880-fabe-11e7-874c-8e6910e4a6c8.png)

So I assume it is a problem with the font you are using.

[2018-01-16 14:55] edemaine commented on #1066
@librilex I believe the demo site is not on 0.9.0-beta yet, which is why `\text{Å}` is rendering differently from `\text{\r A}` in your examples.  (It shouldn't, and doesn't on master.)

@DominikRocek `Å` is currently supported in text mode, but not math mode, because the `\r` accent is supported in text mode but not math mode.  Are you wrapping it in `\text`?

Developers: Should we consider makin

[2018-01-16 17:51] ronkok commented on #1066
Below I show a test from 0.9.0-beta.  It appears that KaTeX does currently support `\text{Å}` and `\text{å}`. It just does a poor rendering of both.  The math-mode rendering looks good.
![latin1](https://user-images.githubusercontent.com/16403058/35003569-12af515c-faa2-11e7-94b1-6e8b9c5646b7.PNG)
Of all the Latin-1 characters added by PR #796, we've regressed only for characters  `æ`, `ø`, and `Ø`

[2018-01-16 17:53] DominikRocek commented on #1066
Hi,
thank you for the answers. I used **\textsf{Å}**.

When I use: **\text{Å}** .. Result is:
![a](https://user-images.githubusercontent.com/35472032/35003259-8fb001a2-faec-11e7-8e17-edbd152e87a4.jpg)

When I use: **\textsf{Å}** .. Result is:
![2](https://user-images.githubusercontent.com/35472032/35003568-8179b51e-faed-11e7-89a5-499671109747.jpg)

When I use: **Å** .. Result is:
![3](https://user

[2018-01-16 22:28] SamLau95 commented on #327
We'd like to replace MathJax with KaTeX for a probability textbook at Berkeley: https://textbook.prob140.org/

The line breaking issue is currently a blocker for us since we've already written a bunch of long equations that KaTeX cuts off, for example:

![](https://user-images.githubusercontent.com/1305729/34920566-9a38418a-f929-11e7-897c-8d0eb31852e1.png)

We are currently using MathJax's automat

[2018-01-17 02:47] kevinbarabash commented on #1066
I think https://github.com/KaTeX/katex-fonts/pull/5 might fix the issues with the accents as it makes all accents non-combining include the accent for `\r` which is listed in https://github.com/KaTeX/katex-fonts/pull/5/files#diff-39cb684094d84b58582045c86bd72f75 as "ring above".

[2018-01-17 16:27] rrandallcainc commented on #1038
Just got back from a trip. I'll take a look at this soon.

[2018-01-17 23:57] nmatpt commented on #739
Just a note: I had this issue while integrating the Katex npm package into another project and I solved it by updating to the latest Katex release (`0.9.0-beta` at the moment)

[2018-01-18 23:30] kiliansinger opened #1075 "\begin{bmatrix} does not work in displaymode=false"
Using bmatrix in displaymode=false does not render
example:
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Auto-render test</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta/katex.min.css" integrity="sha384-L/SNYu0HM7XECWBeshTGLluQO9uVI1tvkCtunuoUbCHHoTH76cDyXty69Bb9I0qZ" crossorigin="anonymous">
<script src="https://cdnjs.cloudflar

[2018-01-19 01:30] ronkok commented on #1075
Well, that's not good. The problem seems to come from the row spacing code.

@kiliansinger, while we work on this, you can get the result you want by replacing `\\[0.3em]` with `\cr[0.3em]`

[2018-01-19 02:23] ronkok commented on #996
@Jenyay, have you tried `\vec` with the latest release 0.9.0-beta?

[2018-01-19 06:25] akalin commented on #130
The dots macros aren't implemented yet, right? Are there any plans for those?

[2018-01-19 06:43] Jenyay commented on #996
With 0.9.0 beta \vec works fine. Thanks :+1:

![2018-01-19 09-41-49](https://user-images.githubusercontent.com/166281/35137942-0653d952-fcfd-11e7-8410-2627f1d43776.png)

[2018-01-19 06:54] kevinbarabash commented on #130
@akalin they were implemented by @edemaine in #794.  I believe that `\varGamma` et al is the only remaining work in this issue.

[2018-01-19 06:56] kevinbarabash commented on #130
I think it should be pretty easy to implement these aliases, e.g.
[code]

[2018-01-19 07:00] kevinbarabash opened #1077 "Italicized versions of Greek capital letters"
- `\varGamma`
- `\varDelta`
- `\varTheta`
- `\varLambda`
- `\varXi`
- `\varPi`
- `\varSigma`
- `\varUpsilon`
- `\varPhi`
- `\varPsi`
- `\varOmega`

Each of these can be implemented by add a macro in macros.js like so:
[code]

(extracted from #130)

[2018-01-19 07:00] kevinbarabash commented on #130
Superseded by #1077.

[2018-01-19 07:00] #130 closed

[2018-01-19 07:06] kevinbarabash commented on #996
@Jenyay you mentioned in the original post that there was also an issue with `\frac`.  Is there still an issue with `\frac` in the new version?

[2018-01-19 07:13] Jenyay commented on #996
I mentioned that the problem with \frac was observed before version 0.9.0-alpha2. In version 0.9.0-alpha2 \frac already worked well.

[2018-01-19 15:25] #996 closed

[2018-01-21 19:40] kevinbarabash opened #1079 "\operatorname doesn't support all math functions"
[code]
is valid LaTeX, but KaTeX throws the following exception:
[code]

[2018-01-21 22:51] kevinbarabash opened #1080 "bounding box is wrong for \cancel groups"
![strikethrough](https://user-images.githubusercontent.com/1044413/35199882-c294528c-fed2-11e7-85ae-0451a5f93c89.png)

I added
[code]
to test.tex in order to generate the image above.  The spacing around binary operators is better than it used to be.  It seems like the addition of the `\cancel` bar doesn't affect the bounding box of `\cancel` in the LaTeX rendering (green).  The bounding box of `\

[2018-01-22 00:19] kevinbarabash opened #1081 "Spacing around underset/overset commands is wrong"
![overunderset](https://user-images.githubusercontent.com/1044413/35200613-c3f5335a-fedf-11e7-870c-d0fff83f9623.png)

LaTeX is in green.  KaTeX is in green.

Blocked by #1070 which completely reworks how spacing is done.  It does not seem to affect the output of `\underset` or `\overset`.

[2018-01-22 00:48] #692 closed

[2018-01-22 00:48] #983 closed

[2018-01-22 00:48] #1063 closed

[2018-01-22 01:23] ronkok commented on #1080
@kevinbarabash The `cancel` package documentation states that:

print  neighboring  parts  of  the  formula  (or  text).

I tried to accomplish that with CSS adjacency rules. It looks like I missed some of the possible combinations. I don't know if PR #1070 makes this easier or harder.

[2018-01-22 01:25] ronkok commented on #1081
Which is which?

[2018-01-22 02:17] kevinbarabash commented on #1081
Sorry about that.  KaTeX is in red.

[2018-01-22 02:18] kevinbarabash commented on #1080
Hopefully easier.  🤞

[2018-01-22 03:00] kevinbarabash commented on #1080
I'm not sure why pdflatex rendered `\sout` as underlines.

[2018-01-22 03:04] #1062 closed

[2018-01-22 03:05] kevinbarabash commented on #1039
@nyiuang can you try again with v0.9.0-beta?

[2018-01-22 05:42] kevinbarabash commented on #687
#1070 is a pre-requisite for this.  With it, all spaces will be inserted programmatically which means that we'll be able to change their values if `\thinmuskip` et al are ever changed.

[2018-01-22 10:35] cjh9 commented on #800
@edemaine Sorry for late reply, super great! You guys are awesome :D

[2018-01-23 03:43] ronkok commented on #735
@ylian I believe that release 0.9.0-beta has fixed this bug. Can you confirm?

[2018-01-23 05:19] kevinbarabash opened #1082 "devServer.app undefined in screenshotter.js when running on MacOS"
I tried a fresh checkout and am still encountering the issue when running:
[code]
or
[code]
The error `TypeError: Cannot read property 'get' of undefined` occurs on KaTeX/dockers/Screenshotter/screenshotter.js:321:18.  It appears to be that `app` is not defined on `server`.  I'm not sure why the tests are passing on travis-ci.

@ylemkimon could you have a look into this?

[2018-01-23 08:08] ylemkimon commented on #1082
Are you using Mac? I wasn't able to reproduce the issue on Windows and Linux.

[2018-01-23 11:07] mossadal opened #1084 "Fracline too thick in 0.9.0-beta"
The 0.9.0-beta update seems to have solved the disappearing fracline problem in Chrome, but now the line is way too thick:

Firefox:

<img width="123" alt="firefox" src="https://user-images.githubusercontent.com/8174070/35272617-35d1fc86-0036-11e8-9f46-4faa3a6132fc.png">

Safari:

<img width="117" alt="safari" src="https://user-images.githubusercontent.com/8174070/35272649-54a0796c-0036-11e8-9746-

[2018-01-23 13:02] kevinbarabash commented on #1082
@ylemkimon I am running on a Mac.  I tried a couple of different versions of `webpack-dev-server`: 2.7.1, 2.8.0, and 2.9.1.

[2018-01-23 13:05] kevinbarabash commented on #1084
@mossadal are you using a retina or non-retina display?

[2018-01-23 13:09] mossadal commented on #1084
This is on a Macbook Pro with retina display.

[2018-01-23 13:24] kevinbarabash commented on #1084
<img width="765" alt="screen shot 2018-01-23 at 8 22 21 am" src="https://user-images.githubusercontent.com/1044413/35278016-b01b39f0-0016-11e8-95ef-9dfe3fe308ab.png">

This is what I'm seeing on `master` which is only a few commits ahead of `0.9.0-beta`.  The new commits shouldn't have any effect on fraction line output.  Not sure what's going on.  😕

[2018-01-23 13:27] kevinbarabash commented on #1084
@mossadal what font size are you rendering at?  FTR, that rendering above was on Safari at 16px.  I'm getting similar output from Chrome.  I'm also on 10.12.6.

[2018-01-23 13:31] kevinbarabash commented on #1084
I'll try reproducing using `0.9.0-beta` later this week.  Maybe something funky happened during while generating the release.

[2018-01-23 13:53] mossadal commented on #1084
Oh, it looks like something on my side. On a blank page with just the KaTeX js and css loaded, everything looks perfect. Trying to isolate where the conflict is.

[2018-01-23 14:16] mossadal commented on #1084
Very sorry, this was all my mistake. I accidently loaded the 0.90.alpha2 css in one place instead of the 0.90-beta css. Everything looks great now.

[2018-01-23 14:16] #1084 closed

[2018-01-23 16:58] #1082 closed

[2018-01-23 16:58] ylemkimon commented on #1082
On Mac, `katexIP` is set to `*any*` in `guessDockerIPs()`:
https://github.com/Khan/KaTeX/blob/732f2a84ccb000099d29fb1f61dd02e611fab64b/dockers/Screenshotter/screenshotter.js#L153-L158

This causes following lines to run in `findHostIP()`:
https://github.com/Khan/KaTeX/blob/732f2a84ccb000099d29fb1f61dd02e611fab64b/dockers/Screenshotter/screenshotter.js#L321

whereas on Windows and Linux, it doesn't

[2018-01-23 17:00] kevinbarabash commented on #1082
No worries.  Thanks for tracking this down so quickly.

[2018-01-23 17:53] danielhollas commented on #307
This is slightly relevant to KA, since in certain locales the \div symbol should be colon instead.
e.g. instead of
$6 \div 3 = 2$
we need
$6 \colon 3 = 2$

With the current implementation, is much better to use simple \colon or \mathbin{:}
$ 6 : 3 = 2$

[2018-01-23 19:18] ylian commented on #735
@ronkok Yes, I can confirm this bug is fixed in release 0.9.0-beta. Thanks!

[2018-01-23 19:19] #735 closed

[2018-01-23 20:22] kevinbarabash commented on #307
@danielhollas we haven't done any work to support automatic localization of TeX content.  TeX is very much a presentation layer and doesn't really know what `\div` is other than it's a binary operator.  I think automatic localization is outside the scope of KaTeX.  We provide access to the parse tree, but it's still in flux so use at your own risk.  That being said if you or anyone knows of a proj

[2018-01-23 20:35] danielhollas commented on #307
No no, sorry for misunderstanding, I was not suggesting anything like that. I only wanted to point out the context in which \colon might be used.

I only stumbled upon this issue, because KA linter currently does not allow translating \div. For multiplication, it allows \mult -> \cdot translation, so I originally thought the \div -> \colon is the correct equivalent. But unless this particular issu

[2018-01-24 03:43] danielhollas opened #1086 "Incorrect rendering of in \text enviroment"
PR #1076 introduced more supported characters inside \text environment. However, some of them does not seem to bere rendered correctly. Specifically,
 - czech character ů (U+016F): circle above u is not properly centered
 - Turkish character İ (U+0130): the dot is not directly above the I

Below is the rendering of the following KaTex block by @davidflanagan :
$\text{\blue{इकाई}} \cdot
\text{\purp

[2018-01-24 03:49] kevinbarabash commented on #1086
@danielhollas we've had issues in general with positioning of accents in some browsers.  Safari doesn't handle combining glyphs properly.  Part of the solution is https://github.com/KaTeX/katex-fonts/pull/5 which converts all combining glyphs to non-combing glyphs.  There will probably be some additional work in this repo to make sure everything is positioned correctly after making that change.

[2018-01-24 03:50] kevinbarabash commented on #1086
At least the Hindi is look good. :)

[2018-01-24 03:59] danielhollas commented on #1086
Well, these two do not work on Chromium and Firefox on Linux Mint either.

PS:Hindi certainly looks cool, but I have no idea whether the render is correct. :smile:

[2018-01-24 07:10] davidflanagan commented on #1086
It sounds like this is a duplicate of issue #1066

Thanks for filing this Daniel, but let's move discussion over to that other bug.

[2018-01-24 07:11] davidflanagan commented on #1086
Duplicate of #1066

[2018-01-24 07:11] #1086 closed

[2018-01-24 07:18] davidflanagan commented on #1066
Issue #1086 looks like it was a duplicate of this one, but also demonstrated that there are issues with the ring accent over lowercase u (in Czech) and the dot over an uppercase I in Turkish. (Note that those characters are not in the Latin-1 charset, but I just landed a PR the other day to add support for Latin Extended A and B.)

I'm pretty sure that that the LaTeX source code I was using was us

[2018-01-24 08:01] davidflanagan commented on #1066
This is the HTML I get both \text{\r A} and \text{Å}

[code]
    "\u00c5": "\u0041\u030a",  // Å = \r{A}
[code]

[2018-01-24 14:03] ylemkimon commented on #1052
How about moving `fonts.less` to the submodule(https://github.com/KaTeX/katex-fonts)? I think it makes sense since `fonts.less` is importing font files and it should be version-controlled with them.

[2018-01-24 16:08] kevinbarabash commented on #1066
This would result in the fonts being much larger than they are now.  Also, I'm not familiar enough with our font pipeline to combine base and accent glyphs into new glyphs.  Updating existing accent glyphs from combining to non-combining and using JS to center was the original plan to deal with accent positioning issues.  This is how the accents that are positioned correctly work.  The only reason

[2018-01-24 17:21] ronkok commented on #1052
I hope that works. I've just merged the latest commits from master into my local repository, Having done that, I have now lost all ability to do a local build. Instead, I get 60 error messages telling me that a font file cannot be found. Until the symlink issue is resolved, I am out of action.

[2018-01-24 17:39] kevinbarabash commented on #1052
@ronkok sorry to hear that.  I'll work on fixing this this evening.

[2018-01-24 18:10] davidflanagan commented on #1066
I was assuming that \text{} environments just inherited whatever font was used outside of KaTeX, and that we could assume they had support for all the necessary glyphs. But if KaTeX renders text mode with its own fonts (and I understand that there are probably good typographical reasons for doing that) then either the fonts have to get big or we have to manually handle the accents. So I retract my

[2018-01-24 22:17] davidflanagan opened #1088 "SVG-based functions like \sqrt don't render reliably inside other SVG images."
At Khan Academy we sometimes use KaTeX strings inside of SVG images. But now that \sqrt{} and \vec{} are themselves rendered as SVGs we've discovered a problem. Our SVG images set fill-opacity to 0, so when we try to render \sqrt{2} inside of one of these images, the square root sign is fully transparent and does not show up at all.

I've discussed this with @kevinbarabash. We're thinking that we

[2018-01-24 22:27] davidflanagan commented on #1088
It turns out that this is an issue even without the svg-inside-svg. We need to prevent our svg glyphs from inheriting styles that should not affect them:

<img width="958" alt="screen shot 2018-01-24 at 2 24 49 pm" src="https://user-images.githubusercontent.com/516914/35360423-81393aae-0112-11e8-90e3-7833a79d6f4d.png">

[2018-01-25 01:12] rrandallcainc commented on #1081
@kevinbarabash Out of curiosity, how are you running the katex/latex diffs?

[2018-01-25 01:25] kevinbarabash commented on #1081
@rrandallcainc I do the following:
[code]
NOTE: not everything in ss_data.yaml with texcmp.js.  I recently added the following lines to test.tex in a PR that has yet to land which helped with the Strikethrough test cases:
[code]

[2018-01-25 01:29] kevinbarabash commented on #1081
FYI, the output shows up in test/screenshotter/diff.

[2018-01-25 03:02] ronkok commented on #1088
I am fully in agreement with your proposed solution for styles.

Since the topic is nested SVGs, I wonder has anyone tried zooming them on Safari? Issue #883 revealed a problem.

[2018-01-25 13:49] kevinbarabash opened #1091 "don't wrap pre and post from ss_data.yaml in spans"
This would allow us to use it to embed our output inside an element which would be useful for screenshot testing #1089.

[2018-01-26 10:13] schober-ch commented on #983
I'm facing the same issue - I'm trying to include katex with auto-render into a project using webpack(2) to bundle all files.

Unfortunately I'm no webpack-guru and can't see how #1068 might help to solve this. I tried to add ` katex_auto_js: './node_modules/katex/contrib/auto-render/auto-render.js',` to my entry-block, but this will result in the same error (`Uncaught TypeError: Cannot assign to

[2018-01-26 10:49] ccorn opened #1093 "Non-portable use of String method `.includes`"
KaTeX v0.9.0-beta chokes on `\mathbb{C}` (and `\mathbb{R}` so it's probably the macro), telling me "undefined not callable".
KaTeX v0.8.3 and v0.9.0-alpha2 render that without problems.
Found using `katex.renderToString` with Duktape.

[2018-01-26 12:56] ylemkimon commented on #983
@schober-ch
(i) The version including PR #1068 has not been released yet, so you have to manually build the source.
(ii) As of #1068, `auto-render` uses only ES6 import/export syntax, so https://github.com/webpack/webpack/issues/4039 will be no longer an issue.
(iii) It's preferable to use `dist` files(built distribution files), i.e., `dist/contrib/auto-render.js`, and it's in UMD(universal module

[2018-01-26 14:49] kevinbarabash commented on #1093
Hmm... `\mathbb{C}` works in the test page on `master`, but that uses `katex.render`.  I wonder if there's a difference between that and `katex.renderToString`.

[2018-01-26 14:50] kevinbarabash commented on #1093
I tried `katex.renderToString("\\mathbb{C}")` on `master` and that works as well.

[2018-01-26 14:55] kevinbarabash commented on #1093
I checked `v0.9.0-beta` as well.  What's Duktape?  Could you post a more complete code example?

[2018-01-26 22:06] ccorn commented on #1093
Hmm, when I try it with less intervening Ruby layers, it works. Sorry, that's not your bug, even though it manifests at the Javascript execution level. Have to track it down myself.

[2018-01-27 00:15] kevinbarabash opened #1095 "Update script that generates fontMetricsData.json to output a header"
The header should say:
- that this file is generated and not to edit it manually
- how to generate the file

[2018-01-27 00:18] kevinbarabash opened #1096 "write developer documentation explaining some of the trickier parts of KaTeX"
- [ ] handling of unicode characters with accents
- [ ] macros
- [ ] handling of spaces

I'm curious about what areas of the code other people have struggled with.

[2018-01-27 00:31] ccorn commented on #1093
[Use of the string method `includes`](https://github.com/Khan/KaTeX/search?utf8=%E2%9C%93&q=is%3Afile+fontFamily.includes&type=) seems to be the culprit. Using the polyfill from [Mozilla's documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes) makes the error go away.

[2018-01-27 00:41] ccorn commented on #1093
I'd propose to use `.indexOf(...) !== -1` instead, for compatibility.

[2018-01-27 00:42] kevinbarabash commented on #1093
Nice find!

[2018-01-27 00:42] kevinbarabash commented on #1093
We'll definitely want to fix this before the next release.

[2018-01-27 01:36] kevinbarabash commented on #1093
@ccorn if you have time, would definitely accept a PR to fix this.

[2018-01-27 01:50] ccorn commented on #1093
I'd like to do that, but I am not a Javascript expert, and I am not familiar with the build system around KaTeX. I can fork the repo, do a minimal `.indexOf` replacement, but then I would not know how to test that change. I could launch a PR and hope that some CI kicks in and that everything turns out well, but if not, then anyone familiar with KaTeX development should better take over. Also, comp

[2018-01-27 02:00] ccorn commented on #1093
Hmm, there is a Makefile. Known territory. OK, I'll ssh into a server that has Node available, and then try and clone and mess around a bit.

[2018-01-27 05:53] kevinbarabash opened #1098 "lint against modern JavaScript construct we don't want to polyfill"
Some polyfills are expensive, but we still want to maintain compatibility on older browsers so we should lint against those things we don't want to polyfilly, e.g. `.includes()` on strings.

Use https://github.com/kevinbarabash/eslint-plugin-luddite.

[2018-01-27 05:54] #1093 closed

[2018-01-27 05:55] kevinbarabash commented on #1091
This is moot since #1092 added a screenshot test by adding a `style` prop instead.

[2018-01-27 05:55] #1091 closed

[2018-01-27 06:03] kevinbarabash opened #1099 "accents on characters inside \textit{} are incorrectly positioned"
<img width="1088" alt="screen shot 2018-01-27 at 12 59 58 am" src="https://user-images.githubusercontent.com/1044413/35469155-91448f4c-02fd-11e8-99ca-53960714ceef.png">

We need to take into account the skew (as well as the height of the character).

[2018-01-27 16:35] kevinbarabash commented on #1095
@davidflanagan I wonder if moving fontMetricsData.json to https://github.com/KaTeX/katex-fonts would make more sense.  Then we could have a single command to generate the fonts and update this file.

[2018-01-27 17:11] kevinbarabash commented on #1077
Other options include:
- using a specific Greek-Italic font
- defining symbols for `\varGamma` *et al* that use the font we use for `\mathit{\Gamma}`

The latter solution seems better because it doesn't increase the number of fonts a user has to download.

[2018-01-27 18:48] kevinbarabash opened #1102 "Fix spacing code for "tight" styles"
And add tests.

[2018-01-27 20:51] rrandallcainc commented on #1038
@kevinbarabash Starting to look @ this now. Agreed that `withMathMode()` is probably the most elegant way to go.

Trying to think...where's the best entry point for when we enter math mode?

My first thought is around: https://github.com/Khan/KaTeX/blob/master/src/Parser.js#L486. I'm guessing I could leverage `this.settings.options.withMathMode()`. But would that be considered hacky?

[2018-01-27 21:23] kevinbarabash commented on #1038
@rrandallcainc maybe we could set a prop on the `styling` node that's created which could indicate to the HTML and MathML builders to call reset the fonts using `withMathMode()`.

[2018-01-27 22:04] Syndesi opened #1104 ""\textunderscore" throws "Expected 'EOF'"-error"
Hi,

when I'm writing `\textunderscore` into the [demo editor](https://khan.github.io/KaTeX/), it gives me the following error message: `KaTeX parse error: Expected 'EOF', got '\textunderscore' at position 1: \̲t̲e̲x̲t̲u̲n̲d̲e̲r̲s̲c̲o̲r̲e̲`.

It seems as if it isn't supported anymore, but it's [still in the documentation](https://khan.github.io/KaTeX/function-support.html#symbols) (first column, 6

[2018-01-27 22:15] Syndesi commented on #1104
I found even more symbols which are throwing error messages:
[code]

[2018-01-27 22:50] kevinbarabash commented on #1104
@Syndesi these should be pretty easy to add.  See symbols.js and look at `\textsterling` as an example.  A PR for this would be welcome if you have the time.

[2018-01-27 22:54] Syndesi commented on #1096
I struggled with automatic delimiter sizing. Until today I thought that just `\left(` and `\right)` are working, only [the example](https://khan.github.io/KaTeX/function-support.html#binomial) of `\left\langle n \atop k \right\rangle` could convince me.

But compared to Latex and it's derivates, Katex' documentation is easily to find, read and understand. Therefore it's already very usefull.

[2018-01-27 23:17] kevinbarabash commented on #1096
@Syndesi glad to hear you've found the existing docs useful.  This issue is more about documenting KaTeX internals.

[2018-01-27 23:23] Syndesi commented on #1104
@kevinbarabash I think I know what to change so that these symbols are working - but when I'm testing this software with npm 5.6.0, freshly installed modules & the command `npm run start` I get this result:
![screenshot-2018-1-28 katex test](https://user-images.githubusercontent.com/9903723/35477340-db0902ca-03c0-11e8-9ba3-f0e0a150909a.png)

Error Messages:

[code]

I'm actually not sure if this i

[2018-01-27 23:26] kevinbarabash commented on #1104
[code]
should do the trick.  See https://github.com/Khan/KaTeX/blob/master/CONTRIBUTING.md#working-with-submodules for more details.

[2018-01-27 23:40] Syndesi commented on #1104
Thank you, but after I ran these I still got these. This time they are in a seperate file (full error log, 343 lines).
[error_log.txt](https://github.com/Khan/KaTeX/files/1670644/error_log.txt)

But to get at least something done I would work on the actual fix and upload it - maybe you/github could test it :/

[2018-01-27 23:46] kevinbarabash commented on #1104
I see, the issue is Windows doesn't support symlinks.  There's a fix that's in review right now.  See https://github.com/Khan/KaTeX/pull/1090 and https://github.com/KaTeX/katex-fonts/pull/10.  I have to fix a couple of things before the fix can be merged.

[2018-01-27 23:48] kevinbarabash commented on #1104
If you want to open a PR with your changes I can definitely test them.

[2018-01-28 00:02] Syndesi commented on #1104
Thank you, I created the pull request #1105 .
It doesn't add math-support for the `/text...`-symbols because I think `text` should indicate that this symol should be used only inside `\text{}` - therefore the error was on my side.

But I added support for €, ¥, ₹ and ₽.

[2018-01-28 02:56] kevinbarabash commented on #1104
Right.  I should've looked at symbols.js.  It appears we already support the list of `\text...` symbols above.

[2018-01-28 02:59] kevinbarabash opened #1107 "Add support for international monetary indicators (Euro, Rupee, Ruble, etc.)"
- [ ] Euro €
- [ ] Rupee ₹
- [ ] Ruble ₽

These don't exist in any of our fonts currently so we'll want to add them to the fonts first.  I've opened https://github.com/KaTeX/katex-fonts/issues/18 to track that part of the work.

[2018-01-28 03:00] kevinbarabash commented on #1104
I'm going to close this issue and track adding support for Euro, Rupee, Ruble, etc. in #1107.

[2018-01-28 03:00] #1104 closed

[2018-01-28 03:01] kevinbarabash commented on #254
I'm going to close this in favor of #1107 which covers missing monetary indicators in general.

[2018-01-28 03:01] #254 closed

[2018-01-28 03:02] kevinbarabash commented on #1088
Closing as #1089 has be merged.  @ronkok I tried zooming (in and out) on Safari and things seem fine now.

[2018-01-28 03:02] #1088 closed

[2018-01-28 03:12] #1102 closed

[2018-01-28 04:24] kevinbarabash commented on #392
I've created an issue to track this in the fonts repo: https://github.com/KaTeX/katex-fonts/issues/20

[2018-01-28 04:32] kevinbarabash commented on #373
Tracking font changes in https://github.com/KaTeX/katex-fonts/issues/21.

[2018-01-28 06:38] ylemkimon opened #1108 "Spacing inside \href is wrong"
`\href` should not affect spacing inside it.

However, `href` builds expression with `isRealGroup = false`, but it doesn't get flattened in its parent `buildExpression` and spacings inside `\href` are not added.

`a \href{.}{+b}`
![js-spacing](https://user-images.githubusercontent.com/888148/35479665-31014e24-0440-11e8-9ead-aa920f2bc037.png)
(Black `a` and purple is KaTeX and black is LaTeX.)

[2018-01-28 08:07] ylemkimon commented on #1108
CC @kevinbarabash

[2018-01-28 10:27] mbourne opened #1109 "Make sandbox page easier to find"
Each time I go to use the sandbox on this page: https://khan.github.io/KaTeX/, I can never remember where it is.

As we all do, I do a Google search with 'katex sandbox' (no quotes) and it offers up LaTeX ones, but when choosing "Katex" is still doesn't find it.

Then I do the usual "pecking"  around the various Github pages and go around in circles. Finally I saw the above link at the top of one

[2018-01-28 12:25] Syndesi commented on #1096
@kevinbarabash oh I see. I actually can't say something about the documentation inside the source code because I haven't worked with it (yet), but when I catch something I will definetly list it here.

[2018-01-28 12:28] Syndesi commented on #1104
Ok thank you.

[2018-01-28 17:34] sidvenu commented on #50
@mhchem Could you please tell me what is the status of the extension? And if it is not yet completed, could you please tell me when you will complete it approximately?

[2018-01-28 18:59] mhchem commented on #50
@sidvenu As an active GitHub user, you should know that an open issue means "not completed yet". Also, please take a minute to read the last messages on this page. You'll see that there is no plugin architecture yet. So I cannot make any estimation.

[2018-01-28 19:08] rrandallcainc commented on #1096
Great idea.

I think a general overall architecture would be useful for new devs.

Maybe buildHTML vs buildMathML...similarities, differences, etc.

[2018-01-28 19:09] ronkok commented on #1109
@mbourne The next time that I update the [function support page](https://khan.github.io/KaTeX/function-support.html), I'll edit the first item under "Links" and change how it reads from "Home" to "Sandbox".

[2018-01-28 20:02] rrandallcainc opened #1112 "Distinguishing Text vs Math Fonts"
One difference with math vs text font commands, is text commands change one aspect of the font (weight, shape, or family). Math commands change all aspects of the font (weight, shape, and family). Currently options.withFontFamily is being used for math fonts as well a text families.

We should leverage `options.withFont()` for math, and `options.withFontFamily/Shape/Weight` for text.

Alternativel

[2018-01-28 20:11] rrandallcainc opened #1113 "Enforcing Squash Merging"
I'm wondering if enforcing squash merging would keep the master branch clean, while not burdening devs to squash themselves. I believe this is possible as part of the Merge Button settings.

![image](https://user-images.githubusercontent.com/16921005/35486545-5246af8c-043d-11e8-8b3b-03c47c7d8463.png)

Squashing is checked, while the other two options would remain unchecked. Thoughts?

[2018-01-28 21:43] kevinbarabash commented on #1113
I've made this change.  There are a few situations where rebase merging may be preferable, but this should simplify things.  I'm going to leave this open for a bit in case other people have concerns about this change.

[2018-01-28 21:44] kevinbarabash commented on #1039
I'm going to close this for now.  @nyiuang please re-open if you experience this with v0.9.0-beta or any future releases.

[2018-01-28 21:44] #1039 closed

[2018-01-28 22:44] arshucks opened #1114 "Thick / Double Fraction Bar showing up"
Trying to write some simple fractions to the screen, but
(a) a double lined fraction bar keeps showing up - my config is pretty standard (using latest 0.9.0 katex version), and using the below expression.
**Note: The issue is definitely the "type" of line (looks like a "double border"), and not the thickness - see third image.**
(b) the division symbol is misaligned when the font is small, but get

[2018-01-28 22:57] arlohosk commented on #1114
Thanks for the quick reply.

I am using chrome, but have tested in IE (edge) + Firefox as well, same issue.

I am pulling the npm package directly from here https://www.npmjs.com/package/katex and updated it today, so I believe it is using v0.9.0-beta (though this issue was present 3-4 months ago as well).

**Note:** I am using the autorender functionality (In my case, I'm using Meteor, so I had t

[2018-01-29 00:29] ronkok commented on #1114
@arlohosk Are you using KaTeX to render something inside an SVG?

[2018-01-29 00:31] arlohosk commented on #1114
@ronkok  Nope, just a standard html (with some css applied of course - hence the green background in one of the pictures)

[2018-01-29 00:32] ronkok commented on #1114
Can you provide a link? I'd like to go investigate.

[2018-01-29 00:45] arlohosk commented on #1114
@ronkok hmm...Its not deployed (and won't be until fixed) into our prod site + behind a log in page.

Is there a messaging function on github I'm missing or some way to reach you directly? I could try to screenshare code or send you a log in on a dev site

[2018-01-29 00:50] ronkok commented on #1114
My first hypothesis is that the root cause of this issue is the same as issue #1088. Some external SVG styling has caused the frac-line, which is an SVG path, to render with a black border and a white fill.

PR #1089 was merged into master yesterday. If my hypothesis, is correct, then both problems will be fixed when that PR is released.

[2018-01-29 00:58] arlohosk commented on #1114
@ronkok  Gotcha. Ok, happy to wait and see on that.
Not a show stopper, but would be great to have it resolved.
I will look into the SVG hypothesis in the meantime

[2018-01-29 01:11] kevinbarabash commented on #557
We've removed `eot` fonts from the katex package.  I believe the original problem could be solved by changing the webpack config to extract the font files from the bundle.  I think ExtractTextPlugin might do the trick.  If the fonts are separate files then the browser can decide which version of the font makes the most sense for it to download.

[2018-01-29 01:11] #557 closed

[2018-01-29 01:13] kevinbarabash commented on #811
Update: we now have https://github.com/KaTeX.  The main repo will continue to live at Khan/KaTeX for the time being though.

[2018-01-29 01:25] kevinbarabash commented on #554
@nickkolok not sure how you're packaging things, but if your build system supports tree shaking then doing `import { __parse } from "katex"` might be sufficient for you.  Extracting macro expanding from the parser would be quite difficult.

[2018-01-29 01:25] #554 closed

[2018-01-29 01:27] kevinbarabash commented on #576
I think this should be pretty easy to fix.  We'll want to fix it in https://github.com/KaTeX/katex-fonts though.

[2018-01-29 01:28] kevinbarabash commented on #470
The screenshotter has been fairly reliable of late so I'm going to close this issue.

[2018-01-29 01:28] #470 closed

[2018-01-29 01:38] kevinbarabash commented on #655
We're looking at creating an intermediate representation for graphical rendering.  Please follow https://github.com/Khan/KaTeX/issues/376.

[2018-01-29 01:38] #655 closed

[2018-01-29 01:43] kevinbarabash commented on #68
I'm not seeing this issue anymore in Chrome.  @phoenixeliot please re-open if you're still experiencing it.

[2018-01-29 01:43] #68 closed

[2018-01-29 01:44] kevinbarabash commented on #203
Marking this as an accessibility issue too b/c I'm sure the browser will read "one two three" instead of "one hundred twenty three".

[2018-01-29 04:01] #1052 closed

[2018-01-29 04:04] kevinbarabash commented on #1104
@Syndesi I've just merged #1090 which should solve the issue you ran into earlier with the fonts being missing.

[2018-01-29 04:29] kevinbarabash commented on #1046
I think we could provide this functionality behind a switch.

[2018-01-29 04:31] kevinbarabash commented on #1066
This was fixed with #1094 except for the position of accent characters in `\textit{}`.  I've opened a separate issue, #1099, to track this.

[2018-01-29 04:31] #1066 closed

[2018-01-29 07:35] arlohosk commented on #1114
Btw, behavior is also weirdly inconsistent  - I haven't changed anything on this page (although I did activate MathJax on another HTML template - this is a SPA web app, I'm assuming that's what causeded), and that causes Katex to go haywire:

https://imgur.com/a/QpbOl

[2018-01-29 08:06] ylemkimon commented on #1114
The v0.9.0-beta1 was released a few hours ago. Could you try it?

[2018-01-29 08:10] arlohosk commented on #1114
@ylemkimon  thanks for the heads up. Will give it a shot later this week (due to other reqs)

[2018-01-29 08:22] mbourne commented on #1114
I downloaded 0.9.0-beta yesterday, and also came across the inconsistent double-thickness fraction line problem. Here's a screen shot (Chrome latest on Win7, same deal on Opera, FF, IE. I use 1.15em for .katex font-size) showing some thick, some not thick fraction lines:
![image](https://user-images.githubusercontent.com/7541940/35499409-262b1d5e-050d-11e8-8ac0-c00ed5386f3f.png)
I also noticed som

[2018-01-29 16:30] ronkok commented on #1114
@mbourne I think that @arlohosk's double line is being caused by something  different than your thick line. I hope that the double line has just been solved by release  0.9.0-beta1.

Also, @mbourne , the second SVG line is there by design. I have an explanation in two versions. The short version is that the second line is there to prevent the frac-line from blurry edges.

Read on if you want to he

[2018-01-29 18:02] arlohosk commented on #1114
Still getting the same double-bar issue with 0.9.0-beta1
![image](https://user-images.githubusercontent.com/17307262/35526121-746ad6c6-04f4-11e8-9d9b-7621eee4cb07.png)

Not sure if this and the earlier image I posted (https://imgur.com/a/QpbOl)  is related with the haywire fraction layout when mathjax is activated (on another part of the app)

[2018-01-29 20:07] soichih commented on #1114
I am seeing a related but an opposite issue. It looks like the horizontal bars are not displayed in sqrt/frac.

Like.. I have following syntax.

[code]

which is displayed as

![katex](https://user-images.githubusercontent.com/923896/35531737-e64a26aa-0505-11e8-9cd3-8613353f6a03.png)

If I downgrade to Katex 0.8.3, I see horizontal line for \frac (double-lined) but not \sqrt.

[2018-01-29 20:28] kevinbarabash commented on #1114
@soichih what OS/Browser are you using?

[2018-01-29 20:29] kevinbarabash commented on #1114
@mbourne can you post a link to that page?

[2018-01-29 20:43] soichih commented on #1114
@kevinbarabash I am using Ubuntu16 / Chrome. I am seeing the same issue with Firefox also.

I've added the text Katex syntax here

[2018-01-29 21:07] kevinbarabash commented on #1114
@soichih I'm seeing the same thing in Safari.  I'm confused.  It's using a sqrt character but we use SVG for `\sqrt` now.  What version of KaTeX are you using?

[2018-01-29 21:08] ylemkimon commented on #1114
@soichih I think you are using the new version of KaTeX CSS, but old version of KaTeX JS.

[2018-01-29 21:11] kevinbarabash commented on #1114
Firefox (Win7) @ 12px
<img width="48" alt="screen shot 2018-01-29 at 4 00 22 pm" src="https://user-images.githubusercontent.com/1044413/35534462-94b58a38-050e-11e8-88f8-04fc2d3b592b.png">

Firefox (Win7) @ 12px @ 90% zoom
<img width="49" alt="screen shot 2018-01-29 at 3 59 10 pm" src="https://user-images.githubusercontent.com/1044413/35534501-adf51e8c-050e-11e8-95dc-e25202314feb.png">

I think Fir

[2018-01-29 21:33] soichih commented on #1114
@ylemkimon I am using vue-markdown which uses markdown-it-katex which currently uses katex 0.6.0

I believe I should ask the maintainer of markdown-it-katex to upgrade to the 0.9.

[2018-01-29 22:02] ronkok commented on #1114
@mbourne How do `\sqrt` top bars compare to frac-bars? They're both 0.04em thick, but `\sqrt` uses two SVG `path`s and frac-bar uses two SVG `line`s. If the paths work better for you, I could easily make that change.

Such a change would also seem to clear up the problem for @arlohosk. The `\sqrt` in his screen shot looks good.

[2018-01-29 22:04] ronkok commented on #1114
@kevinbarabash Are you contemplating getting some space there by using a taller `\sqrt` view box and then an adjustment to the value we pass to `makeVList`?

[2018-01-29 23:15] kevinbarabash commented on #1114
@ronkok will you have time to give that a try?

[2018-01-29 23:25] mbourne commented on #1114
@ronkok Thank you for the explanation regarding double lines - makes perfect sense and explains why I was seeing grey lines when experimenting with 1 line and/or thinner line widths.

All the square root signs seem fine. Here's a case where the fraction line is thick, but the square root sign is good:

![image](https://user-images.githubusercontent.com/7541940/35539795-023ff244-058e-11e8-8019-ddc8

[2018-01-30 00:10] ronkok commented on #1114
@kevinbarabash Yes, I can put together a couple of  PRs. One to change frac-lines from SVG `line`s to `path`s and another to create some padding above the `\sqrt` line.

But that will be in a few days, when I'm feeling better. I'm a little under the weather at the moment.

[2018-01-30 01:38] #1053 closed

[2018-01-30 01:39] kevinbarabash commented on #1113
Since no-one has commented on this, I'm going to assume it's not an issue.

[2018-01-30 01:39] #1113 closed

[2018-01-30 01:45] kevinbarabash commented on #873
The `Settings` constructor encapsulates defaults though so I'm not sure how easy it would be to get rid of this class.

[2018-01-30 01:48] kevinbarabash commented on #1021
This is a duplicate of #1031.

[2018-01-30 01:48] #1021 closed

[2018-01-30 01:50] kevinbarabash commented on #895
I'm going to close this as a duplicate of #1046.

[2018-01-30 01:50] #895 closed

[2018-01-30 02:21] kevinbarabash opened #1115 "file naming convention"
Currently we use camelCase and PascalCase for file names.  Most JS projects I've see have used dashed filenames.  How would people feel about changing this?

[2018-01-30 04:42] ylemkimon commented on #1115
I think using all lowercases with hyphen or underscore as a seperator is better. Use all lowercase filenames. There are some file systems which have case-insensitive filename and it prevents from inadvertently using two files which differ only in case. Also it’s easier to write a hyphen than an uppercase letter, though this depends on the keyboard layout.

[2018-01-30 17:49] mourad1081 commented on #418
I am sorry to post something that has been closed since 2015 but Google brought me here and I wrote a little function (using jQuery) that does the trick. I use it to convert my Katex formulas to CKeditor :

[code]

Before using Ckeditor's setData(), I call the little function above in order to modify the html.

[2018-01-30 19:07] ronkok commented on #1052
@kevinbarabash We're making progress on a Windows local build. I'm no longer getting 60 fatal errors. But I am getting one. It is:
[code]

When I look in the local subdirectory  `../submodules/katex-fonts/` I find that `fonts.less` is indeed missing.  Somehow it was omitted when I merged `upstream/master` into my local repository. I could just manually copy that file from the KaTeX master to my lo

[2018-01-30 19:22] edemaine commented on #1052
@ronkok You will have to run `git submodule update --init --recursive` and possibly before that `git submodule sync`.

[2018-01-30 19:23] edemaine commented on #1052
Is there not a standard hook for doing this automatically?... Would be convenient, but I also haven't seen it elsewhere, so perhaps it's harder than I think.

[2018-01-30 20:04] ronkok commented on #1052
Success! Thank you, @edemaine. It worked after I ran `git submodule update --init --recursive`. The `sync` was not necessary.

Is it worthwhile to add this bit of wisdom to the [Contributing to KaTeX page](https://github.com/Khan/KaTeX/blob/master/CONTRIBUTING.md)? At present, the page says that "Most of the time you won't have to worry about [submodles]."

[2018-01-30 20:35] edemaine commented on #1115
To me the PascalCase examples are striking because they match the name of a class defined in the file. I'd prefer to keep these, and leave the rest as camelCase for consistency. But I don't feel strongly.

[2018-01-30 21:03] kevinbarabash commented on #1052
I guess that's a bit disingenuous if I keep making changes to `KaTeX\katex-fonts`.  :\

[2018-01-30 21:08] edemaine commented on #576
@kevinbarabash's PR #1029 already did this, as part of the Unicode accent revamp. I just double-checked that it works on master (but not on the demo site, which I guess is using an older version). Forgot there was an old issue about it!

[2018-01-30 21:08] #576 closed

[2018-01-30 21:35] edemaine commented on #1046
@kevinbarabash Nice idea. Perhaps `unicodeTextInMathMode`, where `false` means LaTeX compatible and `true` means MathJax compatible? Should the default be `false`? The differences from current master would be:
* When `unicodeTextInMathMode` is `true`, CJK and other similar languages get added support in math mode (as requested in #895).
* When `unicodeTextInMathMode` is `false`, `é` and other acce

[2018-01-30 21:55] kevinbarabash commented on #1046
We can always go straight to 0.10.0-alpha.

[2018-01-30 22:12] edemaine commented on #1046
I drafted up a PR: #1117

[2018-01-30 23:10] #1077 closed

[2018-01-30 23:15] kevinbarabash commented on #1046
Fair enough.  If we were doing this right we would freeze a version branch and then only accept bug fixes into that branch.  Or rather... keep merging everything on `master` and then we'd cherry-pick commits over to the 0.9.0 branch.  I'd want to review release.sh to make sure it would work from a non-`master` branch.

[2018-01-31 02:29] kevinbarabash commented on #237
Added in #1110.

[2018-01-31 02:29] #237 closed

[2018-01-31 02:32] kevinbarabash commented on #368
Closing due to lack of activity.

[2018-01-31 02:32] #368 closed

[2018-01-31 02:33] kevinbarabash commented on #496
Closing due to lack of activity.

[2018-01-31 02:33] #496 closed

[2018-01-31 02:37] kevinbarabash commented on #595
We could easily move katex.less into `src` now.

[2018-01-31 04:17] kevinbarabash opened #1121 "remove Makefile"
Many of the existing targets have already been migrated to package.json.  The release.sh script will probably need a little tweaking.

[2018-01-31 04:53] kevinbarabash commented on #595
I'm going to close this now that katex.less has been moved into src and fonts.less is in KaTeX/katex-fonts.

[2018-01-31 04:53] #595 closed

[2018-01-31 05:05] kevinbarabash commented on #41
I was going to close this b/c we fixed the values of sigma14 and sigma15, but there's definitely still an issue.  The following was rendered using the sandbox at 16px.
<img width="295" alt="screen shot 2018-01-30 at 11 57 28 pm" src="https://user-images.githubusercontent.com/1044413/35605843-9154bec0-0619-11e8-9891-d48a5a75a981.png">
Zooming in highlights the issue:
<img width="494" alt="screen sh

[2018-01-31 05:14] kevinbarabash commented on #49
Closing due to inactivity.  Also, we've recently added support for a number of unicode characters.  Search for "Direct Input" on https://khan.github.io/KaTeX/function-support.html.

[2018-01-31 05:14] #49 closed

[2018-01-31 05:39] kevinbarabash commented on #272
If we create an .sty file it would be cool if we could use it in test.tex.  Maybe by exporting an appropriate value for the `TEXINPUTS` environment variable.

[2018-01-31 05:51] kevinbarabash commented on #320
@xymostech it looks like this is redefined in `amsmath`.  `pdflatex` renders the following document
[code]
to
<img width="414" alt="screen shot 2018-01-31 at 12 48 03 am" src="https://user-images.githubusercontent.com/1044413/35607106-97f41a58-0620-11e8-98cf-2661d7b0a55b.png">

[2018-01-31 05:53] kevinbarabash commented on #358
@daniel3735928559 KaTeX supports `\clap` now.  Going to close this in preference of #809.

[2018-01-31 05:55] kevinbarabash commented on #358
Sorry, re-opening.  `\cursor` could definitely be added to the 'contrib' folder.

[2018-01-31 06:22] akalin opened #1124 "Support for \mathring"
\mathring is a math mode accent defined in [amssymb](http://milde.users.sourceforge.net/LUCR/Math/mathpackages/amssymb-symbols.pdf).

It's basically the math mode equivalent of the text mode accent \r. I just needed it for a single letter (`$\mathring g$` for the round metric) so I tried to hack it up with `$\text{\r \textit{g}}$` but it doesn't look great:

<img width="27" alt="screen shot 2018-0

[2018-01-31 12:32] kevinbarabash commented on #1124
@akalin once we fix #1099 your hack should work.

[2018-02-01 00:09] edemaine commented on #1124
Wow, thanks for the heads up about `\mathring`! Other than `\H`, it was bugging me that this accent was text-mode-only. I'm adding support for it now, and it renders correctly.

[2018-02-01 00:15] edemaine commented on #1121
We can change `make unicode` (I think the only Makefile rule that I added) into `npm run unicode` (i.e. a script) or something similar.

[2018-02-01 00:29] edemaine commented on #1099
I've tracked the bug down to [these lines](https://github.com/Khan/KaTeX/blob/e4fe1c89d48585252e96b0f7d414b37d883aed70/src/buildCommon.js#L146-L160) of `buildCommon.mathDefault`

[2018-02-01 00:48] #1124 closed

[2018-02-01 01:02] kevinbarabash opened #1126 "better organize and simplify tests"
Currently, test require writing verbose `it("should ...", () => { ... }` along with multiple `expect(...).toSomethingSomething(...)`.  Also, we separate parser tests from builder tests.  I would like suggest group all tests for a particular command together in the same place.  This will make it easier for people to get the whole picture of the behavior of particular commands.

I would also like to

[2018-02-01 01:03] #243 closed

[2018-02-01 02:05] edemaine commented on #1124
@akalin Your non-hack version should work now, on the master branch.

[2018-02-01 02:20] edemaine commented on #1099
The bug seems to stem from the choice of font. `$A$` renders an A in font family KaTeX_Math style italic, while `$\textit{A}$` renders an A in font family KaTeX_Main style italic.  KaTeX correctly detects this, and uses the *differing* metrics already in `fontMetricsData.js`:

[code]

[2018-02-01 02:25] edemaine commented on #1126
Related to #1031 (which should maybe be done first? or in any case we should build that general module).

[2018-02-01 03:28] kevinbarabash commented on #353
The accent glyphs in the fonts no longer have a horizontal shift.  This change was made in https://github.com/KaTeX/katex-fonts/pull/5 and https://github.com/Khan/KaTeX/pull/1094.  This is still an issue, but could probably be fixed now.

[2018-02-01 04:25] kevinbarabash opened #1128 "audit duplicate definitions"
#1069 adds `'\lbrack` and `\rbrack` even though we already support them.  This is b/c there are multiple ways to define things in LaTeX/KaTeX.  It would be nice if we had a way to audit duplicate definitions.  Creating a central lookup for all defined commands/functions, symbols, macros, and environments might be one way of doing so.

[2018-02-01 05:37] kevinbarabash opened #1129 "convert symbols.js to JSON"
That way the data could be used by other projects or for other purposes even within KaTeX.

[2018-02-01 05:39] kevinbarabash opened #1130 "define \! \, \: \; \enspace \qquad and \quad as macros using \kern"
This would allow us to make the `replace` parameter in `defineSymbol` mandatory.

[2018-02-01 06:57] akalin commented on #1124
Thank you!

[2018-02-01 13:52] edemaine commented on #1128
Can we add a custom lint process?

[2018-02-01 18:33] #929 closed

[2018-02-02 01:55] kevinbarabash opened #1132 "Interpolating radical symbols"
Now that we have radical symbols defined inside our JavaScript, it's possible we could interpolate between them.  One of the things that's bugged me about LaTeX's `\sqrt` is that the depth can vary depending on the contents even if the contents' depths are the same.

<img width="443" alt="screen shot 2018-02-01 at 8 51 46 pm" src="https://user-images.githubusercontent.com/1044413/35712817-08cbb58e

[2018-02-02 03:28] kevinbarabash opened #1133 "Improve dev docs around submodules in CONTRIBUTING.md"
Whenever switching branches it's best to also do a `git submodule update` b/c for some reason `git` doesn't do this by default.

[2018-02-02 07:57] ylemkimon commented on #1133
Since git 2.13, we can use `--[no-]recurse-submodules` in `git-checkout`.

[2018-02-02 12:51] edemaine commented on #1133
Is there a nice way to turn on recursion by default for a user or repo?

[2018-02-02 13:14] ylemkimon commented on #1133
@edemaine We can add hooks to `post-merge` and `post-checkout`.

[2018-02-02 13:28] edemaine commented on #1133
@ylemkimon Sounds nice.

[2018-02-02 17:06] ylemkimon commented on #1109
I think the word `demo` is more familiar.

[2018-02-02 17:15] ylemkimon commented on #1107
- [ ] Won ₩
- [ ] Yuan 元
- [ ] Lira ₺
- [ ] Baht ฿

[2018-02-02 17:29] ylemkimon commented on #1098
What do you think about enabling `loose` option on babel preset? (Related to #850)

[2018-02-02 17:47] ronkok commented on #1109
Agreed. I'll use "Demo".

[2018-02-02 19:46] TyOverby opened #1137 "Placement glitch for `cases`"
`$\sum_{i=0}^{1,000,000,000} \begin{cases} i/2 + 2 & \text{if } i \% 2 = 0 \\\\ 0 & \text{otherwise} \end{cases}$`

produces the following image:

<img width="313" alt="image" src="https://user-images.githubusercontent.com/573215/35751616-0e66f64e-080e-11e8-9c99-56a655344384.png">

[code]

[2018-02-02 20:15] ronkok commented on #1137
@TyOverby What version of KaTeX is rendering that expression?

[2018-02-02 20:19] ronkok commented on #1137
Also, the "%" in your expression should be "\%".

[2018-02-02 20:35] TyOverby commented on #1137
@ronkok: I'm using the versions recommended on the readme:

[code]

[2018-02-02 20:38] TyOverby commented on #1137
@ronkok: thanks for the correction, turns out markdown thought that was an escape sequence, so I've quoted it.

[2018-02-02 22:42] bb010g commented on #171
Some documentation on how to set up MathJax as a fallback for KaTeX in the mean time would probably be good.

[2018-02-02 22:54] TyOverby commented on #1137
This was my mistake.  I was overriding the fonts that KaTeX uses.

[2018-02-02 22:54] #1137 closed

[2018-02-02 23:00] bb010g opened #1138 "Improve documentation of missing features and workarounds"
KaTeX is optimized for rendering a subset of LaTeX fast—which is great! What's not so great, though, is when you don't know quite what that subset is and run into issues. Right now, KaTeX's main documentation doesn't cover well what it's missing. There's a listing of what [is present](https://khan.github.io/KaTeX/function-support.html), but not what isn't. [CONTRIBUTING.md](https://github.com/Khan

[2018-02-02 23:51] edemaine commented on #1138
It sounds like you're looking for an index of the feature requests (say, "regular LaTeX features") that are in the issues? (Unless you have in mind a way to also find LaTeX features we're missing that are not yet issues...)  I worry about keeping such a list up-to-date...  Maybe if there was a tag on issues for "missing LaTeX feature", we could link to the list of them (as opposed to the entire li

[2018-02-03 01:15] kevinbarabash commented on #1138
The list of what isn't in KaTeX could be very large.  LaTeX supports lots of packages.  I guess we could list some popular packages that we don't support at all, and then for packages where we do have partial support list those things from those packages which we don't support.  This would take a big effort though so I'd want to have some way to automate this.

[2018-02-03 02:51] ylemkimon commented on #1138
There is [an Alphabetical List of TeX Commands available in MathJax](http://www.onemathematicalcat.org/MathJaxDocumentation/TeXSyntax.htm). Maybe we can use it to build a list of missing features and compare with MathJax.

[2018-02-03 03:44] ronkok commented on #1138
[This page](http://utensil-site.github.io/available-in-katex/) makes a pretty good attempt at documenting which MathJax commands are not yet in KaTeX.  The KaTeX [Contributing page](https://github.com/Khan/KaTeX/blob/master/CONTRIBUTING.md) already alludes to it.

[2018-02-03 04:02] ronkok commented on #1138
Several of those MathJax features are not present in any LaTeX package. And some of them are duplicates of LaTeX functionality. Like `\cases` in addition to `\begin{cases}`. Such features may never make it into KaTeX.

[2018-02-03 04:42] ronkok commented on #1138
As to a fallback, I used to have a site in which I would make the following call after calling `renderMathInElement`;
[code]

That code is now out of date. MathJax has changed their CDN and they now have version numbers, not "latest" in the address.

But I stopped calling a fallback because there was no longer any point. KaTeX renders all that I need.

[2018-02-03 04:59] blackhole12 commented on #1138
Linking [this page](http://utensil-site.github.io/available-in-katex/) prominently in the main KaTeX documentation instead of in the contributing page would be enormously helpful if someone installs KaTeX only to later find out that something they want to use for a new document isn't supported yet.

[2018-02-03 05:19] ronkok commented on #1138
@kevinbarabash Query: Should I put [this page](http://utensil-site.github.io/available-in-katex/) into the list of links on the function support page?

[2018-02-03 05:22] ronkok commented on #1138
I can't think of a title short enough to fit onto the list. Maybe I'll just add the link to the introductory paragraph at the top of the page.

[2018-02-03 05:32] kevinbarabash commented on #1138
@blackhole12 thank you for reminding me about that page.

Interestingly `%` fails b/c we require a new line at the end of comments.  The test for `\left` and `\right` fail b/c we require those to be balanced as does LaTeX (MathJax appears to be more liberal with what it accepts).  We should probably file issues with https://github.com/utensil-site/available-in-katex/issues for the `\left` and `\ri

[2018-02-03 05:33] kevinbarabash commented on #1138
I've also opened https://github.com/utensil-site/available-in-katex/issues/2 to find a way to run the tests in node so that we can use the data to update our README.md at publish time.

[2018-02-03 05:36] kevinbarabash commented on #1138
I think `\brace` and `\brack` wouldn't be too hard to support as we already support `\over`, `\choose`, and `\atop`.  They're all very similar.

[2018-02-03 05:38] ronkok commented on #1138
Yeah,  `\llap` and`\rlap` are difficult. In LaTeX, they work in math mode, but only sometimes, depending on what's in the argument. And I have not found a robust rule that tells me exactly when they work and when they don't.

[2018-02-04 02:41] ronkok commented on #1138
Yes, but we can focus on a subset taken from two sources:
1.  KaTeX's GitHub issues page.
2. http://utensil-site.github.io/available-in-katex/

Those are items that somebody either cared about enough to program them or at least to sit down and write a request.

That subset is much smaller, with fewer items to manage than the KaTeX function support page. So I've written it up. It's a KaTeX [wiki pa

[2018-02-04 03:04] #965 closed

[2018-02-04 19:39] kevinbarabash opened #1141 "Improve code coverage in unit tests"
We're not using codecov to generate code coverage reports.  Some of the files in src/functions in particular have pretty low coverage.  It would be good to increase our unit test coverage.  https://codecov.io/gh/Khan/KaTeX/tree/master/src/functions

[2018-02-04 20:14] kevinbarabash opened #1142 "Figure out the correct rendering for \c{g}"
See discussion in https://github.com/KaTeX/katex-fonts/pull/26.

[2018-02-05 14:33] #748 closed

[2018-02-05 22:08] ronkok commented on #1138
[Technical notes on the amsmath package](http://texdoc.net/texmf-dist/doc/latex/amsmath/technote.pdf) deprecates the whole family of functions that use the infix syntax similar to `\atop`. It suggests using [\genfrac](https://www.tutorialspoint.com/tex_commands/genfrac.htm) instead.  I can write a PR that will add `\genfrac` to KaTeX.

Once we have `\genfrac`, do we still want to include `\above`,

[2018-02-05 22:12] edemaine commented on #1138
I'd say we should ideally support both.  We already support `\over` and `\atop` (which I'm very happy about, as I use those myself day-to-day -- I find they are more intuitive than say `\frac`).  It also shouldn't be hard to support one given the other (and I'd be happy to work on that aspect of it, as I've added these kinds of implicit-argument commands before).  But `\genfrac` sounds like a good

[2018-02-05 22:19] ronkok commented on #1138
@edemaine Say that we add the other infix functions. Should the function support page then include a disclaimer saying that they might coexist poorly with macros?

Or are those problems just the sort of thing that a macro writer is expected to know?

[2018-02-05 22:38] kevinbarabash commented on #1138
I think a warning to not use infix functions inside macros is a good note as lots of people will probably be writing macros even though they don't know some of these issues.

[2018-02-05 22:45] edemaine commented on #1138
Personally, I find the AMS's deprecation of a standard TeX/LaTeX feature kind of obnoxious, even if it is well-intentioned.  Many users don't `\usepackage{amsmath}`, so they don't even have a choice here.  I believe KaTeX should be agnostic on these points (*we* shouldn't deprecate them), in particular because it's unlikely that KaTeX-level macros will get into the issues mentioned.  But it certai

[2018-02-06 17:39] #1121 closed

[2018-02-06 18:38] ylemkimon commented on #1133
[chaitanyagupta/gitutils/submodule-hooks](https://github.com/chaitanyagupta/gitutils/tree/master/submodule-hooks) seems to provide nice scripts to work with submodules.

[2018-02-07 00:53] RoyiAvital commented on #61
Any new product ideas how to tackle the 'align' environment and equation numberin?

[2018-02-07 01:53] edemaine commented on #61
For `align`/`align*`, I'd say #604 is my current approach. Sadly I still haven't gotten to doing it, though there I've written [code in another project](https://github.com/edemaine/coauthor/blob/master/lib/formats.coffee) to do it.

For equation numbering, the first step would be to implement `\tag` (#899).  There's a question there that could use your feedback.  I haven't thought deeply about add

[2018-02-07 02:25] kevinbarabash commented on #61
This is, at the moment, not shared state between invocations of `render()` or `renderToString()`.  We'd have to introduce the concept of rendering a "document".  We might look at having a way to create a document renderer which can:
- `\begin` a "document"
- `render()` multiple pieces of LaTeX
- `\end` a "document"

[2018-02-07 02:32] edemaine commented on #61
#604 is roughly along those lines.

We could also have some kind of shared state between invocations of `render`, with variables etc.  This is similar to #687 (`\setlength`), but also for `\setcounter`; it's also similar to the already specified macro mapping.  One could imagine that you pass in the counters map (initially `{equation: 0}`), then this gets incremented when equation numbers get used

[2018-02-07 03:52] rrandallcainc opened #1147 "Expressions in Fractions Don't Contain Appropriate Spacing Data"
While working on: https://github.com/Khan/KaTeX/pull/251 I noticed that the domTree does not contain appropriate spacing data for expressions in fractions.

Example behaving correctly (non-nested expression): `a+b` will create a dom tree with following structure
<img width="609" alt="screen shot 2018-02-06 at 10 41 00 pm" src="https://user-images.githubusercontent.com/16921005/35897497-731a9bf2-0b

[2018-02-07 13:41] kevinbarabash commented on #1147
@rrandallcainc is the base style `\textstyle` or `\displaystyle`?

[2018-02-07 13:49] rrandallcainc commented on #1147
@kevinbarabash Doh! Didn't realize that KaTeX leverages the `displayMode: true` option in the demo page. I think this actually fixes another issue of mine as well... Going to double check, and then I'll close.

[2018-02-07 14:18] rrandallcainc commented on #1147
Confirmed this was indeed this issue. Thanks Kevin.

[2018-02-07 14:18] #1147 closed

[2018-02-07 16:26] rrandallcainc opened #1148 "Supporting Arbitrary Font in Text Mode"
Is it possible to support an arbitrary font in text mode? I know Math mode is much more limited, but trying to see what's available for text.

Something along the lines of: https://tex.stackexchange.com/questions/67768/times-new-roman-font/67769

I don't think this is supported out of the box, but how would one approach this, if at all?

[2018-02-07 16:54] kevinbarabash commented on #1147
@rrandallcainc there's an open issue to add a toggle for `displayMode` to the test page, see #1035.

[2018-02-08 07:26] ylemkimon commented on #1148
I think we can provide font metrics data in similar manner to #1074.

https://github.com/Khan/KaTeX/pull/1074#issuecomment-362783568 by @kevinbarabash

[2018-02-08 13:44] kevinbarabash commented on #1148
There's a [Font Metrics API](https://github.com/w3c/css-houdini-drafts/tree/master/font-metrics-api) in the works, but it's quite a ways off.  That would definitely make this easier.

[2018-02-08 15:26] FavorMylikes opened #1149 "\ge and \gt looks not in the same baseline"
$$l_i(x)=\prod_{j=0,n\ge i\gt j\ge 0}^n\frac{(x-x_j)}{(x_i-x_j)}$$
    $$L=\prod_{i=0,i\not = j}^ny_i\frac{(x-x_j)}{(x_i-x_j)}$$
    $$n\ge i\gt j\ge 0\geqslant1$$

[2018-02-08 15:32] FavorMylikes commented on #1149
![lcl2n _ a j57ly_00nuc c](https://user-images.githubusercontent.com/16064851/35981472-4c4f0fb8-0d28-11e8-986d-928455d18bb9.png)

[2018-02-08 17:13] jaltekruse opened #1150 "Thank you Khan development team"
Hello Khan development team,

This isn't reporting an issue, I just wanted to take a moment to thank you for releasing all of your great open source projects for the benefit of the edtech community. Thanks to a number of your fantastic projects like Katex, KAS and Perseus, I was finally able to complete a passion project I had been wanting to build for a long time. It is an offline react applicati

[2018-02-08 22:12] kevinbarabash commented on #1149
This is standard TeX behavior.  Here's a rendering from quicklatex.com:

<img width="679" alt="screen shot 2018-02-08 at 5 11 50 pm" src="https://user-images.githubusercontent.com/1044413/36001099-301f0044-0cf3-11e8-9592-0b038604d275.png">

[2018-02-09 14:36] kevinbarabash commented on #1150
@jaltekruse I too find the scratchpad hard to use with a mouse or a trackpad.  I had a look at the video on freemathapp.org.  I like the copy and modify workflow.  I'll pass this along to one of product managers.

[2018-02-11 21:32] kevinbarabash commented on #1141
I would say this is blocked on #1126 since we'll want to have better patterns in place to make writing more tests easier.

[2018-02-11 21:34] kevinbarabash commented on #1130
As part of this we should be able to remove CSS rules that were specific to some of these spacing commands.

[2018-02-11 21:56] #987 closed

[2018-02-11 22:13] kevinbarabash commented on #1149
@FavorMylikes since this appears to be the default behavior of LaTeX I'm going to close this.  If you would like adjust the height of `<` and `>` I would try defining a macros to redefine `\lt` and `\gt`.  Probably best to give those macros different names though as I don't believe our macro system provides a way to safely redefine a command using that command yet.  See https://github.com/Khan/KaT

[2018-02-11 22:13] #1149 closed

[2018-02-11 22:34] FavorMylikes commented on #1149
Thank you for your reply and suggest, I will try it.

[2018-02-12 13:43] yeruoforever opened #1153 "\mathrlap bounding box does not expand for tall argument"
when input this:
$$T+\rlap{\overbrace{\phantom{a_0+a_1+a_2+\cdots+a_k}}^m}a_0+\underbrace{a_1+a_2+\cdots+a_k}_n+f$$
output is :
![2018-02-12 21-33-40](https://user-images.githubusercontent.com/19868036/36099239-d167dfa6-103c-11e8-9282-0f5102d15416.png)
some times output is like this：
![2018-02-12 21-40-10](https://user-images.githubusercontent.com/19868036/36099476-ca06b4c0-103d-11e8-8ca0-1c7f59d3

[2018-02-12 16:44] edemaine commented on #1153
FWIW, that code should be
[code]
I confirm that I see the same as your first image, which is buggy.  (I couldn't get the example with `$` to work, even with `\$`.  But LaTeX renders it like your second image.)  My guess is that the height of the `\phantom` is somehow not getting incorporated into the height computation of the `\overbrace`... but this will require some investigation.

[2018-02-12 17:37] ronkok commented on #1153
There is a bug there and I'll look into it. In the meantime, @yeruoforever , is this the sort of thing you were seeking?
![overbrace](https://user-images.githubusercontent.com/16403058/36110663-467b551c-0fd8-11e8-8030-76231879462f.PNG)

If so, then you can use:
[code]

[2018-02-12 19:26] ronkok commented on #1153
I believe that I see the source of the bug. The problem is in `\rmathrlap`, not `\overbrace` or `\phantom`.

 KaTeX `rlap` and `llap` have always worked by just nesting a span with absolute positioning inside a span that has relative positioning. Then it is easy to manipulate the horizontal alignment by setting `left: 0;`  or `right:0;`.

But that doesn't address the vertical alignment issues when

[2018-02-12 19:28] edemaine commented on #1153
@ronkok Nice! So it's the HTML vertical bounding box being incorrect, not that the `height` value isn't getting set?

[2018-02-12 19:34] ronkok commented on #1153
@edemaine Exactly correct. You can confirm that by erasing `\phantom` from the expression. All the vertical alignment issues are still there. On the other hand, if you erase `\mathrlap`, all the vertical alignment issues are resolved.

There probably many ways to fix this, but the KaTeX `makeVList` method has been debugged to overcome many browser-specific vertical alignment issues. It's the most

[2018-02-12 21:08] rrandallcainc opened #1154 "\boldsymbol removes spacing in expressions"
Rendering: `a\boldsymbol{+}c` will not contain spacing between the appropriate terms.

<img width="571" alt="screen shot 2018-02-12 at 4 08 39 pm" src="https://user-images.githubusercontent.com/16921005/36119774-04771958-100f-11e8-8965-22bc90c2ad0f.png">

[2018-02-12 21:10] #1148 closed

[2018-02-12 23:04] sjorsvanheuveln opened #1155 "Is there a React / ES6 implementation?"
Hi there,

I'm trying to set up KaTeX in react-16 using ES6. However I can't get it working. Also the react-katex repo is poorly maintained, so I'm currently kind of stuck. How to integrate katex rendering into react-16?

[2018-02-13 03:43] kevinbarabash commented on #1155
@sjorsvanheuveln does React 16 still support `dangerouslySetInnerHTML`?

[2018-02-13 03:44] kevinbarabash commented on #1154
Well that's no good.  @rrandallcainc good find.

[2018-02-13 08:35] ylemkimon commented on #1155
@kevinbarabash Yes

---
There is a react component that is developed and used by Khan Academy in [Khan/react-components/js/tex.jsx](https://github.com/Khan/react-components/blob/master/js/tex.jsx) ([Demo](http://khan.github.io/react-components/#tex)).

[2018-02-13 12:04] kevinbarabash commented on #1155
We should probably just add that to the README.md.

[2018-02-13 12:07] kevinbarabash commented on #1155
I didn't see anything particular wrong with https://github.com/talyssonoc/react-katex.  It hasn't been updated in a while, but it would only need updating if a person need access to recently added KaTeX options.  Although https://github.com/Khan/react-components/blob/master/js/tex.jsx has been updated recently it doesn't expose any of the new options either.

[2018-02-13 13:29] sjorsvanheuveln commented on #1155
@kevinbarabash I think `dangerouslySetInnerHTML` it is still supported, but that react-katex is giving me all kinds of problems. Maybe I have some conflicting packages or something, but that would be weird. I'll check that tex component, maybe that will solve all my problems. Thanks.

[2018-02-13 14:39] sjorsvanheuveln commented on #1155
How do I include this now? I have to use git submodules to install react-components? Can't I install through npm?

[2018-02-13 15:12] kevinbarabash commented on #1155
It looks like it's not handling the JSX.  You're babel config is probably excluding all files in node_modules.  You'll have to adjust the regex to all files in react-components to be transformed.

[2018-02-13 15:29] sjorsvanheuveln commented on #1155
Hmm, when I compare all the other NPM packages to this package I see that most of this is in JSX and all these other packages are JS only. This package seems to be an exception. Is this built in another fashion or something? Also I cannot just simply do this after installation:

`import { Tex } from 'react-components';`

It says the path is unresolved but the folder clearly exists in node_modules.

[2018-02-13 16:08] kevinbarabash commented on #1155
@sjorsvanheuveln that package is poorly constructed.  It doesn't defined a `main` entry point.  It really should have an `index.js` and multiple packages for each individual component if we wanted to get fancy.  Sorry about all of the issue with that package.

[2018-02-13 16:19] sjorsvanheuveln commented on #1155
No worries, is that on the planning though? Is it hard to make it like that?

[2018-02-13 16:38] edemaine commented on #1155
@sjorsvanheuveln None of the authors of that package are developers of KaTeX. I'd suggest posting an issue there, or someone could send in a PR...

[2018-02-13 22:05] rrandallcainc opened #1158 "Supporting \underline in Text Mode"
As a user I would expect `\text{\underline{hi}}` to work. Currently this works as expected in Math mode.

Actual Results: Error is thrown, and text is not rendered with an underline.

Not sure if this is considered a bug, or just not yet implemented, but tagging as a bug for now.

[2018-02-14 00:26] edemaine commented on #1158
Agreed! I confirmed that this works in LaTeX. Fixed in #1159.

[2018-02-14 01:30] #1158 closed

[2018-02-14 11:05] sjorsvanheuveln commented on #1155
I did, but no response. Btw nice lectures on YT man! Learned some stuff from you.

[2018-02-14 15:04] Jonnygwi commented on #1155
@sjorsvanheuveln we have made react-latex and it works for us! Check it out https://github.com/zzish/react-latex

[2018-02-14 15:10] sjorsvanheuveln commented on #1155
@Jonnygwi How can I change the setup so that the css is already included in the package and doesn't need to be loaded externally?

[2018-02-14 15:33] Jonnygwi commented on #1155
@sjorsvanheuveln That is something we were thinking of adding to the project. At the moment you can either download the css or link to the cdn and include it into your template. You should not need to touch your webpack.

[2018-02-14 15:33] edemaine commented on #1155
If `react-latex` works well, we should probably link to it in the KaTeX README next to `ng-katex`.

[2018-02-14 18:54] ronkok commented on #1153
This bug can be fixed in file `lap.js` by replacing line 39:
[code]

... with this code:
[code]

As soon as I get my submodule issues worked out, I'll turn in a PR. But if this is a rush, anyone should feel free to do it sooner.

[2018-02-15 03:23] ronkok commented on #1075
I think the root of this bug is in the auto-render extension. The OP’s matrix includes a row separator of `\\[0.3em]` and the auto-render search is matching the `\[` inside `\\[0.3em]` as if it was the left delimiter for the start of a TeX string.

[2018-02-15 12:19] ArStah opened #1160 "[CRITICAL BUG] Inject any html/css/js by using KaTeX"
Please contact me to arsen.stahanov@gmail.com

[2018-02-15 12:52] kevinbarabash commented on #1160
@ArStah would you be willing to submit this using hackerone.com?

[2018-02-15 13:14] ArStah commented on #1160
@kevinbarabash i can't find your organization there

[2018-02-15 13:27] kevinbarabash commented on #1160
@ArStah it should be listed as Khan Academy.

[2018-02-15 15:08] ArStah commented on #1160
Look [here](https://gitlab.com/gitlab-org/gitter/webapp-temp-issues-for-move/issues/108) what happens

[2018-02-15 16:18] kevinbarabash commented on #1160
This is appears to be a gitter issue.  It looks like they aren't properly sanitizing the text inside `$$ ... $$` blocks before adding them to the page.

[2018-02-15 16:23] edemaine commented on #1160
Hard to tell without more information, but I imagine if there's any input to `katex.render`/`katex.renderToString` that can output a `<script>` tag, that'd be a bug in KaTeX. (Of course, gitter also shouldn't be relying on this, and should be sanitizing the output of KaTeX too... I certainly do this in my own project, though it'd be helpful to have guidelines for what to whitelist for KaTeX to wor

[2018-02-15 16:33] pascalwhoop commented on #1160
Yes I also believe it shouldn't be positioned in KaTeX although it could be "good" to help people who add this library to help themselves by sanitizing against any html *inside* of KaTeX. Or is there any use case where people have html>KaTeX>html?

[2018-02-15 16:37] kevinbarabash commented on #1160
@pascalwhoop could you expand on what you mean by `html>KaTeX>html`?

[2018-02-15 16:41] pascalwhoop commented on #1160
Ah sorry. Usually you nest KaTeX code inside of html right? So let's say we use
[code]
is there any reason why we should have it be something like
[code]

If not, then forbidding any html inside the string that is passed to `katex.render` could help developers help themselves. A bit.

[2018-02-15 16:55] kevinbarabash commented on #1160
We already "forbid" HTML inside the string we pass to `katex.render` b/c it's not valid LaTeX`.

[2018-02-15 16:57] pascalwhoop commented on #1160
Okay then how exactly does it occur, that the HTML breaks out? I guess you forbid it, throw an error and the string is output to the UI of the client, which then is in fact our HTML that got injected?

[2018-02-15 16:57] kevinbarabash commented on #1160
KaTeX autorender extension only looks at the `$$...$$` that are on the page.  If they contain malicious code, once they've been added to the page it's too late.

[2018-02-15 17:15] pascalwhoop commented on #1160
Yes and no.
Gitter probably sanitizes their posts and ensures there is no html in there. But for some reason they exclude the contents of KaTeX and don't turn < into &lt; . Probably because they don't want to mess with the code that's intended to be interpreted by KaTeX.

The error thrown by KaTeX parser then is also not sanitized. The error is thrown on the client side and there is no client side

[2018-02-15 18:03] edemaine commented on #1160
I would hope/expect Gitter isn't using the autorender extension, but rather calling `katex.renderToString` before rendering the LaTeX source to DOM.  Can anyone confirm/deny this?

@pascalwhoop I don't see why the error needs to be sanitized by KaTeX. No KaTeX code will render the error to HTML. At worst, it is printed as a console message.

[2018-02-15 19:34] pascalwhoop commented on #1160
@MadLittleMods is from Gitter and sent me [this line](https://github.com/gitterHQ/gitter-markdown-processor/blob/9f2122f07803630067a159fe9f2fc534dc5cbfbf/lib/process-chat.js#L144)

[2018-02-15 19:46] pascalwhoop commented on #1160
@edemaine has been contacted by the Gitter team. Gitter renders the KaTeX error as unsanitized HTML, which causes the trouble. I guess to give the user some feedback of what's not working.
I vote for close.
thanks for the triage

[2018-02-15 19:50] rrandallcainc commented on #1130
Love this idea!

[2018-02-15 19:50] ArStah commented on #1160
@pascalwhoop 👍

[2018-02-15 20:23] edemaine commented on #1160
Cool, glad we could help track it down.  To help avoid this in the future, I've added a paragraph to the README talking about what's safe and what isn't in PR #1161.  Reading it over and critiquing would be appreciated!

[2018-02-15 20:23] #1160 closed

[2018-02-16 03:31] MadLittleMods commented on #1160
@edemaine Thanks for the email response earlier ❤️

The situation has been remedied and there is a blog post here, http://blog.gitter.im/2018/02/16/gitter-xss-cryptocoin-mining-security-issue-notification/

[2018-02-16 04:23] yeruoforever commented on #1153
thanks very much

[2018-02-16 05:24] prabhatmuroor opened #1163 "Katex fraction line inside iframe is not aligned properly"
Katex is getting rendered properly in normal scenarios, but fraction lines are not aligned when rendered inside iframe.

![katex frac line](https://user-images.githubusercontent.com/32639057/36294557-8ac89fa4-1307-11e8-90de-91387a4dc7f8.PNG)

[2018-02-16 06:25] ArStah commented on #1160
@MadLittleMods great, thanks for quick reaction :+1:

[2018-02-16 17:08] ronkok commented on #1163
@prabhatmuroor Which version of KaTeX are you using?

[2018-02-16 19:29] kevinbarabash commented on #1163
@prabhatmuroor is there a test page that you could link to with this issue?

[2018-02-16 21:03] edemaine commented on #1153
Leaving this open until the PR gets merged.

[2018-02-17 19:04] kevinbarabash opened #1165 "Make project code coverage a required check"
I was wondering how people feel about making project-level code coverage targets a required check.  The goal is to either maintain or increase code coverage of unit tests over time.

[2018-02-17 19:09] kevinbarabash opened #1166 "Don't run tests if only documentation changes have been made"
It takes a while for tests to run and it would be nice if we could avoid running tests when we don't need to.

[2018-02-17 23:07] ronkok commented on #1165
That sounds fine, given good criteria. I find that I sometimes get a down rating when I move code from `functions.js` / `buildHTML.js` / `buildMathML.js` to the `/functions/` subdirectory. That seems wrong.

So the target must be global, not on each file.

[2018-02-18 02:15] mbostock opened #1168 "Fractional borders sometimes don’t appear."
I’ve noticed that sometimes the horizontal lines separating the numerator and denominator in frac expressions disappear (Chrome 64.0.3282.167, macOS 10.13.3, Retina display). For example:

![image](https://user-images.githubusercontent.com/230541/36347472-c73269ce-140c-11e8-8af5-60e2e1da129d.png)

This doesn’t always happen, even with the same input. For example, adding 0.5px to the margin-top abo

[2018-02-18 04:24] kevinbarabash commented on #1168
@mbostock https://github.com/Khan/KaTeX/pull/1143 may solve this.  I need to publish a new release though.

[2018-02-18 13:29] edemaine commented on #1165
Definitely the overall goal is a good one. We can try the automatic requirement. If it gets annoying, an alternative would be human enforcement (based on the codecov reports we're already getting).

[2018-02-18 22:05] kevinbarabash opened #1171 "Update demo page to use v0.9.0."
This change will need to be made on the `gh-pages` branch.

[2018-02-19 04:19] mbourne opened #1172 "0.9.0.zip has lots of unwanted stuff"
katex.zip on the 0.9.0 release page is 2.5 to 3x the normal zipped size, and contains stuff such as:

FOLDERS
contrib
dist
dockers
...

FILES
.arcconfig
.arclint
.babelrc
...

This would be confusing for first-timers.

However, katex.tar.gz contains the usual needed files and folders.

[2018-02-19 04:27] kevinbarabash commented on #1172
@mbourne I checked the .zip file and it contains the same thing as the .tar.gz.  Can you paste the URL?

[2018-02-19 04:33] edemaine commented on #1172
This looks like the source ZIP as opposed to the distribution ZIP. Maybe you're comparing an old distribution ZIP to the new source ZIP?

[2018-02-19 04:35] ronkok commented on #1172
@mbourne, There are two links on the release page:
1. katex.zip
2. Source code (zip)

The one you want is katex.zip. The contents you describe are in Source code (zip).

[2018-02-19 04:43] mbourne commented on #1172
<blush> I was sure I grabbed katex.zip - my bad. :-(

[2018-02-19 04:43] #1172 closed

[2018-02-19 05:00] mbourne opened #1173 "Thick grey bar on some fractions"
In v0.9.0, I see some good fraction lines and some overly thick grey ones (Chrome on Windows)

![image](https://user-images.githubusercontent.com/7541940/36362873-3d30d298-1573-11e8-9c2c-a4c846167fcd.png)

Firefox is a bit better in that it is less obvious (at least on my monitor setup). In the fractions on the first line, it appears to have a darker bottom 1px line and a lighter "shadow" above it

[2018-02-19 09:08] prabhatmuroor commented on #1163
@kevinbarabash Unfortunately our site is not public yet. So I cannot give a link to try.
@ronkok I am using Katex 0.6.0

[2018-02-19 13:41] edemaine commented on #1163
Can you upgrade? 0.10.0 was just released, and  lot has changed since 0.6.0.

[2018-02-19 14:22] kevinbarabash commented on #1163
v0.9.0 was just released.

[2018-02-19 16:12] ronkok commented on #1173
Well, that’s disappointing. I hoped that we had fixed things. @kevinbarabash, I’ll recap below the various ways that I have attempted to help.

| **Version**  | **Ink Source** | **Ink Height** | **Span Height**       | **Results**                                                                                                          |
|:-------------|:---------------|:---------------|:-----------

[2018-02-19 22:02] rrandallcainc opened #1174 "Old Font Functions should switch to Text Mode"
When trying: `\sf{for $a < b$ and $c < d$.}` an error is thrown as `$` is used within math mode. When using the `\sf` and other old font functions, the mode should be switched to text.

[2018-02-19 22:05] #1174 closed

[2018-02-19 22:18] edemaine commented on #1174
As you probably already figured out, `\sf` (and old font commands) don't switch to text mode in LaTeX.

[2018-02-19 22:19] rrandallcainc commented on #1174
Indeed I did haha.

[2018-02-19 22:35] mbourne commented on #1173
@ronkok I really appreciate your hard work on this issue and understand your pain.

Sure - I'm very happy to try out those 2 approaches for you.

(BTW, I think I'm currently sticking to 0.9.0-alpha1- I got a bit lost with the letters/numbers in those releases.)

[2018-02-19 22:37] rrandallcainc opened #1175 "Cleanup makeOrd Function"
Currently the `makeOrd` function does too much. The purpose of this is to clean it up and make it more readable.

From: https://github.com/Khan/KaTeX/pull/1111

[2018-02-19 22:46] kevinbarabash commented on #1175
@rrandallcainc this probably doesn't fit within the scope of what you were thinking of but someday it would be nice if we had an IR were the ord nodes contained exactly what font each character should be rendered as.

[2018-02-19 22:49] edemaine commented on #1175
@kevinbarabash Perhaps a function that maps the various font properties from #1111 into that actual font would be just as good, and perhaps the main role of `makeOrd`?  I've forgotten the details, but every time I look at the font choice code (and e.g. `mathDefault`) I feel like they are very confusing, possibly wrong, and could be improved.

[2018-02-19 22:50] #1038 closed

[2018-02-19 22:50] #1112 closed

[2018-02-19 22:53] kevinbarabash commented on #1175
I think if we split it up into two mappings that may simplify things.  Those two mappings might be:
- current options, character => family, weight, style
- family, weight, style, character  => actually CSS class for that font

[2018-02-19 22:55] edemaine commented on #1175
Mapping to CSS classes may also require knowing the parent CSS classes, to avoid repetition. Or maybe that's a third step, checking how your desired CSS class differs from the parent and thus what needs specifying.

[2018-02-19 22:55] ronkok commented on #1173
Results are in on the `shape-rendering: crispEdges` approach. In Chrome, on a monitor with 166 pixels per inch, I get many missing `frac-line`s. It's not acceptable.

I'll move on to the span-border-in-a-wide-span approach next.

[2018-02-19 23:01] edemaine commented on #1173
Is `shape-rendering: geometricPrecision` worth trying?  I'd actually never noticed it as an option before, but it sounds like what we want...

[2018-02-19 23:04] edemaine commented on #1173
I'd also like to point out that, in these examples, the lines span only 1 or 2 pixels.  I think it's reasonable for a thin line to render as gray and 1 or 2 pixels wide (depending on alignment with pixels) via anti-aliasing.  Of course, it doesn't hurt to search for a better rendering, but this one may be the most "accurate" (in representing subpixel offsets via grays, as antialiasing aims to do).

[2018-02-19 23:13] ronkok commented on #1173
It doesn't hurt to try `shape-rendering: geometricPrecision`. And I will try it, but I don't expect it to help.

That's what I'm doing, but it is not a completely open-ended search. If it turns out that occasional anti-aliasing is the price to be paid for always-on `frac-line`s, then I'll be willing to settle for that.

[2018-02-19 23:35] ronkok commented on #1173
Math with `geometricPrecision` has no missing `frac-line`s. That's good. And there's more.

On a 267 dpi screen, by my eyeball test, frac-line thickness matches the arrow shaft thickness of stretchy arrows. I expected that.

On a 166 dpi screen, frac-lines look thicker than the stretchy arrows. That surprised me. It might be just what we need. Later this evening, I'll put up a build so that @mbour

[2018-02-19 23:42] ronkok commented on #1173
Only in Chrome, not in IE 11.

[2018-02-20 01:09] rrandallcainc commented on #1175
@edemaine By a function that maps the various properties, were you referring to something like this? https://github.com/Khan/KaTeX/blob/master/src/buildCommon.js#L601

@kevinbarabash I'm a little fuzzy on what you mean by "what each font character should be rendered as". Are you referring to something like: render "hello" as `SansSerif-Bold`?

[2018-02-20 02:25] #1046 closed

[2018-02-20 02:27] ronkok commented on #1173
@mbourne I have temporarily put a zip file [here](https://s3-us-west-2.amazonaws.com/copyasmarkup.com/test/Builds/geometric.zip). It contains a copy of `katex.js` and `katex.css` built with the `shape-rendering: geometricPrecision` suggested by @edemaine.

I would appreciate it if you would try it out and tell me how it works with your test cases.

[2018-02-20 14:52] ronkok commented on #1171
@kevinbarabash What does this involve? I can see that the contents of `bower_components/katex/dist/` must be refreshed with files from the most recent release.

Is there anything else?

[2018-02-20 17:18] kevinbarabash commented on #1171
@ronkok that should be it.

[2018-02-20 17:18] kevinbarabash commented on #1171
It would be cool if we could automate this as part of the release script at some point.

[2018-02-21 01:45] mbourne commented on #1173
@ronkok Here's the same portion from my earlier post, once again Windows/Chrome. The fraction lines are still thick, but a little darker, which is better:

![image](https://user-images.githubusercontent.com/7541940/36458261-eed3df42-16e8-11e8-8824-ad029a933ef6.png)

On Firefox that particular portion looks good:

![image](https://user-images.githubusercontent.com/7541940/36458318-33d19a26-16e9-11e

[2018-02-21 02:11] kevinbarabash commented on #1168
@mbostock v0.9.0 was released recently can you give it another try?

[2018-02-21 02:12] kevinbarabash commented on #1173
@ronkok thanks for the recap.

I'd rather have some anti-aliasing fuzziness in the short term as opposed to the line disappearing in certain situations.  I think there are two things that we might look at in the future to address the anti-aliasing:
- round the height to the nearest pixel (probably not that hard)
- try to adjust the vertical position such that it lines up with pixel boundaries (har

[2018-02-21 20:45] ry-randall opened #1176 "Better Macro Docs"
I wasn't aware that the macro options could accept a function. This is awesome, and I think it would be cool to add it to the README.

[2018-02-21 23:36] edemaine commented on #1176
Oh, good point!  Sorry, that might have been me who added a feature without documentation...  It might also be good to clear up the confusion between the property name of the `macros` object and the name of the LaTeX macro, which is usually called a command in TeX parlance -- i.e., maybe change `\name` to `\command`.

[2018-02-22 01:34] ronkok commented on #1173
@mbourne may be on to something. I've run some tests and they were surprising. I've put up a [test page](http://copyasmarkup.com/test/lines/fracline-test.html) with the results.

[2018-02-22 17:32] davidflanagan commented on #820
Is there any kind of CSS media query that we could use to determine whether a screen reader is in use? Seem like that would be the ideal way to deal with this.

Failing that, maybe we could solve this (specifically for the Khan webapp) by having a per-user setting that we could query. For KaTeX that would mean we'd want an option to render() to specify visual rendering or a VoiceOver compatible re

[2018-02-22 17:34] kevinbarabash commented on #820
@somewhatabstract's suggestion sounds promising and easy to do.  Let's try that first.

[2018-02-23 17:56] ronkok commented on #1173
Given what I see on the [test page](http://copyasmarkup.com/test/lines/fracline-test.html), I propose to change frac-lines from SVG paths back to span borders and apply the `min-height` CSS found on the bottom row of the test page tables. Span borders, so long as they appear, are better than SVG paths. They look better, they probably render faster, and their underlying code is cleaner and simpler

[2018-02-23 17:59] edemaine commented on #1173
This sounds good to me.  How does this differ from 0.9.0-alpha1, and why did we switch? (I'm guessing there's an added CSS rule?)

[2018-02-23 18:16] ronkok commented on #1173
We switched because we got [two](https://github.com/Khan/KaTeX/issues/824#issuecomment-337108059) [reports](https://github.com/Khan/KaTeX/issues/824#issuecomment-344051809) that some frac-lines were still disappearing in 0.9.0-alpha1.

The proposed  differs from  0.9.0-alpha1 only by **deleting** one CSS class.  We would keep:
[code]

But we would delete:
[code]

I now believe that second class wa

[2018-02-23 19:31] kkiningh commented on #1173
Table 1:
<img width="1012" alt="screen shot 2018-02-23 at 11 29 03 am" src="https://user-images.githubusercontent.com/360345/36612945-d688efae-188c-11e8-9874-9db6a8c6e4ef.png">

Table 2:
<img width="1014" alt="screen shot 2018-02-23 at 11 30 02 am" src="https://user-images.githubusercontent.com/360345/36612981-f2d4db32-188c-11e8-8186-1ae1bb3e1c5e.png">

Table 3:
<img width="1011" alt="screen shot

[2018-02-23 19:40] ronkok commented on #1173
@kkiningh Thank you. That corroborates what I've seen. All the frac-lines appear. A few of the lines in `scriptscript` style are a bit thick, but that drawback is, I think, less serious than the fuzzy edges and gray lines reported by @mbourne in v0.9.0.

@kkiningh When you looked at the test page, were you using the same screen as when you reported some missing lines in v0.9.0-alpha1?

[2018-02-23 19:44] kkiningh commented on #1173
Same screen (15" 2017 MBP), although my chrome and OSX version have changed.

[2018-02-23 23:32] kevinbarabash commented on #1173
It'd be good to test on a non-retina device if we haven't already done so.

[2018-02-24 01:35] mbourne commented on #1173
@ronkok: Thanks for your efforts on this. Fairly obviously, I agree with your proposal! Hopefully all is good on non-retina devices. (FWIW: The last line of each table shows each frac line successfully on the non-retina touch laptop I'm currently using.)

[2018-02-24 01:53] akalin commented on #1173
Here's what i see on my 2015 retina Macbook pro:

Table 1:
<img width="1021" alt="table 1" src="https://user-images.githubusercontent.com/425576/36624315-79468c8a-18c2-11e8-9ed7-d5cd3c51834f.png">

Table 2:
<img width="1012" alt="table 2" src="https://user-images.githubusercontent.com/425576/36624316-7961e1ba-18c2-11e8-8ed9-f4c7a87911a2.png">

Table 3:
<img width="1009" alt="table 3" src="https://

[2018-02-25 13:39] RoyiAvital commented on #1154
There is also more issue related to `\boldsymbol{}`.

Go to the [Demo Page](https://khan.github.io/KaTeX/).

Enter:

`{a}_{out} = {a}_{in} + \left( {y}_{out} - {y}_{in} \right) \boldsymbol{1}`

Rendering won't work.

[2018-02-25 17:45] mbostock commented on #1168
0.9.0 fixes it for me! Thank you! 👍

[2018-02-25 17:45] #1168 closed

[2018-02-25 20:30] alexeymrkn opened #1178 "Subscript/height issue within contenteditable"
The issue is very well seen on these pictures. I'm using the latest version of KaTeX, the issue is reproducible in Chrome and Opera on macOS as well as Chrome for Android. Haven't had a chance to test it on other platforms yet.

**Chrome**
<img src="https://user-images.githubusercontent.com/6084153/36646076-9aa69eb6-1a83-11e8-9ba4-31afd538fb93.jpg" width=350>

**Safari**
<img src="https://user-ima

[2018-02-25 21:14] ronkok commented on #1173
Below are screen shots from a screen whose resolution is 166 dpi, per http://dpi.lv/.  Since it's resolution is less than 192 dpi, the bottom row of each table matches the middle row.

Table 1:
![table1](https://user-images.githubusercontent.com/16403058/36646470-9080ea1a-1a2c-11e8-8ad8-17c63d7b5a4c.PNG)

Table 2:
![table2](https://user-images.githubusercontent.com/16403058/36646479-9fc3a3fa-1a2c-

[2018-02-25 22:29] ronkok commented on #1178
I wonder if the KaTeX CSS is insufficiently isolated from external CSS.

@alexeymrkn Could you point to a test page where this occurs?

[2018-02-26 00:02] alexeymrkn commented on #1178
@ronkok this code is a part of a project that I maintain locally. After your request I've tried to reproduce the bug on a remote server (simplifying the code to ensure clearness) but failed to do so. It took me quite a time to realize that this bug appears only when inline math is rendered inside a `contenteditable` block.

So here is a [jsFiddle playground](https://jsfiddle.net/91sc0vru/5/) demon

[2018-02-26 01:00] ronkok commented on #1178
Among the  many clever steps in `makeVList`, it inserts a span with class `vlist` inside a span with class `vlist-r`, [here](https://github.com/Khan/KaTeX/blob/master/src/buildCommon.js#L560). The `vlist` span has no contents and it has a CSS rule of `display: table-cell;`. So it should render with the small height that the code defines for it.

Apparently Chrome will, in  `contenteditable` mode o

[2018-02-26 03:33] kevinbarabash commented on #1178
@ronkok thanks for investigating this.  I wish that we didn't have to content with `contenteditable`.  It's so poorly defined and each browser does its own thing. :\

[2018-02-26 03:40] kevinbarabash commented on #1154
@RoyiAvital the demo pages hasn't been updated, see https://github.com/Khan/KaTeX/issues/1171.

[2018-02-26 05:37] RoyiAvital commented on #1154
@kevinbarabash ,
It happens also with software based on KaTeX.
See - https://github.com/goessner/mdmath/issues/35#issuecomment-368304541.

[2018-02-26 17:53] kevinbarabash commented on #1154
@RoyiAvital what version of KaTeX is that project using?

[2018-02-26 18:31] goessner commented on #1154
@kevinbarabash ,

it should be `katex@0.8.3` with respect to `package.json`.

[2018-02-27 01:19] edemaine commented on #1154
I just posted over in https://github.com/goessner/mdmath/issues/35 but to repeat here: `\boldsymbol` got added in KaTeX v0.9.0-beta (also the recently released v0.9.0), so you just need to upgrade to add `\boldsymbol` support.

[2018-02-27 01:26] edemaine commented on #1171
I tried running `bower update katex` on the `gh-pages` branch, and I got the following output:

[code]

I conclude that bower katex somehow isn't updating... Any thoughts on how to fix this?

[2018-02-27 03:55] ronkok commented on #1171
Just out of curiosity, why does the demo page load its `katex.js` from the `bower_components` subdirectory? Why not get it from the cdnjs.cloudflare.com CDN like everyone else?

[2018-02-27 14:18] edemaine commented on #1171
@ronkok Nice idea.  My guess is that the demo site just predates CDN, but that seems like a good option too. One possible disadvantage is that the CDN might take a little while (day? more?) to update. But at the moment it's us who is out of date, not the CDN...

On the other hand, this wouldn't work to make it part of the release script.

I'm wonder about switching from Bower to NPM though.  At le

[2018-02-27 14:24] edemaine commented on #1171
Never mind, I got bower working: `rm -rf bower_components/katex` followed by `bower install katex` fixed it.

[2018-02-27 16:48] edemaine commented on #1173
@ronkok Definitely sounds like there's plenty of evidence to make this switch.  I also like the relative simplicity of CSS borders over SVG for such a common feature.

@arnog `thin` seems pretty imprecise according to the spec. For example, [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/border-width) says "the specification doesn't define the exact thickness denoted by each keyword, the pr

[2018-02-27 16:56] ronkok commented on #1173
Also, I can't think of a way to use `thin` and also support authors who write math in 72pt font. The frac-line needs to scale with external font-size.

@kevinbarabash I can write up a PR. I want to avoid merge conflicts with PR #1152, so I would like to either (1) Wait until after PR #1152 lands, or (2) revise #1152 to use span borders for frac-lines. Which would you prefer?

[2018-02-27 17:08] edemaine commented on #1115
On the other hand, I find it pretty annoying that `dockers/Screenshotter` is capitalized.  There doesn't seem to be any motivation for this, and I constantly mistype it.  Any objection to changing that one to lower case?

[2018-02-27 17:20] arnog commented on #1173
@edemaine agree that it's extremely annoying and only partially addresses the issue. I think the only viable fix is to have it fixed in Chrome.

To reproduce the problem more easily, in addition to using retina screens, try to vary the zoom level (up or down). In some (apparently) random cases, the borders will disappear. This happens on both Mac and Windows.

[2018-02-27 17:24] ronkok commented on #1173
@arnog, Would you mind looking at the [text page](http://copyasmarkup.com/test/lines/fracline-test.html), vary the zoom level as you describe, and tell me if any frac-lines disappear in any of the table bottom rows?

[2018-02-27 18:15] rahulpathakgit opened #1181 "Markdown version of Function support html page"
Hi,

Is it possible to get the markdown version of function support html page https://khan.github.io/KaTeX/function-support.html
I want to keep in my notes.

Regards
Rahul

[2018-02-27 18:18] edemaine commented on #1181
@ronkok can confirm, but that page was [written in HTML](https://github.com/Khan/KaTeX/blob/gh-pages/function-support.html), not Markdown.  So there is no Markdown version.  I'm not sure you could represent all the things on that page in Markdown...  But you could easily regex out all the `\(...\)` content and put it into your own Markdown file.

[2018-02-27 18:24] rahulpathakgit commented on #1181
Thanks Erik, I will surely try this.
Never got a change to thank you for A

[2018-02-27 18:24] #1181 closed

[2018-02-27 18:29] ronkok commented on #1181
@rahulpathakgit, I've lately avoided maintaining both an HTML version and a Markdown version of that page. Later today or tomorrow, I'll try running a couple of RegEx scripts as @edemaine suggests. If all goes smoothly, I'll revive the [wiki page](https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX) version. If successful, the wiki page will be similar to the HTML version, but without the

[2018-02-27 18:51] ylemkimon commented on #1171
It's little out of scope, but I think Github pages should be a separate repo, i.e., katex.github.io on KaTeX organization, as main repo Git history can become large.

[2018-02-27 19:12] ylemkimon commented on #1171
Also, I wonder if there are interests or needs for online demo(sandbox) for each build(PR and push), like Babel REPL, using build artifacts.

[2018-02-27 19:35] edemaine commented on #1171
@ylemkimon These both seem like good ideas.  It'd already be cool to compare outputs across released versions.  PR versions would be even neater -- handy for testing.  Can you link to a similar demo for another project?

@kevinbarabash What do you/KA think of moving the gh-pages branch into a new repo in the KaTeX project?

[2018-02-27 21:00] arnog commented on #1173
Yes, there are a few that still do, at 65% zoom level.

<img width="712" alt="screen shot 2018-02-27 at 12 50 24 pm" src="https://user-images.githubusercontent.com/760798/36754558-2a70a57e-1bbe-11e8-8630-4ead9311fb16.png">
<img width="712" alt="screen shot 2018-02-27 at 12 50 24 pm copy" src="https://user-images.githubusercontent.com/760798/36754560-2c455412-1bbe-11e8-81c7-1a64b8587831.png">

[2018-02-27 23:59] ronkok commented on #1181
@rahulpathakgit, I've updated the [wiki page](https://github.com/Khan/KaTeX/wiki/Function-Support-in-KaTeX).  I'll probably revisit this sometime next week and add a table of contents.

[2018-02-28 00:11] edemaine commented on #1181
@ronkok Is this / can this be an automated process? I'd hate to double your maintenance work...

[2018-02-28 02:37] ronkok commented on #1178
@alexeymrkn Thank you for determining that this problem takes place within a `contenteditable` div. That tip was the key to fixing the bug. A fix has now been merged into KaTeX master.

[2018-02-28 02:51] alexeymrkn commented on #1178
@ronkok It was my pleasure to make this nano contribution to this awesome project.

[2018-02-28 02:51] #1178 closed

[2018-02-28 07:53] selipso opened #1185 "Parse error when parsing HTML special characters"
When using the `katex.renderToString()` method on f&#39;(2)=g&#39;(2)=3 I get the following error:

[code]
In a regular HTML page, the above would render f'(2) = g'(2) = 3

Is there a flag that allows pass-through for HTML special characters on the server-side? I'm running this script using node.js.

More of an aside, but I've noticed I also get parsing errors when trying to parse regular HTML wit

[2018-02-28 08:06] ylemkimon commented on #1185
You can use `_.unescape` from `loadash` or packages like `unescape`.

[2018-02-28 09:49] rishabhfitkids opened #1186 "Add support for Indian Rupee"

[2018-02-28 10:03] ylemkimon commented on #1186
There is an open issue for adding various currency symbols: #1107.

[2018-02-28 10:03] #1186 closed

[2018-02-28 10:28] ylemkimon commented on #1171
@edemaine AFAIK, Babel as mentioned above: https://github.com/babel/babel/pull/7450#issuecomment-369175564.

[2018-02-28 11:42] netw0rkf10w commented on #454
@sophiebits @xymostech  Think about math forums. The equations are not there to be read only. For example, if somebody posts a question with a lot of equations, then for people who want to answer the question, it would be much more convenient for them to be able to copy the equations.

I am an administrator of a (big) math forum, and this is the most important reason why I'm still using MathJax (I

[2018-02-28 12:09] ylemkimon commented on #454
There is `copy-tex` extension, which puts LaTeX source code to the clipboard when rendered equation is copied. Also, in the extension, there is `katex2tex.js`, which extracts LaTeX source from rendered KaTeX element. You can use it to appropriate LaTeX source viewing method.

[2018-02-28 13:39] ylemkimon commented on #1171
I think at least we need to migrate to NPM, as `bower` is deprecated.

[2018-02-28 15:30] edemaine commented on #454
I wrote `copy-tex`, and it would probably not be hard to write a similar extension that overrode some click behavior to reveal the source code.  I think it'd be fine to include such a feature as a KaTeX `contrib` extension, but agree that it doesn't belong in the "base" KaTeX (because that doesn't do any client-side JavaScript).  @netw0rkf10w are you interested in writing such an extension?  If no

[2018-02-28 16:34] edemaine commented on #1185
Right, if you want to unescape HTML before calling `renderToString` explicitly, you should do something like
[code]
We can't do this automatically for you, because
[code]
has a meaning in LaTeX (though admittedly it's a weird one, involving a macro with 39 arguments that appears in a tabular environment).

How are your `'` characters getting escaped in the first place?

[2018-02-28 16:35] #1185 closed

[2018-02-28 16:47] netw0rkf10w commented on #454
@ylemkimon @edemaine  Awesome! I will definitely try it on my forum (not now but maybe in a month).

Thanks @edemaine for the great extension! The current "Select and copy" is already a very good option, but I think it would be nice to have an additional one that does not require selection (for example: right-click on the formula and "Copy LaTeX code", which I think is the best). Unfortunately I a

[2018-02-28 17:17] edemaine opened #1188 "0.8.0-pre is the default npm version"
I'm not sure how we can fix this (can we unrelease a version? or just move to 0.8.1), but `npm install katex` installs `0.8.0-pre` instead of `0.8.0`, I think because `-pre` is not a supported suffix in [semver](https://semver.org/).

[2018-02-28 17:19] edemaine commented on #1188
Oops, I think I just don't understand katex caching behavior... sorry!

[2018-02-28 17:19] #1188 closed

[2018-02-28 17:27] ronkok commented on #1173
Well, that's disappointing. But let me note some context.

The missing lines are from 12pt `scriptscriptstyle` and 7pt normal size fractions, depicted at **67% zoom**. For people over 50 years old, such missing lines are no loss. We (I'm 60) don't actually read anything of that size. It's not legible to us. Instead, that sort of thing is only an indicator that a text block exists and that we might

[2018-02-28 18:49] arnog commented on #1173
That's a reasonable course of action. One can hope that this issue will get fixed in Chrome at some point anyway. It's probably related to https://bugs.chromium.org/p/chromium/issues/detail?id=756345 or https://bugs.chromium.org/p/chromium/issues/detail?id=763402.

[2018-02-28 20:26] edemaine opened #1189 "\not broken with new spacing code"
0.9.0 seems to have introduced a bug in this simple example: `\not E`

0.9.0 renders as follows:
![image](https://user-images.githubusercontent.com/2218736/36811233-140437e6-1c9b-11e8-85fb-054231315fdf.png)
[code]

0.9.0-alpha2 (as on the current demo site) renders correctly:
![image](https://user-images.githubusercontent.com/2218736/36811296-40ca1cb4-1c9b-11e8-883a-42ba809d01b5.png)

[code]

[2018-02-28 20:31] edemaine opened #1190 "katex.version"
For debugging purposes, it would be handy if `katex.version` would return the version string for the loaded version of KaTeX.

[2018-02-28 21:37] pauljadam commented on #820
aria- ID references will render the MathML equation as flat static text spoken with no semantics so that won't work. You also can't detect screen readers in web pages.

[2018-02-28 22:13] mbostock opened #1191 "Inline \KaTeX is too wide in 0.9.0"
From https://beta.observablehq.com/@mbostock/katex-0-9-0-spacing-bug:

![image](https://user-images.githubusercontent.com/230541/36815835-cf79f7c8-1c90-11e8-88ba-8a08d95f1fcf.png)

Here I’m using KaTeX to render its logo (`\KaTeX`). In 0.8.3, the resulting span was 56.28px wide. In 0.9.0, it’s 72.31px wide. It seems that 0.9.0 makes use of negative right margins, and unfortunately it seems that th

[2018-02-28 22:36] edemaine commented on #1191
Yes, this is a consequence of #836 and my rewrite of \KaTeX using macros (and negative spaces). :frowning: It would be great to fix the root problem, #836, but we've not yet found a solution. Let us know if you find something!

[2018-02-28 23:02] pauljadam commented on #820
http://www.freedomscientific.com/content/html/jawshq/MathML-Samples.html These examples seem to work with explore by touch on iOS, it's using MathJax but I guess the visually hidden MathML content is taking up the same space as the MathJax rendered equation so when you touch it with VoiceOver on the iPad it reads the MathML

[2018-03-01 01:34] mbourne commented on #1173
I'm not sure too many people would zoom to 67% and if they did, they probably would have more than missing frac lines to worry about. It's basically impossible to read any of the text at that zoom level (as Ron indicated).

For the record, on Win10/Chrome, the lines are all still there in the bottom rows for me at 67%:

![image](https://user-images.githubusercontent.com/7541940/36822509-5bc1a698-1

[2018-03-01 07:42] selipso commented on #1185
Ah ok, makes sense, thanks. The mixed HTML/LaTeX content comes from an effort to unify different equation formats (including MathML :( ) to look consistent with each other. MathJax worked well for a while, but it's inevitable that native HTML/CSS is more cross-platform and scalable.

[2018-03-01 13:42] edemaine commented on #1185
Cool. Sounds like a challenge!

[2018-03-02 01:02] kevinbarabash commented on #820
@pauljadam the example you linked to is just rendering MathML and nothing else.

[2018-03-02 04:05] kevinbarabash commented on #1171
@edemaine I'm interested in moving in this direction.  There are some issues that I need to work through with the organization about making this change.  I've been busy with other stuff lately and so have put it on the back burner.  I'll pick this up again in April when I have some more time.

[2018-03-02 04:06] kevinbarabash commented on #1189
We should add a screenshot test case for this so we don't regress in the future.

[2018-03-03 05:41] ronkok commented on #836
For the specific case of: `\fbox{\$10,\!000,\!000,\!000,\!000}`, I can eliminate the problem by applying `width: min-content;` to CSS class `.boxpad`, which selects the parent element of that string.

Edge and IE don't support `width: min-content;`. Edge doesn't need it in this case. It renders the box just fine with or without that rule. I haven't checked IE.

I'm booked up for the next few days,

[2018-03-03 12:11] NileshPS opened #1192 "\mod, \bmod, \hspace etc not working anymore. :-("

[2018-03-03 12:24] NileshPS commented on #1192
False alarm. My bad.

[2018-03-03 12:24] #1192 closed

[2018-03-03 18:12] edemaine commented on #836
I reported this bug, which seems to be Chrome specific, to [bugs.chromium.org](https://bugs.chromium.org/p/chromium/issues/detail?id=818440).

`width: min-content`, or the more Chrome-specific `width: -webkit-min-content`, seems to do wonders even when just defined for the `.katex` class (as it gets inherited).

I've made a more careful PR for this in #1194.

[2018-03-03 18:13] edemaine commented on #1191
#1194 should fix this!

[2018-03-03 18:18] ronkok commented on #836
I thought about that, but I wonder about classes such as `stretchy`, which have a `width: 100%` rule. Does the `width: min-content` still get inherited? Or must it be added with more specificity after `stretchy`? Or should we redefine `stretchy` from 100% to `min-content`?

[2018-03-03 18:19] edemaine commented on #836
It doesn't get inherited in that case -- the width would remain `width: 100%` -- but I think that's what we want in this case.  PR #1194 opts for a different approach, just setting `width: min-content` on the root `.base` element.

[2018-03-03 18:35] edemaine commented on #836
Alas, changing `.mspace` from `display: inline-block` to `display: inline` fixes negative spaces, but breaks positive spaces.  So I'm switching back to the inheritance solution...

[2018-03-03 18:41] ronkok commented on #836
`.frac-line`, `.underline`, `.overline`, `svg`, `.stretchy`, and `.hide-tail` all have `width: 100%`. I would expect that all of them would benefit from adding `width: -webkit-min-content`.

[2018-03-04 16:43] edemaine commented on #836
@ronkok I'm pretty sure those need to stay `width: 100%` so that they grow to the width of the other objects / container.  I tried setting them to `width: min-content`, and it results in them being zero width.  We should just need `min-content` for things that can have children that are negative `.mspace` elements.

[2018-03-04 16:57] ronkok commented on #836
Okay, I agree that we can't just take the easy step of setting `.frac-line: width: min-content;`. But know that we haven't fixed the entire problem.  See the overly long frac-line below:

![widefrac](https://user-images.githubusercontent.com/16403058/36948015-05967700-1f89-11e8-89bd-82d140e850eb.PNG)

Class `vlist` contains elements in a VList.  Maybe it's the class that should get `width: min-con

[2018-03-04 17:08] edemaine commented on #836
Here's how that example renders on the #1194 branch:

![image](https://user-images.githubusercontent.com/2218736/36948168-898d33bc-1fa4-11e8-94f2-cf270d7040dd.png)

I've also tried more extreme forms, and the frac line is the correct length.

I believe there's another Chrome bug that's causing some other troubles though...  If I wrap the whole thing in an `\fbox`, I get the wrong box:

![image](ht

[2018-03-04 17:28] ronkok commented on #836
I stand corrected. The frac-line element is a sibling of the denominator, not a parent. So your inheritance works. Nice.

[2018-03-05 23:03] pauljadam commented on #820
@kevinbarabash  but in Chrome it renders the MathJax. Here's another example that renders MathJax in Chrome but MathML in Safari iOS http://wet-boew.github.io/wet-boew/demos/mathml/mathml-en.html

[2018-03-06 17:34] edemaine commented on #1171
Fixed by #1180

[2018-03-06 17:34] #1171 closed

[2018-03-07 13:24] ali-turan opened #1196 "Position problems"
Hi, I have a few question :

1- Integral sup and sub elements are not correctly positioned for my case. Or wide hat too close to its content. Is there an easy way to change positions?

2- Is it possible to add new symbols by using unicode and svg path? If it is how can I do that?

3- For example, I need double brackets (unicode: U+301A). How can I add it and how can I make it responsive to its con

[2018-03-09 02:44] edemaine commented on #1107
@ribrdb I would create a new issue, as that sounds much easier to fix. Please let us know what symbols specifically. Thanks!

[2018-03-09 08:51] ylemkimon commented on #1196
1. Could you post a screenshot?

[2018-03-09 08:55] ylemkimon commented on #1166
What do you mean by tests: local tests or CI tests?

[2018-03-09 15:07] spontaliku-softaria opened #1199 "\nobreakspace seems to be broken"
I'm getting error when trying to use it:
[code]
On https://khan.github.io/KaTeX/ there is an error too (but different one).

[2018-03-09 15:38] #1191 closed

[2018-03-09 15:56] kevinbarabash commented on #1107
They feel roughly the same cost.  If we don't add real glyphs we still need to add fake metrics similar to what we do for Cyrillic.

[2018-03-09 16:15] kevinbarabash commented on #1196
@ali-turan could you open separate issues for these?

[2018-03-09 16:16] kevinbarabash commented on #1166
I was thinking on CI.  I usually don't run tests locally.

[2018-03-09 16:31] kevinbarabash commented on #1199
Verified.  Thanks for reporting this issue.

[2018-03-09 17:13] edemaine commented on #1107
Sorry, I meant: if there's an *existing* currency symbol such as `\pounds` that isn't working in text mode but isn't, then let us know in a separate issue. But yes, for these *new* symbols, adding to math and text mode are equally difficult and this is the issue for both.

[2018-03-09 18:17] edemaine commented on #1196
I'm not sure we have an easy workflow for how to add symbols to fonts, though it's an area we've discussed.

Is there a LaTeX equivalent of double brackets that you're trying to achieve? If so, we'd probably consider it for the main KaTeX distribution.

[2018-03-09 23:14] #1199 closed

[2018-03-10 05:54] jiewuza opened #1202 "Is it possible to config $ as delimiters only when it is not followed immediately by a word of digits?"
Usually we use $ as dollar sign as $20, it is followed immediately by digits.
So if we can config both the left and the right $ as delimiter only when it is not followed immediately by a word of digits, we are freely to mix Katex math with dollar sign in most cases,
i.e. "Here is the math $2x^3$, .... $30 is enough"

[2018-03-10 13:46] edemaine commented on #1202
It would be easy to tweak the autorender contrib plug in to do this, but I don't think most users would want it to work this way.

Personally I'd rather have `\$` ignored by autorender.

The simplest thing would be to modify the delimiters supplied to autorender to use something other than a single `$`.

[2018-03-10 18:01] ronkok commented on #1202
Pandoc's `tex_math_dollars` extension treats `$...$` with just a bit more nuance. [Reference](http://pandoc.org/MANUAL.html#math). If we change the autorender contrib plug in, maybe we should follow its lead.

[2018-03-11 00:06] ribrdb opened #1204 "Currency symbols not allowed inside \text"
For example \yen works, but not \text{¥}

[2018-03-11 01:57] jiewuza commented on #1202
@ronkok I brought up the issue after I read Pandoc's  tex_math_dollars.

[2018-03-12 00:15] #1035 closed

[2018-03-12 09:03] FirdousNath commented on #400
how to render katex in webview? Kindly provide any code or tutorial link please !

[2018-03-12 13:24] edemaine commented on #400
@FirdousNath Check out #1155

[2018-03-13 01:22] #1204 closed

[2018-03-13 01:33] kevinbarabash opened #1209 "Refactor delimiter.js to use unicode to command mapping data"
In https://github.com/Khan/KaTeX/pull/1205 it was suggested that we try to reuse the data from symbols.js that defines a mapping between LaTeX command unicode character.  It's not immediately clear the best way to do that though so we decided to break that work off into a separate task.

[2018-03-13 03:08] ronkok commented on #1209
I suppose we could support each delimiter Unicode character with a macro, such as:
[code]

Then PR #1207 would not have to change any part of `symbols.js`, `delimiters.js`, or `delimsizing.js`.

But I'm not sure that the content of `delimiters.js` can be streamlined much further. Not all delimiters stretch vertically. The ones that do are listed in `delimiters.js`. That's the purpose of the list.